Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

feat(extension): verify subscription before translation
  packages/app/src/app/auth/pages/auto-sign-in-page/auto-sign-in-page.component.ts
  packages/extension-content-script/public/index.html
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/index.ts
Due: prettier --write

Notes added by 'git notes add'
  cd5b624e28b54871af0beef41c318b4a7916f6d1
Due: none

feat(app): automatically redirect to subscription page after successful hands-free login
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/auth/pages/auto-sign-in-page/auto-sign-in-page.component.ts
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.html
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.ts
  packages/app/src/app/pages/hands-free-page/hands-free-page.component.html
  packages/app/src/app/pages/hands-free-page/hands-free-page.component.scss
  packages/app/src/app/pages/hands-free-page/hands-free-page.component.ts
  packages/app/src/app/pages/sign-in-success-page/sign-in-success-page.component.html
  packages/app/src/app/pages/sign-in-success-page/sign-in-success-page.component.scss
  packages/app/src/app/pages/sign-in-success-page/sign-in-success-page.component.ts
  packages/extension-content-script/src/popup/contents.ts
Due: prettier --write

Notes added by 'git notes add'
  722301046e63e0d58dad25d69d722220c4a26c23
Due: none

feat(app): independent auto subscribe page
  packages/app/src/app/pages/sign-in-success-page/sign-in-success-page.component.ts
  packages/app/src/app/subscription/pages/auto-subscribe-page/auto-subscribe-page.component.html
  packages/app/src/app/subscription/pages/auto-subscribe-page/auto-subscribe-page.component.scss
  packages/app/src/app/subscription/pages/auto-subscribe-page/auto-subscribe-page.component.ts
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.ts
  packages/app/src/app/subscription/subscription-form/subscription-form.component.html
  packages/app/src/app/subscription/subscription-form/subscription-form.component.scss
  packages/app/src/app/subscription/subscription-form/subscription-form.component.ts
  packages/app/src/app/subscription/subscription-routing.module.ts
  packages/app/src/app/subscription/subscription.module.ts
Due: prettier --write

Notes added by 'git notes add'
  704ad6580666e2445a17902f63478de5d175aed7
Due: none

fix(app): subscription status icon size
  packages/app/src/app/subscription/pages/auto-subscribe-page/auto-subscribe-page.component.html
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.html
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.scss
  packages/app/src/app/subscription/subscription-form/subscription-form.component.html
  packages/app/src/styles/_utils.scss
  packages/extension-content-script/src/popup/contents.ts
Due: prettier --write

Notes added by 'git notes add'
  a8feaaad6c303cbeecbdcbc5c01fb5f94c584492
Due: none

feat(extension): wait for 3 seconds before closing the window
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.scss
  packages/extension-content-script/src/popup/contents.ts
Due: prettier --write

Notes added by 'git notes add'
  4c8d970105bc193502e9856e130cf9ccdb9b9db1
Due: none

fix(app): vertically center loading message for srs
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.ts
  packages/app/src/app/decks/decks-routing.module.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/app/src/styles/_hero.scss
Due: prettier --write

Notes added by 'git notes add'
  301679faaa6aa15003fc20a3326123e05deb2f44
Due: none

fix(app): prevent pinch zoom
  packages/app/src/index.html
Due: prettier --write

Notes added by 'git notes add'
  38c4adeb8e107c831677345e7f5cb4257c837d1b
Due: none

fix(app): dashboard without vertical scroll
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.scss
  packages/app/src/styles/_hero.scss
  packages/app/src/styles/_variables.scss
Due: prettier --write

Notes added by 'git notes add'
  61110617120de4f4818b8af0eacdef90b5a550a8
Due: none

fix(app): dashboard gradient to look good in safari
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.scss
Due: prettier --write

Notes added by 'git notes add'
  517eb4077c1e74a9d89bb2a46180b94680cd0cf9
Due: none

fix(app): proper dark body transparent to fix safari gradient issues
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.scss
  packages/app/src/styles/_variables.scss
Due: prettier --write

fix(app): manage subscription pwa header
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.html
Due: prettier --write

Notes added by 'git notes add'
  d8/82c0a6e83e9c38110caf6bdde7b2d25845cf69
Due: none

fix(extension): make sure the content script still has connection with the service worker before rendering translation button
  .idea/vocably.iml
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/index.ts
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/index.ts
  packages/extension/src/manifest.json.txt
  packages/extension/src/serviceWorker.ts
Due: prettier --write

Notes added by 'git notes add'
  6d/deca28039ceddf8e5b6f458fa34621418a6204
Due: none

fix(app): consider cards created simultaniously when sorting by date
  packages/app/src/app/decks/by-date.ts
Due: prettier --write

Notes added by 'git notes add'
  c6/dd1168d639895bbf4b63236dd9c33242612a7c
Due: none

chore: create extension-popup package
  package-lock.json
  packages/extension-popup/.browserslistrc
  packages/extension-popup/.gitignore
  packages/extension-popup/README.md
  packages/extension-popup/angular.json
  packages/extension-popup/package.json
  packages/extension-popup/src/app/app.component.html
  packages/extension-popup/src/app/app.component.scss
  packages/extension-popup/src/app/app.component.ts
  packages/extension-popup/src/app/app.module.ts
  packages/extension-popup/src/assets/.gitkeep
  packages/extension-popup/src/environments/environment.prod.ts
  packages/extension-popup/src/environments/environment.ts
  packages/extension-popup/src/favicon.ico
  packages/extension-popup/src/index.html
  packages/extension-popup/src/main.ts
  packages/extension-popup/src/polyfills.ts
  packages/extension-popup/src/styles.scss
  packages/extension-popup/src/test.ts
  packages/extension-popup/tsconfig.app.json
  packages/extension-popup/tsconfig.json
Due: prettier --write

chore(extension): use extension-popup package
  packages/extension-popup/angular.json
  packages/extension-popup/package.json
  packages/extension-popup/src/index.html
  packages/extension/src/manifest.json.txt
  packages/extension/src/popup.html
  packages/extension/webpack.config.js
Due: prettier --write

chore: automatically build extension popup
  scripts/build-packages.mjs
Due: prettier --write

chore(popup): update extension popup icon
  assets/icon.png
  packages/app/src/index.html
  packages/extension-popup/src/favicon.ico
  packages/extension-popup/src/index.html
  scripts/update-icon.mjs
Due: prettier --write

chore(extension-angular-components): automatically export extension components to angular library
  package-lock.json
  packages/extension-angular-components/.gitignore
  packages/extension-angular-components/.vscode/extensions.json
  packages/extension-angular-components/.vscode/launch.json
  packages/extension-angular-components/.vscode/tasks.json
  packages/extension-angular-components/README.md
  packages/extension-angular-components/angular.json
  packages/extension-angular-components/package.json
  packages/extension-angular-components/projects/library/.browserslistrc
  packages/extension-angular-components/projects/library/README.md
  packages/extension-angular-components/projects/library/ng-package.json
  packages/extension-angular-components/projects/library/package.json
  packages/extension-angular-components/projects/library/src/lib/.gitignore
  packages/extension-angular-components/projects/library/src/lib/library.module.ts
  packages/extension-angular-components/projects/library/src/public-api.ts
  packages/extension-angular-components/projects/library/tsconfig.lib.json
  packages/extension-angular-components/projects/library/tsconfig.lib.prod.json
  packages/extension-angular-components/projects/library/tsconfig.spec.json
  packages/extension-angular-components/tsconfig.json
  packages/extension-content-ui/config/build-config.ts
  packages/extension-content-ui/package.json
  packages/extension-popup/src/app/app.component.html
  packages/extension-popup/src/app/app.module.ts
  packages/extension/src/manifest.json.txt
Due: prettier --write

chore: automatically build extension-angular-components
  scripts/build-packages.mjs
Due: prettier --write

chore(extension-angular-components): skip unit testing
  packages/extension-angular-components/package.json
Due: prettier --write

feat(extension): popup app link
  packages/app/src/styles.scss
  packages/extension-popup/src/app/app.component.html
  packages/extension-popup/src/app/app.component.scss
  packages/extension-popup/src/app/app.component.ts
  packages/extension-popup/src/app/app.module.ts
  packages/extension-popup/src/app/header/header.component.html
  packages/extension-popup/src/app/header/header.component.scss
  packages/extension-popup/src/app/header/header.component.ts
  packages/extension-popup/src/environments/.gitignore
  packages/extension-popup/src/environments/environment.prod.ts
  packages/extension-popup/src/environments/environment.ts
  packages/extension-popup/src/environments/environmentLocal.example.ts
  packages/extension-popup/src/index.html
  packages/extension-popup/src/styles.scss
  packages/extension-popup/src/styles/_reset.scss
  packages/extension-popup/src/styles/_theme.scss
  packages/styles/_utils.scss
  packages/styles/mixins/_underline.scss
  platform/environments.tf
  platform/locals.tf
Due: prettier --write, terraform-fmt

chore: build extension popup with terraform
  platform/extension-popup.tf
  scripts/build-packages.mjs
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  bc/e54d6f65c721f2c7dd1c1765c0849ecb1a79ae
Due: none

fix(app): align loading decks message to the scrreen center
  packages/app/src/app/decks/decks.component.html
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
Due: prettier --write

Notes added by 'git notes add'
  96/413ab2b81ccba3647537e01c40d3aefa6b3b41
Due: none

fix(app): dashboard "edit deck" link in safe area
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.scss
Due: prettier --write

Notes added by 'git notes add'
  79/40c5ca254d14edb16004583598af654d690153
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
