Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

chore: flaky test
  packages/analyze/src/aiDirectTranslate.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  7b/ce723f21cbd589d5b93a7515f0b1507a20a056
Due: none

fix(analyze): translate the same source and target language
  packages/analyze/src/translate.ts
Due: prettier --write

chore: flaky test
  packages/analyze/src/translateDefinitions.spec.ts
Due: prettier --write

ci: bump node version
  .circleci/config.yml
Due: prettier --write

ci: verbose build
  platform/api.tf
  platform/app.tf
  platform/auth.tf
  platform/extension-popup.tf
  platform/www-api.tf
  platform/www.tf
Due: terraform-fmt

chore: flaky test
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

ci: max-old-space-size=2048 for backend build
  package-lock.json
  package.json
  platform/api.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  49/fb2865ca23b16a19f18beca77e94f9e0051e60
Due: none

chore: regnerate package-lock.json
  package-lock.json
Due: prettier --write

english onboarding
  mobile-app/src/Onboarding/data/de-en.ts
  mobile-app/src/Onboarding/data/en-ru.ts
  mobile-app/src/Onboarding/data/en.ts
  mobile-app/src/Onboarding/getOnboardingData.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/mobileAppOnboardingExamplesGenerator.spec.ts
  packages/analyze/src/mobileAppOnboardingExamplesGenerator.ts
  packages/analyze/src/mobileAppOnboardingGenerator/.gitignore
  packages/model/src/index.ts
  packages/model/src/mobile-onboarding.ts
  packages/model/src/user-metadata.ts
Due: prettier --write

onboarding data
  mobile-app/src/Onboarding/data/ar.ts
  mobile-app/src/Onboarding/data/da.ts
  mobile-app/src/Onboarding/data/de.ts
  mobile-app/src/Onboarding/data/el.ts
  mobile-app/src/Onboarding/data/es.ts
  mobile-app/src/Onboarding/data/fa.ts
  mobile-app/src/Onboarding/data/fi.ts
  mobile-app/src/Onboarding/data/fr.ts
  mobile-app/src/Onboarding/data/he.ts
  mobile-app/src/Onboarding/data/hi.ts
  mobile-app/src/Onboarding/data/id.ts
  mobile-app/src/Onboarding/data/it.ts
  mobile-app/src/Onboarding/data/ja.ts
  mobile-app/src/Onboarding/data/ko.ts
  mobile-app/src/Onboarding/data/ms.ts
  mobile-app/src/Onboarding/data/nl.ts
  mobile-app/src/Onboarding/data/no.ts
  mobile-app/src/Onboarding/data/pl.ts
  mobile-app/src/Onboarding/data/pt.ts
  mobile-app/src/Onboarding/data/ru.ts
  mobile-app/src/Onboarding/data/sv.ts
  mobile-app/src/Onboarding/data/th.ts
  mobile-app/src/Onboarding/data/tr.ts
  mobile-app/src/Onboarding/data/uk.ts
  mobile-app/src/Onboarding/data/vi.ts
  mobile-app/src/Onboarding/data/zh-TW.ts
  mobile-app/src/Onboarding/data/zh.ts
  mobile-app/src/Onboarding/getOnboardingData.ts
  packages/analyze/src/mobileAppOnboardingExamplesGenerator.spec.ts
  packages/analyze/src/mobileAppOnboardingExamplesGenerator.ts
  packages/model/src/mobile-onboarding.ts
Due: prettier --write

bump ios
  mobile-app/VERSION
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

set is reverse
  mobile-app/android/app/build.gradle
  mobile-app/src/OnboardingSlider.tsx
  mobile-app/src/WelcomeScreen.tsx
Due: prettier --write

xit
  packages/analyze/src/mobileAppOnboardingExamplesGenerator.spec.ts
Due: prettier --write

fix(moa): show onboarding slider when language is selected
  mobile-app/src/WelcomeScreen.tsx
  packages/analyze/src/mobileAppOnboardingExamplesGenerator.ts
Due: prettier --write

ci: limit max old space size for build processes
  platform/api.tf
  platform/app.tf
  platform/auth.tf
  platform/extension-popup.tf
  platform/www-api.tf
  platform/www.tf
Due: terraform-fmt

fix: filter out senseless lexicala responses
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/lexicala.ts
  platform/api.tf
  platform/extension-popup.tf
  platform/www.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  37/d69a5bf0bdef07af8f13c22c706e3a45cd04db
Due: none

chore: update semantic release
  .releaserc.js
  package-lock.json
  package.json
Due: prettier --write

feat(moa): less than a minute
  mobile-app/src/RequestFeedback/Form.tsx
Due: prettier --write

Notes added by 'git notes add'
  95/a90d1cc1b2bba16f61c122909db4c019cc51ae
Due: none

feat(moa): onboarding translates words
  mobile-app/android/app/build.gradle
  mobile-app/src/OnboardingSlider.tsx
Due: prettier --write

ci: correct repository
  package.json
Due: prettier --write

Notes added by 'git notes add'
  eb/ef851bbcb1fefbaa799b7760b364251672f99e
Due: none

fix(moa): welcome screen form
  mobile-app/src/WelcomeScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  6a/27d1615ee45fa5a9c9449139a1e43ffcb9ddc0
Due: none

chore: bump android
  mobile-app/android/app/build.gradle
Due: none

Notes added by 'git notes add'
  e0/f9f97e19bf9e633789fbd709cd93ddc384a626
Due: none

feat(moa): request the rating when at least 30 cards are added
  mobile-app/src/study/Completed.tsx
  mobile-app/src/study/Study.tsx
Due: prettier --write

Notes added by 'git notes add'
  05/65e65774e2fb97c3ea6010c7c2a2abcd484ed7
Due: none

feat(moa): onboarding analytics
  mobile-app/src/OnboardingSlider.tsx
Due: prettier --write

chore: bumb mobile version
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  packages/analyze/src/aiRevrseTranslate.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  4e/4a561231e0b0d0889b447707cb48c786e7323b
Due: none

fix(analyse): better direct ai translations
  packages/analyze/src/aiDirectTranslate.spec.ts
  packages/analyze/src/aiDirectTranslate.ts
  packages/analyze/src/aiDirectTranslateConstants.ts
  packages/analyze/src/aiReverseTranslate.ts
  packages/analyze/src/buildBulkAnalysisResult.ts
  packages/analyze/src/chatGptRequest.ts
  packages/analyze/src/translateDefinitions.ts
  packages/analyze/src/translateFromContext.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
