Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

refactor: move language list to the model package
  packages/app/src/app/language/getFullLanguageName.ts
  packages/model/src/index.ts
  packages/model/src/language-list.ts
Due: prettier --write

refactor: move getLanguageFullName function to model package
  packages/app/src/app/decks/pages/edit-page/edit-page.component.ts
  packages/app/src/app/language/getFullLanguageName.ts
  packages/app/src/app/language/language.pipe.ts
  packages/model/src/language-list.ts
Due: prettier --write

feat(extension): source language selector
  packages/extension-content-script/public/index.html
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/createCards.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/errors.ts
Due: prettier --write

Notes added by 'git notes add'
  dd4870474a7fcd92eea7ff42985670cf9e5de89d
Due: none

fix(extension): button shows up only for text selection not exiding 30 symbols
  packages/extension-content-script/public/index.html
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/button.ts
  packages/extension-content-script/src/index.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/selection.ts
  packages/model/src/constants.ts
  packages/model/src/index.ts
Due: prettier --write

Notes added by 'git notes add'
  a20f233394b81447885a56c41a0a8b673f9fe4aa
Due: none

fix(app): toast to be sticked to bottom
  packages/app/src/app/app.component.html
Due: prettier --write

Notes added by 'git notes add'
  ada6650b0e26f22df378233725c22330189d4588
Due: none

fix(extension): consider selection may disappear during the the button position calculation
  packages/extension-content-script/src/button.ts
Due: prettier --write

Notes added by 'git notes add'
  5ca68dfcb2f6a1f03f85bcc9924ae7be37300570
Due: none

feat(app): pull to refresh
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.ts
  packages/app/src/app/decks/decks.component.ts
  packages/app/src/app/refresh.service.spec.ts
  packages/app/src/app/refresh.service.ts
  packages/app/src/app/update.service.ts
Due: prettier --write

Notes added by 'git notes add'
  8697ca0a6f77d7f263181eccc6d73dd2b3f82d6d
Due: none

fix(app): disable refresher in study mode
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.ts
  packages/app/src/app/decks/decks-routing.module.ts
Due: prettier --write

Notes added by 'git notes add'
  0413ea115949090293285eaaa473bb9e88bdceb7
Due: none

fix(app): scroll to top
  packages/app/src/app/app.module.ts
Due: prettier --write

Notes added by 'git notes add'
  769a50cef48f5effd2ccdaebe33b4b53e412da82
Due: none

chore: update dependencies
  package-lock.json
  package.json
  packages/app-e2e/cypress/integration/2-authorized/edit-card.spec.ts
  packages/app-e2e/cypress/support/snapshot.ts
  packages/app-e2e/snapshots/All Integration Specs/deck selector clicked.snap.png
  packages/app-e2e/snapshots/All Integration Specs/delete card - restore button.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit card - cancelled item.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit card - form.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit card - type new value.snap.png
  packages/app-e2e/snapshots/All Integration Specs/login screen.snap.png
  packages/app/package.json
  packages/app/src/app/app.component.html
Due: prettier --write

feat(app): pretty underline
  packages/app/src/app/srs/card-options/card-options.component.html
  packages/app/src/app/srs/card-options/card-options.component.scss
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/_utils.scss
  packages/app/src/styles/mixins/_underline.scss
Due: prettier --write

Notes added by 'git notes add'
  55b9afc361a33ec81f570e0f9c91ef8ac5c80709
Due: none

feat(app): checkout screen
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.component.ts
  packages/app/src/app/subscription/paddle.service.ts
  packages/app/src/app/subscription/paddle.ts
  packages/app/src/app/subscription/paddle/event.ts
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.html
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.scss
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.ts
  packages/app/src/app/subscription/subscription-routing.module.ts
  packages/app/src/app/subscription/subscription.module.ts
  packages/app/src/environments/environmentLocal.example.ts
  packages/app/src/index.html
  packages/app/src/main.ts
  packages/app/src/styles/_utils.scss
  platform/environments.tf
  platform/variables.tf
Due: prettier --write, terraform-fmt

chore: automatically create test user
  packages/app-e2e/.env
  packages/app-e2e/cypress/support/login.ts
  platform/app.tf
  platform/auth.tf
  platform/environments.tf
  platform/locals.tf
  platform/variables.tf
Due: prettier --write, terraform-fmt

ci: properly declare test_user_password variable
  scripts/declare-variables.sh
Due: none

Notes added by 'git notes add'
  203185cd1198853b5d02a9f675031983a5630d45
Due: none

feat(backend): paddle webhook endpoint
  package-lock.json
  package.json
  packages/backend/.env
  packages/backend/src/lambdas/paddle/extractBody.ts
  packages/backend/src/lambdas/paddle/extractPaddleEvent.ts
  packages/backend/src/lambdas/paddle/index.spec.ts
  packages/backend/src/lambdas/paddle/index.ts
  packages/backend/src/lambdas/paddle/types.ts
  packages/backend/src/lambdas/paddle/verifyCaller.ts
  packages/extension/.env
  packages/model/src/index.ts
  packages/model/src/subscription.ts
  platform/api-analyze.tf
  platform/api-paddle.tf
  platform/api.tf
  platform/environments.tf
  platform/variables.tf
  scripts/php-array-to-urlencode.mjs
Due: prettier --write, terraform-fmt

feat(backend): handle 'subscription_created' event
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.ts
  packages/backend/.env
  packages/backend/src/lambdas/paddle/handleEvent.ts
  packages/backend/src/lambdas/paddle/handleEvent/addToGroup.ts
  packages/backend/src/lambdas/paddle/handleEvent/handleSubscriptionCreated.ts
  packages/backend/src/lambdas/paddle/handleEvent/setupUserAttributes.ts
  packages/backend/src/lambdas/paddle/index.spec.ts
  packages/backend/src/lambdas/paddle/index.ts
  packages/model/src/subscription.ts
  platform/api-paddle.tf
  platform/auth.tf
  platform/environments.tf
  scripts/.env
  scripts/.gitignore
  scripts/helpers/colors.mjs
  scripts/php-array-to-urlencode.mjs
  scripts/php-array-to-urlencode/.gitignore
  scripts/php-array-to-urlencode/example.txt
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  6d6a314f3f6d912a35fec1a28544e540bbcc822b
Due: none

chore(backend): paddle test environment events
  packages/backend/.env.test
  packages/backend/src/lambdas/paddle/_mocks/events.ts
  packages/backend/src/lambdas/paddle/index.spec.ts
  platform/dev.tfvars
  platform/environments.tf
  platform/prod.tfvars
  platform/stage.tfvars
  platform/variables.tf
Due: prettier --write, terraform-fmt

feat(app): inline checkin passthrough
  packages/app/src/app/subscription/paddle.ts
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  163ab547f9507fa0673be21fdf914efaac719120
Due: none

feat(app): display subscription status
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/components/subscription-status.pipe.ts
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.scss
  packages/app/src/app/header/header.component.ts
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.ts
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/_utils.scss
  packages/app/src/styles/mixins/_underline.scss
  packages/backend/src/lambdas/paddle/types.ts
  packages/model/src/subscription.ts
Due: prettier --write

Notes added by 'git notes add'
  7952931f9a8da97e20e0192f07afb22642a3df5e
Due: none

fix(app): scroll to top on status bar click
  packages/app/package.json
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.ts
  packages/app/src/app/components/tooltip/tooltip.component.scss
  packages/app/src/index.html
  packages/app/src/styles.scss
  packages/app/src/styles/_material-theme.scss
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/_utils.scss
  platform/app.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  2e3c1f3ad038d083624b959ad8d25d3322a8359b
Due: none

fix(app): stick update snackbar to the bottom of the page
  packages/app/src/app/app.module.ts
  packages/app/src/app/update.service.ts
Due: prettier --write

Notes added by 'git notes add'
  99636e5c4ab9de5da4342f553b5163c5acacc2e0
Due: none

fix(app): delete deck dialog not to scroll the page
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/edit-page/delete-confirmation-dialog/delete-confirmation-dialog.component.html
  packages/app/src/app/decks/pages/edit-page/delete-confirmation-dialog/delete-confirmation-dialog.component.scss
  packages/app/src/app/decks/pages/edit-page/delete-confirmation-dialog/delete-confirmation-dialog.component.ts
  packages/app/src/app/decks/pages/edit-page/edit-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  d39082dcc4fa5c458355468bb192508e385ddeac
Due: none

fix(app): main menu to disappear on click
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.module.ts
Due: prettier --write

Notes added by 'git notes add'
  1e8c073bab7a1f53906bd43a19c03331e72ea68d
Due: none

fix(app): refresher activation only on a page scrolled to the top
  packages/app/src/app/app.component.ts
Due: prettier --write
