Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

Notes added by 'git notes add'
  c2/5615122896e0226c61dfa64ae167b29cb9d7d3
Due: none

refactor: get rid of generic back button
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.scss
  packages/app/src/app/header/header.component.ts
  packages/app/src/styles/_themes.scss
Due: prettier --write

feat: enable email onboarding flow
  packages/auth-lambdas/src/auth-post-confirmation/brevo.spec.ts
  packages/auth-lambdas/src/auth-post-confirmation/index.ts
  packages/backend/src/utils/buildErrorResponse.ts
  platform/api-onboard.tf
Due: prettier --write, terraform-fmt

chore: add logs in onboard handler
  packages/backend/src/lambdas/onboard/handleAction.ts
Due: prettier --write

feat: auth post confirmation lambda logs
  packages/auth-lambdas/src/auth-post-confirmation/index.ts
Due: prettier --write

Notes added by 'git notes add'
  31/05da876f5c49f561f4decb61ca7ebd69ffc8c0
Due: none

export page
  packages/app/src/app/components/back-button/back-button.component.scss
  packages/app/src/app/decks/decks-routing.module.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.scss
  packages/app/src/app/decks/pages/export-page/export-page.component.html
  packages/app/src/app/decks/pages/export-page/export-page.component.scss
  packages/app/src/app/decks/pages/export-page/export-page.component.ts
Due: prettier --write

copy all
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/export-page/export-page.component.html
  packages/app/src/app/decks/pages/export-page/export-page.component.ts
  packages/app/src/app/decks/pages/export-page/prepareColumn.ts
  packages/app/src/styles/_material-palette-generator.scss
Due: prettier --write

download
  packages/app/src/app/decks/pages/export-page/export-page.component.html
  packages/app/src/app/decks/pages/export-page/export-page.component.ts
Due: prettier --write

feat(app): export csv (#46)
  packages/app/src/app/components/back-button/back-button.component.scss
  packages/app/src/app/decks/decks-routing.module.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.scss
  packages/app/src/app/decks/pages/export-page/export-page.component.html
  packages/app/src/app/decks/pages/export-page/export-page.component.scss
  packages/app/src/app/decks/pages/export-page/export-page.component.ts
  packages/app/src/app/decks/pages/export-page/prepareColumn.ts
  packages/app/src/styles/_material-palette-generator.scss
Due: prettier --write

feat(app): pad zeros in csv filenames
  packages/app/src/app/decks/pages/export-page/export-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  4b/49eb259df9cbdd670939b4fa6906f564be4a28
Due: none

feat(app): mobile app advertisement before the practice
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.ts
  packages/app/src/app/decks/pages/dashboard-page/mobile-app-encourager/mobile-app-encourager.component.html
  packages/app/src/app/decks/pages/dashboard-page/mobile-app-encourager/mobile-app-encourager.component.scss
  packages/app/src/app/decks/pages/dashboard-page/mobile-app-encourager/mobile-app-encourager.component.ts
Due: prettier --write

feat(app): shorten the mobile app ad
  packages/app/src/app/decks/pages/dashboard-page/mobile-app-encourager/mobile-app-encourager.component.html
Due: prettier --write

Notes added by 'git notes add'
  04/da93a42c53a1c3a2d556be2070338f069c37b7
Due: none

feat(app): hands-free: rephrase the extension restart instructions
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.html
Due: prettier --write

Notes added by 'git notes add'
  db/04153c1d350a20862a25741ac317595a64d83d
Due: none

fix(nodeFetchUserMetadata): enrich metadata with default values
  packages/lambda-shared/src/nodeUserMetadata.ts
  platform/auth.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  02/f5203ec54bafced791721c34beb5a5bededdac
Due: none

feat(app): remove onboarded languages local variable on log out
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/pages/settings-page/delete-account-confirmation/delete-account-confirmation.component.html
  packages/app/src/app/pages/settings-page/settings-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  dc/adfb7319dfc533ae02fd5c37e630d6512d9792
Due: none

feat(app): hightlight -> select
  packages/app/src/app/welcome/detailed-explanation/detailed-explanation.component.html
  packages/app/src/app/welcome/generic-instruction/generic-instruction.component.html
  packages/app/src/app/welcome/pages/second-page/second-page.component.html
Due: prettier --write

Notes added by 'git notes add'
  49/477fc8f4d9f232763ac079d1f3808ff3463748
Due: none

import
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/components/deck-selector/deck-selector.component.html
  packages/app/src/app/components/deck-selector/deck-selector.component.scss
  packages/app/src/app/components/deck-selector/deck-selector.component.ts
  packages/app/src/app/components/language-input/language-input.component.html
  packages/app/src/app/components/language-input/language-input.component.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/header/header.component.html
  packages/app/src/app/pages/import-page/import-page.component.html
  packages/app/src/app/pages/import-page/import-page.component.scss
  packages/app/src/app/pages/import-page/import-page.component.ts
  packages/app/src/app/welcome/pages/index-page/index-page.component.html
  packages/app/src/app/welcome/pages/index-page/index-page.component.ts
Due: prettier --write

upload and read csv
  packages/app/src/app/header/header.component.html
  packages/app/src/app/pages/import-page/import-page.component.html
  packages/app/src/app/pages/import-page/import-page.component.ts
Due: prettier --write

parse cvs
  packages/app/src/app/header/header.component.html
  packages/app/src/app/pages/import-page/csvToArray.ts
  packages/app/src/app/pages/import-page/import-page.component.html
  packages/app/src/app/pages/import-page/import-page.component.ts
Due: prettier --write

feat(app): export part of speech
  packages/app/src/app/decks/pages/export-page/export-page.component.html
  packages/app/src/app/decks/pages/export-page/export-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  26/75e76bd2345f9daa88e5654cf0d918c03f9d23
Due: none

line numbers
  packages/app/src/app/pages/import-page/import-page.component.html
Due: prettier --write

feat(app): better looking export functionality
  packages/app/src/app/decks/pages/export-page/export-page.component.html
Due: prettier --write

feat(app): humane mobile app reasoning
  packages/app/src/app/decks/pages/dashboard-page/mobile-app-encourager/mobile-app-encourager.component.html
Due: prettier --write

feat(www): just free
  packages/www/src/partials/layout.handlebars
Due: none

feat(app): export csv editor dark theme
  packages/app/src/app/decks/pages/export-page/export-page.component.html
  packages/app/src/styles/_forms.scss
Due: prettier --write

Notes added by 'git notes add'
  a3/da9e332593a4abe1a6eca83eb1c8e5eb65f05d
Due: none

feat(app): export deck back button
  packages/app/src/app/decks/pages/export-page/export-page.component.html
Due: prettier --write

feat(app): mobile modal don't show this message anymore
  packages/app/src/app/decks/pages/dashboard-page/mobile-app-encourager/mobile-app-encourager.component.html
Due: prettier --write

Notes added by 'git notes add'
  9b/2b5b62eb01f389dbc31980ba898dd7d0500d0e
Due: none

tag selector
  packages/app/src/app/app.module.ts
  packages/app/src/app/components/deck-selector/deck-selector.component.ts
  packages/app/src/app/decks/deck-list-store.service.ts
  packages/app/src/app/decks/decks.component.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/app/src/app/pages/import-page/import-page.component.html
  packages/app/src/app/pages/import-page/import-page.component.ts
  packages/app/src/app/tags/tags-selector/tags-selector.component.html
  packages/app/src/app/tags/tags-selector/tags-selector.component.scss
  packages/app/src/app/tags/tags-selector/tags-selector.component.ts
  packages/app/src/app/tags/tags.module.ts
  packages/model/src/language-deck.ts
Due: prettier --write

tag form
  packages/app/src/app/tags/tag-form/tag-form.component.html
  packages/app/src/app/tags/tag-form/tag-form.component.scss
  packages/app/src/app/tags/tag-form/tag-form.component.ts
  packages/app/src/app/tags/tags-selector/tags-selector.component.html
  packages/app/src/app/tags/tags-selector/tags-selector.component.ts
  packages/app/src/app/tags/tags.module.ts
Due: prettier --write

delete confirmation modal
  packages/app/src/app/tags/delete-confirmation/delete-confirmation.component.html
  packages/app/src/app/tags/delete-confirmation/delete-confirmation.component.scss
  packages/app/src/app/tags/delete-confirmation/delete-confirmation.component.ts
  packages/app/src/app/tags/tag-form/tag-form.component.html
  packages/app/src/app/tags/tag-form/tag-form.component.ts
  packages/app/src/app/tags/tags.module.ts
  packages/model/src/language-deck.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
