Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

Notes added by 'git notes add'
  0f/ad6ee02d2869c5314db23b5ac7df6200b5a4b5
Due: none

feat(app): back button
  packages/app/src/app/components/back-button/back-button.component.html
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.scss
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.scss
  packages/app/src/app/header/header.component.ts
  packages/app/src/styles/_hero.scss
  packages/app/src/styles/_themes.scss
  packages/app/src/styles/_variables.scss
Due: prettier --write

fix(app): language selector positioning
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/app/src/app/decks/deck-selector/deck-selector.component.scss
Due: prettier --write

Notes added by 'git notes add'
  34/0caa8f9518bd7e92a5c79002b5c6f99caffe22
Due: none

feat(app): beautiful buttons
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/_variables.scss
Due: prettier --write

feat(app): beautiful dashboard cards list
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.scss
  packages/app/src/index.html
  packages/app/src/styles.scss
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/_lists.scss
  packages/app/src/styles/_material-palette-generator.scss
  packages/app/src/styles/_material-theme.scss
  packages/app/src/styles/_themes.scss
  packages/app/src/styles/_utils.scss
  packages/app/src/styles/_variables.scss
  packages/styles/_utils.scss
  packages/www/src/styles/components/_navbar.scss
Due: prettier --write

fix(app): dashboard list to match button size
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/styles/_buttons.scss
Due: prettier --write

feat(app): center dashboard edit link
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/styles/_utils.scss
Due: prettier --write

feat(app): beautiful study section
  packages/app/src/app/decks/pages/study-page/study-page.component.scss
  packages/app/src/app/srs/card-options/card-options.component.scss
  packages/app/src/app/srs/card/card.component.html
  packages/app/src/app/srs/card/card.component.scss
  packages/app/src/app/srs/side-b/side-b.component.html
  packages/app/src/app/srs/side-b/side-b.component.ts
  packages/app/src/app/srs/success/success.component.html
  packages/app/src/app/srs/success/success.component.scss
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.html
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.html
  packages/app/src/styles/_lists.scss
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/_utils.scss
  packages/app/src/styles/_variables.scss
  packages/app/src/styles/mixins/_link.scss
  packages/styles/_utils.scss
Due: prettier --write

chore(www): navbar item active color
  packages/www/src/styles/components/_navbar.scss
Due: prettier --write

Notes added by 'git notes add'
  34/c825894dce68a4026bfa6cea919bf1ee96c5ff
Due: none

fix(app): outside list styling
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
  packages/app/src/app/srs/card/card.component.html
  packages/app/src/app/srs/side-b/side-b.component.html
  packages/app/src/app/srs/side-b/side-b.component.ts
  packages/app/src/styles/_lists.scss
  packages/styles/_utils.scss
Due: prettier --write

fix(app): menu item colors
  packages/app/src/app/header/header.component.scss
Due: prettier --write

Notes added by 'git notes add'
  76/56e2ebf620b6b5c42abc11baf8cb8f717351ec
Due: none

feat(app): beautiful edit page grid
  packages/app/src/app/decks/card/card.component.html
  packages/app/src/app/decks/card/card.component.scss
  packages/app/src/app/decks/card/card.component.ts
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/app/src/app/decks/deck-selector/deck-selector.component.scss
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.scss
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/app/header/header.component.html
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/mixins/_link.scss
  packages/app/src/styles/mixins/_unstyled.scss
Due: prettier --write

Notes added by 'git notes add'
  8e/2953942ed51948e83f66e27671e9d7c74a4b2a
Due: none

fix(app): sort cards by date + source + partOfSpeech
  packages/app/src/app/decks/by-date.ts
Due: prettier --write

Notes added by 'git notes add'
  e8/d4d16d6d7e0c2ee5ed8820a4a98c8718a3eeea
Due: none

feat(app): beautiful restore link
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
Due: prettier --write

feat(app): beautiful edit form
  packages/app/src/app/decks/pages/edit-page/card-form/card-form.component.html
  packages/app/src/styles/_forms.scss
  packages/app/src/styles/_variables.scss
  packages/styles/_variables.scss
Due: prettier --write

fix(app): cancel delete wording
  packages/app/src/app/decks/pages/edit-page/delete-confirmation-dialog/delete-confirmation-dialog.component.html
Due: prettier --write

Notes added by 'git notes add'
  a5/a99ed774a42da0bfc936c57030cd65443df295
Due: none

fix(app): list items
  packages/app/src/app/srs/side-b/side-b.component.html
  packages/app/src/app/srs/side-b/side-b.component.scss
  packages/app/src/styles/_lists.scss
Due: prettier --write

Notes added by 'git notes add'
  04/d22ec8f0bf3940d9cfe8566363c853405633d4
Due: none

fix(app): list bullets in ios safari
  packages/app/src/styles/_lists.scss
Due: prettier --write

Notes added by 'git notes add'
  a9/e87fa8bc2722e66cb140adec77bd615d885a0d
Due: none

feat(www): open graph title, description, and image
  packages/www/environment.example.js
  packages/www/src/assets/img/app-store-badge.svg
  packages/www/src/assets/img/demo-screen.mp4
  packages/www/src/assets/img/google-play-badge.svg
  packages/www/src/assets/img/portrait_black.png
  packages/www/src/assets/img/tnw-logo.svg
  packages/www/src/assets/og-image.png
  packages/www/src/pages/index.handlebars
  packages/www/src/pages/privacy-policy.handlebars
  packages/www/src/pages/terms-and-conditions.handlebars
  packages/www/src/partials/layout.handlebars
  platform/environments.tf
  platform/locals.tf
  platform/www.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  1d/1746a44095cf6ddb38d222ab519438ce2ba311
Due: none

fix(www): og-image 1200x630
  packages/www/src/assets/og-image.png
Due: none

Notes added by 'git notes add'
  45/b0f807032a6e58f42a383ea4b0b345d337e3cd
Due: none

feat(app): beautiful product selection page
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.html
  packages/app/src/app/subscription/subscription-product/subscription-product.component.html
  packages/app/src/app/subscription/subscription-product/subscription-product.component.scss
  packages/app/src/index.html
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/_layout.scss
  packages/app/src/styles/_material-theme.scss
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/_variables.scss
  packages/app/src/styles/mixins/_button.scss
  packages/app/src/styles/mixins/_strike-through.scss
  packages/styles/_utils.scss
  packages/styles/_variables.scss
Due: prettier --write

Notes added by 'git notes add'
  35/c69ba8eb4b543503cee96d16590f17d310046c
Due: none

feat(app): product select button hover
  packages/app/src/app/subscription/subscription-product/subscription-product.component.scss
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/mixins/_button.scss
Due: prettier --write

feat(app): disabled button grayscale color
  packages/app/src/styles/_buttons.scss
Due: prettier --write

chore: paddle image
  assets/paddle.png
Due: none

Notes added by 'git notes add'
  ed/a9d468faa6c516f4c6f16438ed619ad2d838b1
Due: none

feat(app): beautiful manage subscription page
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.ts
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.html
  packages/app/src/app/subscription/subscription-form/subscription-form.component.html
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/mixins/_button.scss
Due: prettier --write

fix(extension): padding bottom similar to padding-x
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
Due: prettier --write

Notes added by 'git notes add'
  c1/5fb9e4a82135d07e1a652f9926ea24546743a7
Due: none

Notes added by 'git notes add'
  0e/efdfa5a28bab0ca59ee202e3f5dfa72a629e30
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
