Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

configure cors
  platform/www-api.tf
Due: terraform-fmt

node sulna
  package-lock.json
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/lexicala.spec.ts
  packages/analyze/src/word-dictionary.spec.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/cards-backupper/index.spec.ts
  packages/backend/src/lambdas/play-sound/index.spec.ts
  packages/backend/src/lambdas/user-feedback/index.spec.ts
  packages/node-sulna/.gitignore
  packages/node-sulna/jest.config.js
  packages/node-sulna/package.json
  packages/node-sulna/src/index.ts
  packages/node-sulna/src/inspect.ts
  packages/node-sulna/tsconfig.commonjs.json
  packages/node-sulna/tsconfig.json
  packages/sulna/src/index.ts
  packages/www-backend/src/lambdas/analyze/index.spec.ts
  packages/www/src/index.ts
  scripts/build-packages.mjs
Due: prettier --write

analyse
  package-lock.json
  packages/analysis-cards/.gitignore
  packages/analysis-cards/jest.config.js
  packages/analysis-cards/package.json
  packages/analysis-cards/src/createTranslationCards.test.ts
  packages/analysis-cards/src/createTranslationCards.ts
  packages/analysis-cards/src/index.ts
  packages/analysis-cards/tsconfig.commonjs.json
  packages/analysis-cards/tsconfig.json
  packages/extension-service-worker/src/index.ts
  packages/model/src/errors.ts
  packages/www/src/index.ts
  scripts/build-packages.mjs
Due: prettier --write

audio pronounciation
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/configuration.ts
  packages/extension-content-script/src/index.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/www/src/index.ts
Due: prettier --write

add cards
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
Due: prettier --write

not allowed
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.scss
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/www/src/index.ts
  packages/www/src/pages/index.handlebars
Due: prettier --write

icon
  packages/www/src/assets/vocably-icon.svg
  packages/www/src/pages/index.handlebars
Due: none

Install pods
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
Due: none

Add App Groups capability
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/VocablyPro.entitlements
  mobile-app/ios/VocablyProShare/VocablyProShare.entitlements
Due: none

Edit Info.plist files
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProShare/Info.plist
Due: none

Edit `AppDelegate.mm`
  mobile-app/ios/VocablyPro/AppDelegate.mm
Due: none

feat(moa): ask-for-review message simiar to extension
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/src/AskForReview/Form.tsx
Due: prettier --write

Notes added by 'git notes add'
  ad/720638e524bb2dba0faea4511dc27191057113
Due: none

feat(moa): visible ask for review
  mobile-app/android/app/build.gradle
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/package.json
  mobile-app/src/AskForReview/Form.tsx
Due: prettier --write

Fix Info.plist
  mobile-app/ios/VocablyProShare/Info.plist
Due: none

Notes added by 'git notes add'
  8e/166617044b12ab32fe4db0cbd28feba39d79a2
Due: none

chore: analyze test env
  packages/analyze/.env.test
  platform/environments.tf
Due: terraform-fmt

chore: analyze test local
  platform/environments.tf
Due: terraform-fmt

feat: japansese romaji
  package-lock.json
  package.json
  packages/analyze/src/buildDirectResult.ts
  packages/analyze/src/buildDirectResult/buildDirectJapaneseResult.ts
  packages/analyze/src/buildDirectResult/extractJapaneseHeadwords.test.ts
  packages/analyze/src/buildDirectResult/extractJapaneseHeadwords.ts
  packages/analyze/src/buildDirectResult/translateJapaneseHeadwords.spec.ts
  packages/analyze/src/buildDirectResult/translateJapaneseHeadwords.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/isOneWord.test.ts
  packages/analyze/src/lexicala.ts
  packages/analyze/src/lexicalaResultToAnalysisItems.ts
Due: prettier --write

test: fix isOweWord
  packages/analyze/src/isOneWord.test.ts
Due: prettier --write

fix: japanese definitions without kanji
  packages/analyze/src/buildDirectResult/buildDirectJapaneseResult.ts
Due: prettier --write

test(analyze): configure test analyzer for google translate
  packages/analyze/src/buildDirectResult/translateJapaneseHeadwords.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  11/90520d1ee88fb13f5d0dd5178b9e19d850d096
Due: none

feat(japanese): use english as a proxy language to translate to languages not supported by lexicala
  packages/analyze/src/buildDirectResult/buildDirectJapaneseResult.ts
  packages/analyze/src/buildDirectResult/translateJapaneseHeadwords.spec.ts
  packages/analyze/src/buildDirectResult/translateJapaneseHeadwords.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/extractTranslation/extractItemTranslation.ts
Due: prettier --write

test(extractItemTranslation): fix
  packages/analyze/src/extractTranslation/extractItemTranslation.test.ts
Due: prettier --write

Notes added by 'git notes add'
  bf/5cb485a3cd2dd26436c3b410d5646f14c16ffe
Due: none

Disable flipper for ios
  mobile-app/.env
  mobile-app/ios/.env
  mobile-app/ios/Podfile
  mobile-app/ios/Podfile.lock
  mobile-app/react-native.config.js
Due: prettier --write

Fix `AppDelegate.mm`
  mobile-app/ios/VocablyPro/AppDelegate.mm
Due: none

Misc
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro.xcodeproj/xcshareddata/xcschemes/VocablyPro.xcscheme
Due: none

Add share intent to android
  mobile-app/android/app/src/main/AndroidManifest.xml
Due: none

Add Share Activity
  mobile-app/android/app/src/main/AndroidManifest.xml
  mobile-app/android/app/src/main/java/com/vocablypro/ShareActivity.kt
  mobile-app/index.js
  mobile-app/src/Share.tsx
Due: prettier --write

fix(japanese): definitions and trascribtion
  packages/analyze/src/buildDirectResult/buildDirectJapaneseResult.ts
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  c1/1d8a34044291739ad6efe9e225f2d5e8ab1ed1
Due: none

fix(japanese): romaji brackets
  packages/analyze/src/buildDirectResult/buildDirectJapaneseResult.ts
Due: prettier --write

test(japanese): fix romaji transribe
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  d3/96ab295f8a5e65c9e30907edea8b32a335ad47
Due: none

Install `@types/react-native-share-menu`
  mobile-app/package-lock.json
  mobile-app/package.json
Due: prettier --write

Add styles for Share activity
  mobile-app/android/app/src/main/AndroidManifest.xml
  mobile-app/android/app/src/main/res/values/styles.xml
Due: none

Update Share component
  mobile-app/src/Share.tsx
Due: prettier --write
