Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

Notes added by 'git notes add'
  fe/ac4810e0fcb7ffd7a530d9636e4073e3f40b89
Due: none

feat(www): building up vocabulary
  packages/www/src/pages/for-active-language-users.handlebars
Due: none

Notes added by 'git notes add'
  4f/5d7fe6ce790cd35c8830f932e3045ac0c13fb6
Due: none

docs: readme update
  README.md
Due: prettier --write

feat(moa): auto look up on translation preset change
  mobile-app/src/LookUpScreen.tsx
Due: prettier --write

feat(moa): translation preset loader
  mobile-app/src/LookUpScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  dd/51178406021e5d2777e017f266d7158665e36c
Due: none

feat(moa): look up CTA
  mobile-app/src/OnboardingSlider.tsx
Due: prettier --write

Notes added by 'git notes add'
  58/0980b5e3060e63e2c39baadbc3a8807fe5026a
Due: none

refactor(moa): dont depend on selected deck while editing the card
  mobile-app/src/EditCardScreen.tsx
Due: prettier --write

feat(moa): edit card part of speech selector
  mobile-app/src/EditCardScreen.tsx
Due: prettier --write

refactor(moa): card form
  mobile-app/src/CardForm.tsx
  mobile-app/src/EditCardScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  3f/34379c86179ebd81e184584c2f3b07efffeffd
Due: none

feat: gzip compression on sending cards
  mobile-app/package-lock.json
  mobile-app/package.json
  package-lock.json
  package.json
  packages/api/src/languageDecks.ts
  platform/api-cards.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  6a/aa3a0666eacc0003c96e5ca59b1a0f2e7a169b
Due: none

chore(moa): bump 1.64
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

fix: rollback gzip compression (breaks collections on android)
  mobile-app/package-lock.json
  mobile-app/package.json
  package-lock.json
  package.json
  packages/api/src/languageDecks.ts
Due: prettier --write

Notes added by 'git notes add'
  5c/ff4c3431a75ddb5bbf1abb6080372bb25019d1
Due: none

feat(moa): automatically look up on translation preset change
  mobile-app/src/LookUpScreen.tsx
  mobile-app/src/ShareIntent/AnimatedLookUpScreen.tsx
  mobile-app/src/ShareIntent/ShareExtensionAppBase.tsx
  mobile-app/src/ShareIntent/ShareIntentLookUpScreen.tsx
  mobile-app/src/ShareIntent/useSharedText.ts
Due: prettier --write

feat(moa): log token refresh failure
  mobile-app/src/auth/AuthContainer.tsx
Due: prettier --write

feat(moa): ping google on unsuccessful language listing
  mobile-app/src/languages/LanguagesContainer.tsx
  mobile-app/src/pingGoogle.ts
Due: prettier --write

fix(moa): poperly hide the translation helper for shared lookup
  mobile-app/src/LookUpScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  9f/0b4cbe5ca30addd1dbed645d909438f35166dd
Due: none

chore: bump 1.64 prod
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

feat: automatically add 'en' and 'et' articles for Danish nouns
  packages/analyze/src/addArticle.ts
  packages/sulna/src/trimArticle.ts
Due: prettier --write

Notes added by 'git notes add'
  bc/79b7c08ca92f87275d7c264b215fd405a5fc7b
Due: none

feat(extension): animated word highlighting on youtube
  packages/extension-content-script/src/styles.ts
Due: prettier --write

feat(extension): automatically pause video on youtube word mouse hover
  packages/extension-content-script/src/youtube.ts
Due: prettier --write

Notes added by 'git notes add'
  08/3169d405565c75df3efcf3a0561c68645e15f6
Due: none

chore(assets): bigger social icon
  assets/social.png
Due: none

feat(extension): automatically hide overlays and deselect text on video play
  packages/extension-content-script/src/youtube.ts
  safari-web-extension/Vocably/Vocably.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate
Due: prettier --write

Notes added by 'git notes add'
  6f/c5829db9dadbe01bae33a3b11c86d62e662239
Due: none

feat(extension): youtube selection hint
  packages/browser-i18n/src/index.ts
  packages/browser-i18n/src/messages/en.ts
  packages/browser-i18n/src/messages/es.ts
  packages/browser-i18n/src/messages/index.ts
  packages/browser-i18n/src/messages/pt.ts
  packages/browser-i18n/src/messages/ru.ts
  packages/browser-i18n/src/messages/tr.ts
  packages/browser-i18n/src/messages/uk.ts
  packages/browser-i18n/src/messages/vi.ts
  packages/extension-content-script/src/snackbar.ts
  packages/extension-content-script/src/styles.ts
  packages/extension-content-script/src/youtube.ts
  packages/extension-content-ui/src/i18n/translations.ts
Due: prettier --write

fix(extension): similar text layout for clickable and selectable subtitles
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/styles.ts
  packages/extension-content-script/src/youtube.ts
Due: prettier --write

Notes added by 'git notes add'
  92/71da6fe9592eff151cd16dd1cdbbf605e1cf5a
Due: none

feat(extension): pause youtube video on word click
  packages/extension-content-script/src/youtube.ts
Due: prettier --write

Notes added by 'git notes add'
  3f/0097f23ed3f5063e429484b5cd312431e342b6
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
