Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

chore: flaky test
  .circleci/config.yml
  packages/analyze/src/aiDirectTranslate.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  40/6a40ea46d8279eaa7e1b48898760bc33c1e250
Due: none

feat(moa): import and export
  mobile-app/src/DeckStack.tsx
  mobile-app/src/DeckStack/HowToGroupCardsScreen.tsx
  mobile-app/src/DeckStack/HowToImportAndExportScreen.tsx
  mobile-app/src/EditDeckScreen.tsx
  mobile-app/src/HowToGroupCards.tsx
Due: prettier --write

Notes added by 'git notes add'
  27/627f72b45b59131cd01d58bca23608e63544b6
Due: none

chore: bump android
  mobile-app/android/app/build.gradle
Due: none

feat(moa): onboarding slider without 'next' buttons
  mobile-app/src/OnboardingSlider.tsx
Due: prettier --write

Notes added by 'git notes add'
  66/8bd9cf852494510eff022850527a977b7feb55
Due: none

feat(moa): clean practice completion screen
  mobile-app/src/RequestFeedback/Form.tsx
  mobile-app/src/RequestFeedback/isOkayToAsk.ts
  mobile-app/src/study/Completed.tsx
  mobile-app/src/study/Study.tsx
Due: prettier --write

feat(moa): clean practice completion screen (#53)
  mobile-app/src/RequestFeedback/Form.tsx
  mobile-app/src/RequestFeedback/isOkayToAsk.ts
  mobile-app/src/study/Completed.tsx
  mobile-app/src/study/Study.tsx
Due: prettier --write

Notes added by 'git notes add'
  69/ea6e5e4cc7e0d9fa1a90d19e86c1dd424fe6e7
Due: none

chore(moa): bump app version
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/study/Completed.tsx
Due: prettier --write

chore(www): use telephone
  package-lock.json
  package.json
  packages/www/src/android.html.ts
  packages/www/src/android.ts
  packages/www/src/index.ts
  packages/www/src/iphone.html.ts
  packages/www/src/iphone.ts
Due: prettier --write

docs(readme): explanation
  README.md
Due: prettier --write

docs(readme): ease pain
  README.md
Due: prettier --write

chore(moa): bump 1.52
  mobile-app/VERSION
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

feat(api): warm up analyze lambda once a minute
  packages/backend/src/lambdas/analyze/index.ts
  platform/api-analyze.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  83/19be7ffd9d6233aa3102dfbc54a99e85d3d293
Due: none

feat(moa): notifications framework
  mobile-app/.env.dev
  mobile-app/.env.prod
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/android/app/google-services.json
  mobile-app/android/build.gradle
  mobile-app/index.js
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/AppDelegate.mm
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyPro/VocablyPro.entitlements
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/App.tsx
  mobile-app/src/MainMenu/MainMenu.tsx
  mobile-app/src/MainMenu/MainMenuNavigationStack.tsx
  mobile-app/src/MainMenu/NotificationsScreen.tsx
  mobile-app/src/aws-config.ts
  platform/app-notifications.tf
  platform/auth.tf
Due: prettier --write, terraform-fmt

feat(moa): notifications framework (#54)
  mobile-app/.env.dev
  mobile-app/.env.prod
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/android/app/google-services.json
  mobile-app/android/build.gradle
  mobile-app/index.js
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/AppDelegate.mm
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyPro/VocablyPro.entitlements
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/App.tsx
  mobile-app/src/MainMenu/MainMenu.tsx
  mobile-app/src/MainMenu/MainMenuNavigationStack.tsx
  mobile-app/src/MainMenu/NotificationsScreen.tsx
  mobile-app/src/aws-config.ts
  platform/app-notifications.tf
  platform/auth.tf
Due: prettier --write, terraform-fmt

chore: flaky tests
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  cc/d51321884f180d35b6598bddaf3c009b448a9b
Due: none

feat(moa): notifications request badge permissions
  dashboard/.env
  dashboard/.gitignore
  dashboard/send-notification.mjs
  mobile-app/.env.prod
  mobile-app/android/app/build.gradle
  mobile-app/src/App.tsx
  mobile-app/src/MainMenu/MainMenu.tsx
  mobile-app/src/MainMenu/NotificationsScreen.tsx
  mobile-app/src/auth/AuthContainer.tsx
Due: prettier --write

chore: list notification endpoints
  dashboard/list-notification-endpoints.mjs
Due: prettier --write

Notes added by 'git notes add'
  48/1fe462cc6e57af5a02012909706eead206d6ce
Due: none

feat(moa): set badges to 0 after a successful study
  mobile-app/src/NotificationsSettings.tsx
  mobile-app/src/study/Study.tsx
Due: prettier --write

Notes added by 'git notes add'
  93/42edd9c6dae0c949fdd67c956d3aeaa458754f
Due: none

feat: send notifications with lambda
  dashboard/send-notification.mjs
  package-lock.json
  package.json
  packages/backend/.env.test
  packages/backend/src/lambdas/notifications-sender/decks.ts
  packages/backend/src/lambdas/notifications-sender/index.spec.ts
  packages/backend/src/lambdas/notifications-sender/index.ts
  packages/backend/src/lambdas/notifications-sender/notificationDate.ts
  packages/backend/src/lambdas/notifications-sender/notificationItems.ts
  packages/backend/src/lambdas/notifications-sender/sendNotifications.ts
  packages/backend/src/lambdas/notifications-sender/sendPinpointMessage.ts
  packages/model/src/errors.ts
  platform/app-notifications.tf
  platform/environments.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  64/f68ab308a4a06828b2d8d44d9f97c40ebefa4c
Due: none

feat: beautiful notification message
  packages/backend/src/lambdas/notifications-sender/getBody.ts
  packages/backend/src/lambdas/notifications-sender/sendNotifications.ts
  packages/backend/src/lambdas/notifications-sender/sendPinpointMessage.ts
  packages/sulna/src/index.ts
  packages/sulna/src/trimLanguage.test.ts
  packages/sulna/src/trimLanguage.ts
Due: prettier --write

Notes added by 'git notes add'
  60/9bb2e16ea76e1d854b5d9eb90fd967b4cf5467
Due: none

feat: get and set notifications lambdas
  packages/backend/src/lambdas/get-notification-time/getNotificationTime.ts
  packages/backend/src/lambdas/get-notification-time/index.spec.ts
  packages/backend/src/lambdas/get-notification-time/index.ts
  packages/backend/src/lambdas/notifications-sender/notificationItems.ts
  packages/backend/src/lambdas/set-notification-time/createNotificationItem.ts
  packages/backend/src/lambdas/set-notification-time/extractPayload.ts
  packages/backend/src/lambdas/set-notification-time/getUTCTime.test.ts
  packages/backend/src/lambdas/set-notification-time/getUTCTime.ts
  packages/backend/src/lambdas/set-notification-time/index.spec.ts
  packages/backend/src/lambdas/set-notification-time/index.ts
  packages/backend/src/lambdas/set-notification-time/setNotificationTime.ts
  packages/backend/src/lambdas/set-notification-time/updateNotificationItem.ts
  packages/backend/src/utils/getNotificationItem.ts
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/notifications.ts
Due: prettier --write

Notes added by 'git notes add'
  62/9702b6cfd492ac621df4662f9949cad8c12698
Due: none

feat: recalibrate notifications
  packages/backend/src/lambdas/get-notification-time/index.spec.ts
  packages/backend/src/lambdas/recalibrate-notifications/extractPayload.ts
  packages/backend/src/lambdas/recalibrate-notifications/index.spec.ts
  packages/backend/src/lambdas/recalibrate-notifications/index.ts
  packages/backend/src/lambdas/recalibrate-notifications/recalibrateNotifications.ts
  packages/backend/src/lambdas/set-notification-time/setNotificationTime.ts
  packages/backend/src/utils/getAllNotificationItems.ts
  packages/backend/src/utils/getNotificationItem.ts
  packages/backend/src/utils/getUTCTime.test.ts
  packages/backend/src/utils/getUTCTime.ts
  packages/backend/src/utils/isValidTimezone.ts
  packages/backend/src/utils/updateNotificationItem.ts
  packages/model/src/errors.ts
  packages/model/src/notifications.ts
Due: prettier --write

Notes added by 'git notes add'
  cf/74d4c8a23c79dd838b0c421eb0f507d139b15f
Due: none

feat: notifications api endpoints
  platform/api-notification-time.tf
  platform/api-recalibrate-notifications.tf
  platform/api.tf
Due: terraform-fmt

Notes added by 'git notes add'
  76/1799bdf85fc095e90bcdaf50bcb3d55a84adad
Due: none

feat: automatically recalibrate
  mobile-app/ios/Podfile.lock
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/App.tsx
  mobile-app/src/recalibrateNotifications.ts
  packages/api/src/index.ts
  packages/api/src/notifications.ts
  packages/model/src/errors.ts
Due: prettier --write

Notes added by 'git notes add'
  be/730841ced18c55e446f09cb22013f8a58f0805
Due: none

feat(moa): move notifications settings under the deck
  mobile-app/src/DeckStack.tsx
  mobile-app/src/DeckStack/NotificationsScreen.tsx
  mobile-app/src/EditDeckScreen.tsx
  mobile-app/src/MainMenu/MainMenu.tsx
  mobile-app/src/MainMenu/MainMenuNavigationStack.tsx
Due: prettier --write
