Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

Notes added by 'git notes add'
  42/976be309945445e22cf755e1916d12bd06970b
Due: none

fix(analyze): automatically fix spelling
  packages/analyze/src/aiDirectTranslate.spec.ts
  packages/analyze/src/aiDirectTranslate.ts
Due: prettier --write

Notes added by 'git notes add'
  7b/70962d07b6888542e56eec6b331f3ef1438545
Due: none

fix(analyze): don't use diacritic marks for hebrew
  packages/analyze/src/aiDirectTranslate.ts
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

fix(moa): ask for rating after 30 cards
  mobile-app/src/study/Completed.tsx
Due: prettier --write

Notes added by 'git notes add'
  1c/990bd15c809816bb26143eccbbd527d7ed5813
Due: none

feat(moa): better hebrew examples
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/Onboarding/data/he.ts
  packages/analyze/src/mobileAppOnboardingExamplesGenerator.ts
Due: prettier --write

Notes added by 'git notes add'
  a4/372c74cb85808b3dbfd8913470bc88ddfd34a6
Due: none

chore: scoial.png
  assets/social.png
Due: none

feat(analyze): enable 4o model
  packages/analyze/src/aiDirectTranslate.spec.ts
  packages/analyze/src/aiDirectTranslate.ts
  packages/analyze/src/aiDirectTranslateConstants.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/chatGptRequest.ts
Due: prettier --write

chore: unit tests
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

chore: unit test
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

chore: flaky test
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

chore: fucking tests
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

feat(analyze): timeout and autorestart openai requests
  packages/analyze/src/aiDirectTranslate.spec.ts
  packages/analyze/src/aiDirectTranslate.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/chatGptRequest.ts
  packages/analyze/src/fallback.ts
  packages/analyze/src/retry.ts
  packages/model/src/errors.ts
  platform/api-analyze.tf
Due: prettier --write, terraform-fmt

chore: bump openai version
  package-lock.json
  package.json
Due: prettier --write

chore: fix openai types
  packages/analyze/src/chatGptRequest.ts
  packages/analyze/src/retry.ts
Due: prettier --write

chore: any
  packages/analyze/src/chatGptRequest.ts
Due: prettier --write

chore: type
  packages/analyze/src/chatGptRequest.ts
Due: prettier --write

chore: run tests verbose
  .circleci/config.yml
Due: prettier --write

chore: flaky test
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  5e/c23072f4e181c06ad18aa9499eb042c2d33158
Due: none

fix(moa): auth storage async operations
  .idea/terraform.xml
  mobile-app/src/auth/AuthStorage.ts
Due: prettier --write

Notes added by 'git notes add'
  fc/4f3a20bfde88563637f6479cc064642d575931
Due: none

feat(moa): show another google acc login in android
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/auth/Login.tsx
Due: prettier --write

Notes added by 'git notes add'
  b4/56410cba63a219e0efaedc6cc1bdbd1a4762cc
Due: none

feat(analyze): increase the minumum source size to 500 symbols
  packages/analyze/src/aiDirectTranslate.ts
Due: prettier --write

feat(analyze): increase the minumum source size of context translation to 400 symbols
  packages/analyze/src/translateFromContext.ts
Due: prettier --write

Notes added by 'git notes add'
  59/f0a1a0ce1212d422ec4a06126627eeacbfd31a
Due: none

feat(app): auto refresh language container
  mobile-app/src/App.tsx
  mobile-app/src/languages/LanguagesContainer.tsx
Due: prettier --write

Notes added by 'git notes add'
  6c/4453e4e3a583a7672263b7cba7890c162aeaf5
Due: none

feat(analyze): fallback to o1_mini
  packages/analyze/src/aiDirectTranslate.ts
  packages/analyze/src/chatGptRequest.ts
Due: prettier --write

Notes added by 'git notes add'
  35/25a5a5f5e58ae77b8c51daec9889a7a14cf422
Due: none

feat(auth): branded hosted ui
  platform/auth.tf
  platform/hosted-ui.css
  platform/www-logo.png
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  e3/a192c04b2aae742d7b5dab49f9c3cd3a2db9e4
Due: none

login success redirect
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/cognito-auth.guard.ts
  packages/app/src/app/auth/intendedDestination.ts
  packages/app/src/app/auth/pages/auto-sign-in-success-page/auto-sign-in-success-page.component.html
  packages/app/src/app/auth/pages/auto-sign-in-success-page/auto-sign-in-success-page.component.scss
  packages/app/src/app/auth/pages/auto-sign-in-success-page/auto-sign-in-success-page.component.ts
  packages/app/src/app/auth/pages/manual-sign-in-success-page/manual-sign-in-success-page.component.html
  packages/app/src/app/auth/pages/manual-sign-in-success-page/manual-sign-in-success-page.component.scss
  packages/app/src/app/auth/pages/manual-sign-in-success-page/manual-sign-in-success-page.component.ts
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.ts
  packages/app/src/auth-config.ts
  platform/auth.tf
  platform/locals.tf
Due: prettier --write, terraform-fmt

feat(app): redirect to the intended destination on successful login (#52)
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/cognito-auth.guard.ts
  packages/app/src/app/auth/intendedDestination.ts
  packages/app/src/app/auth/pages/auto-sign-in-success-page/auto-sign-in-success-page.component.html
  packages/app/src/app/auth/pages/auto-sign-in-success-page/auto-sign-in-success-page.component.scss
  packages/app/src/app/auth/pages/auto-sign-in-success-page/auto-sign-in-success-page.component.ts
  packages/app/src/app/auth/pages/manual-sign-in-success-page/manual-sign-in-success-page.component.html
  packages/app/src/app/auth/pages/manual-sign-in-success-page/manual-sign-in-success-page.component.scss
  packages/app/src/app/auth/pages/manual-sign-in-success-page/manual-sign-in-success-page.component.ts
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.ts
  packages/app/src/auth-config.ts
  platform/auth.tf
  platform/locals.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  bc/cda2fc0722135d4b022b9b98ab039333390709
Due: none
