Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

chore(script): deploy dev app
  scripts/deploy-dev-app.mjs
Due: prettier --write

fix(app): proper redirect urls in prod mode
  packages/app/src/environments/environmentLocal.example.ts
  platform/app.tf
  platform/environments.tf
Due: prettier --write, terraform-fmt

chore(release): 1.11.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0f3e8b75a5608b3e111eb6eacf1497cdb78c202d
Due: none

fix(app): app height
  packages/app/src/app-height.ts
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/study-page/study-page.component.scss
  packages/app/src/main.ts
  packages/app/src/styles/_hero.scss
  packages/app/src/styles/_themes.scss
Due: prettier --write

chore(release): 1.11.3 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ea05903141c43d6f78e5d2263af49976cada6311
Due: none

fix(app): container padding 1rem on mobile devices
  packages/app/src/app/app.component.html
  packages/app/src/app/decks/pages/study-page/study-page.component.scss
  packages/app/src/app/srs/card/card.component.scss
  packages/app/src/styles/_hero.scss
  packages/app/src/styles/_layout.scss
  packages/app/src/styles/_themes.scss
  packages/app/src/styles/_variables.scss
Due: prettier --write

chore(release): 1.11.4 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bfc159018418c0067582105c0317c02ccb6d0133
Due: none

fix(app): button focus style
  packages/app/src/styles/_buttons.scss
Due: prettier --write

chore(release): 1.11.5 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  db681a4f6e64f13ff71d5c0c0c09db70cbe5c210
Due: none

platform: on-demand capacity mode for state lock dynamo tables
  platform-root/tf-state/main.tf
Due: terraform-fmt

feat(app): sort dashboard cards by date
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.ts
Due: prettier --write

chore(release): 1.12.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b3ab28eeaa86a9aea92648d45b1e4bc310f778aa
Due: none

fix(app): switch deck
  packages/app/src/app/decks/decks.component.ts
  packages/app/src/app/decks/pages/study-page/study-page.component.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
Due: prettier --write

chore(release): 1.12.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  10c1e98b739f398c9c18f2f52c66677ab3942bc3
Due: none

feat(app): edit deck page
  packages/app/src/app/decks/by-date.ts
  packages/app/src/app/decks/decks-routing.module.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.ts
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.scss
  packages/app/src/app/decks/pages/edit-page/edit-page.component.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/app/src/app/language/getFullLanguageName.ts
  packages/app/src/app/language/language.pipe.ts
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/_variables.scss
Due: prettier --write

chore(release): 1.13.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b3ddff9a415bc63568494799b5d6eb3196c6964c
Due: none

feat(app): delete deck
  packages/api/src/index.ts
  packages/api/src/languageDecks.ts
  packages/app/src/app/decks/deck-list-store.service.ts
  packages/app/src/app/decks/decks.component.ts
  packages/app/src/app/decks/pages/edit-page/edit-page.component.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/model/src/language-deck.ts
Due: prettier --write

chore: skip dist folder removal before build
  package.json
  packages/api/package.json
  packages/backend/package.json
  packages/crud/package.json
  packages/extension-content-script/package.json
  packages/extension-messages/package.json
  packages/extension-service-worker/package.json
  packages/extension/package.json
  packages/hermes/package.json
  packages/model/package.json
  packages/pontis/package.json
  packages/srs/package.json
  packages/sulna/package.json
  packages/webpack/package.json
  packages/www-backend/package.json
Due: prettier --write

chore(release): 1.14.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  be2170498760355325238cf779cc9c12a7fec613
Due: none

chore: automatically deploy to dev
  .circleci/config.yml
  platform/dev.remote
  platform/dev.tfvars
Due: prettier --write

fix(app): cursor pointer on alert buttons
  packages/app/src/styles/_reset.scss
Due: prettier --write

chore(release): 1.14.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1414d87749980389f57e7dfea2d0c4ef5ba5b845
Due: none

feat(app): logout
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.ts
Due: prettier --write

chore(release): 1.15.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ec959206cb6d02c3d0b75df1b525773c8787da8a
Due: none

refactor(app): use AuthService to perform logout
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.ts
Due: prettier --write

test(e2e): set up cypress
  packages/app-e2e/.gitignore
  packages/app-e2e/cypress.json
  packages/app-e2e/cypress/fixtures/example.json
  packages/app-e2e/cypress/integration/1-getting-started/todo.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/actions.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/aliasing.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/assertions.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/connectors.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/cookies.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/cypress_api.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/files.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/local_storage.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/location.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/misc.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/navigation.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/network_requests.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/querying.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/traversal.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/utilities.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/viewport.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/waiting.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/window.spec.js
  packages/app-e2e/cypress/plugins/index.js
  packages/app-e2e/cypress/support/commands.js
  packages/app-e2e/cypress/support/index.js
  packages/app-e2e/package.json
  yarn.lock
Due: prettier --write

test(e2e): stub test command
  packages/app-e2e/package.json
Due: prettier --write

chore(auth): allow cognito user pools
  platform/auth.tf
Due: terraform-fmt

test(e2e): assert login redirect
  packages/app-e2e/cypress/integration/1-getting-started/todo.spec.js
  packages/app-e2e/cypress/integration/1-unauthorized/login-screen.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/actions.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/aliasing.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/assertions.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/connectors.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/cookies.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/cypress_api.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/files.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/local_storage.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/location.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/misc.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/navigation.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/network_requests.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/querying.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/traversal.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/utilities.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/viewport.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/waiting.spec.js
  packages/app-e2e/cypress/integration/2-advanced-examples/window.spec.js
Due: prettier --write

test(e2e): manage environment variables with dotenv
  packages/app-e2e/.env
  packages/app-e2e/.gitignore
  packages/app-e2e/cypress/integration/1-unauthorized/login-screen.spec.js
  packages/app-e2e/cypress/plugins/index.js
Due: prettier --write
