Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

feat(www): social links
  packages/www/src/partials/layout.handlebars
Due: none

chore: flaky test
  packages/analyze/src/aiRevrseTranslate.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  63/79f86863e2c9e47d255e07ffe86e035c21a75f
Due: none

fix(extension): safari messaging
  packages/extension-content-script/src/index.ts
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/locationLanguage.ts
Due: prettier --write

Notes added by 'git notes add'
  eb/2728f7b080421be71afedcc47822a56ffc86e3
Due: none

fix(extension): remove redundant console logs
  packages/extension-content-script/src/index.ts
Due: prettier --write

Notes added by 'git notes add'
  f6/ac4c39b5ddd9a84a73036837d0d800ea64af7e
Due: none

feat(www): slide reverse unique shadow
  packages/www/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  38/86b4b00b7670d27f4155ecc0589405023292d6
Due: none

feat(analyse): keep source punctuation for sentences
  packages/analyze/src/buildDirectResult.ts
  packages/analyze/src/buildFreeResult.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/sanitizePayload.ts
  packages/analyze/src/trimSource.test.ts
  packages/analyze/src/trimSource.ts
  packages/backend/src/lambdas/analyze/index.ts
  packages/backend/src/lambdas/analyze/sanitizePayload.ts
  packages/backend/src/lambdas/analyze/sanitizeSource.test.ts
  packages/backend/src/lambdas/analyze/sanitizeSource.ts
  packages/model/src/errors.ts
Due: prettier --write

chore: linguist suppress safari-web-extension
  .gitattributes
Due: none

Notes added by 'git notes add'
  32/cdfa8310da3911e4ac00a54b2583e902d31f97
Due: none

feat(moa): simpler explanation texts on look up
  mobile-app/src/LookUpScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  d6/ee6e12c51ea2b8166846c82da23b6c52bec70d
Due: none

feat(app): reminder for users about what they study
  packages/app/src/app/welcome/pages/index-page/index-page.component.html
  packages/app/src/app/welcome/pages/second-page/second-page.component.html
  packages/app/src/styles.scss
  packages/app/src/styles/_contrast-panel.scss
Due: prettier --write

Notes added by 'git notes add'
  ba/84e63b0afdd3cc92249c1f65174716532b616d
Due: none

feat(app): how to multilang
  packages/app/src/assets/how-to-multilang.png
Due: none

feat(app): show me how it works
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.html
Due: prettier --write

Notes added by 'git notes add'
  97/d7d6d049c1fa6c89d0564c8fdc34bd24ef13c7
Due: none

doc(readme): remove web app
  README.md
Due: prettier --write

chore: fix flaky test
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

onboarding
  packages/api/src/index.ts
  packages/api/src/onboarding.ts
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.ts
  packages/app/src/app/getFacility.ts
  packages/app/src/app/isExtensionInstalled.ts
  packages/app/src/app/welcome/pages/second-page/second-page.component.ts
  packages/app/src/app/welcome/welcome.component.ts
  packages/backend/.env
  packages/backend/.env.test
  packages/backend/src/lambdas/language-set/brevo.ts
  packages/backend/src/lambdas/language-set/getWelcomeFlowStep.ts
  packages/backend/src/lambdas/language-set/index.ts
  packages/backend/src/lambdas/language-set/sendEmail.ts
  packages/backend/src/utils/userMetadata.ts
  packages/model/src/errors.ts
  packages/model/src/userMetadata.ts
Due: prettier --write

extension logged in
  packages/api/src/onboarding.ts
  packages/app/src/app/welcome/pages/second-page/second-page.component.ts
  packages/extension-service-worker/src/index.ts
  packages/extension/src/service-worker.ts
  packages/ios-extension/src/service-worker.ts
Due: prettier --write

mobile app onboarding events
  mobile-app/src/WelcomeScreen.tsx
  mobile-app/src/auth/AuthContainer.tsx
  mobile-app/src/facility.ts
  packages/api/src/onboarding.ts
  packages/app/src/app/welcome/pages/second-page/second-page.component.ts
Due: prettier --write

onboarding flow
  mobile-app/src/WelcomeScreen.tsx
  mobile-app/src/auth/AuthContainer.tsx
  packages/api/src/onboarding.ts
  packages/app/src/app/welcome/pages/second-page/second-page.component.ts
  packages/backend/src/lambdas/language-set/getWelcomeFlowStep.ts
  packages/backend/src/lambdas/language-set/sendEmail.ts
  packages/backend/src/lambdas/onboard/brevo.ts
  packages/backend/src/lambdas/onboard/extractUsefulData.ts
  packages/backend/src/lambdas/onboard/handleAction.ts
  packages/backend/src/lambdas/onboard/index.ts
  packages/backend/src/lambdas/onboard/mobileAppInstalled.ts
  packages/backend/src/lambdas/onboard/welcomeExtensionUser.ts
  packages/backend/src/lambdas/onboard/welcomeMobileApp.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/onboarding.ts
  packages/model/src/userMetadata.ts
Due: prettier --write

piu
  packages/auth-lambdas/src/auth-post-confirmation/index.ts
  packages/backend/src/lambdas/onboard/handleAction.ts
  packages/node-sulna/src/index.ts
  packages/node-sulna/src/nodeUserMetadata.ts
Due: prettier --write

onboarding
  packages/auth-lambdas/.env
  packages/auth-lambdas/src/auth-post-confirmation/getAttribute.ts
  packages/auth-lambdas/src/auth-post-confirmation/getEmail.ts
  packages/auth-lambdas/src/auth-post-confirmation/index.ts
  packages/backend/src/lambdas/onboard/handleAction.ts
  packages/node-sulna/src/nodeUserMetadata.ts
  platform/api-onboard.tf
  platform/api.tf
  platform/auth.tf
  platform/environments.tf
Due: prettier --write, terraform-fmt

clear all
  mobile-app/src/MainMenu/AccountScreen.tsx
Due: prettier --write

fix welcome mobile app
  packages/backend/src/lambdas/onboard/handleAction.ts
  packages/backend/src/lambdas/onboard/index.ts
Due: prettier --write

bump mobile app
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

commit metadata stuff
  packages/auth-lambdas/src/auth-post-confirmation/index.ts
Due: prettier --write

console log
  packages/auth-lambdas/src/auth-post-confirmation/index.ts
Due: prettier --write

fix: node user metadata package
  packages/backend/src/lambdas/onboard/handleAction.ts
  packages/model-operations/src/index.ts
  packages/model-operations/src/nodeUserMetadata.ts
  packages/node-sulna/src/index.ts
Due: prettier --write

chore: remove redundant import
  packages/node-sulna/src/index.ts
Due: prettier --write

chore: unit tests
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  7e/c2edd38215bd0af5ab1916f5c0d558a6592dc4
Due: none

fix: lambda operations
  package-lock.json
  packages/backend/src/lambdas/onboard/handleAction.ts
  packages/lambda-shared/.gitignore
  packages/lambda-shared/jest.config.js
  packages/lambda-shared/package.json
  packages/lambda-shared/src/index.ts
  packages/lambda-shared/src/nodeUserMetadata.ts
  packages/lambda-shared/tsconfig.commonjs.json
  packages/lambda-shared/tsconfig.json
  packages/model-operations/src/index.ts
  scripts/build-packages.mjs
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
