Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

extension
  mobile-app/ios/Vocably for Safari/Info.plist
  mobile-app/ios/Vocably for Safari/Resources/_locales/en/messages.json
  mobile-app/ios/Vocably for Safari/Resources/background.js
  mobile-app/ios/Vocably for Safari/Resources/content.js
  mobile-app/ios/Vocably for Safari/Resources/images/icon-128.png
  mobile-app/ios/Vocably for Safari/Resources/images/icon-256.png
  mobile-app/ios/Vocably for Safari/Resources/images/icon-48.png
  mobile-app/ios/Vocably for Safari/Resources/images/icon-512.png
  mobile-app/ios/Vocably for Safari/Resources/images/icon-64.png
  mobile-app/ios/Vocably for Safari/Resources/images/icon-96.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-16.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-19.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-32.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-38.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-48.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-72.png
  mobile-app/ios/Vocably for Safari/Resources/manifest.json
  mobile-app/ios/Vocably for Safari/Resources/popup.css
  mobile-app/ios/Vocably for Safari/Resources/popup.html
  mobile-app/ios/Vocably for Safari/Resources/popup.js
  mobile-app/ios/Vocably for Safari/SafariWebExtensionHandler.swift
  mobile-app/ios/Vocably for Safari/Vocably for Safari.entitlements
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/VocablyPro.entitlements
  packages/app/src/main.ts
Due: prettier --write

feat(extension): dynamic popup height + ios-friendly behavior
  packages/extension-content-script/public/index.html
  packages/extension-content-script/src/button.ts
  packages/extension-content-script/src/index.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/styling.ts
  packages/extension-content-script/src/youtube.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-mobile-button/vocably-mobile-button.scss
  packages/extension-content-ui/src/components/vocably-mobile-button/vocably-mobile-button.tsx
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
  packages/extension-content-ui/src/index.html
Due: prettier --write

Notes added by 'git notes add'
  ae/0c0449936a1c5e32a024deec6db52db7bf0f96
Due: none

chore: remove reduntant console logs
  packages/backend/src/lambdas/play-sound/index.ts
  packages/extension-service-worker/src/createTranslationCards.ts
Due: prettier --write

feat(analyze): add articles to norwegian nouns
  packages/analyze/src/addArticle.test.ts
  packages/analyze/src/addArticle.ts
Due: prettier --write

Notes added by 'git notes add'
  94/50df491fe99a0ea3439558e671fab93f69c5a2
Due: none

ios extension
  assets/ios-toolbar-icon.svg
  packages/ios-extension/.env.dev
  packages/ios-extension/.env.prod
  packages/ios-extension/.gitignore
  packages/ios-extension/assets/images/icon-128.png
  packages/ios-extension/assets/images/icon-256.png
  packages/ios-extension/assets/images/icon-48.png
  packages/ios-extension/assets/images/icon-512.png
  packages/ios-extension/assets/images/icon-64.png
  packages/ios-extension/assets/images/toolbar-icon-16.png
  packages/ios-extension/assets/images/toolbar-icon-19.png
  packages/ios-extension/assets/images/toolbar-icon-32.png
  packages/ios-extension/assets/images/toolbar-icon-38.png
  packages/ios-extension/assets/images/toolbar-icon-48.png
  packages/ios-extension/assets/images/toolbar-icon-72.png
  packages/ios-extension/package.json
  packages/ios-extension/src/content-script.ts
  packages/ios-extension/src/manifest.json.txt
  packages/ios-extension/src/service-worker.ts
  packages/ios-extension/tsconfig.json
  packages/ios-extension/webpack.config.js
  scripts/update-icon.mjs
Due: prettier --write

chrom browser
  package-lock.json
  package.json
  packages/extension-service-worker/src/askForRatingCounter.ts
  packages/extension-service-worker/src/browserEnv.ts
  packages/extension-service-worker/src/index.ts
  packages/extension-service-worker/src/proxyLanguage.ts
  packages/extension-service-worker/src/sourceLanguage.ts
  packages/ios-extension/src/service-worker.ts
Due: prettier --write

feedback disabled for ios
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/configuration.ts
  packages/extension-content-script/src/index.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension/src/content-script.ts
  packages/ios-extension/src/content-script.ts
Due: prettier --write

ignore resources
  mobile-app/ios/Vocably for Safari/.gitignore
  mobile-app/ios/Vocably for Safari/Resources/background.js
  mobile-app/ios/Vocably for Safari/Resources/content.js
  mobile-app/ios/Vocably for Safari/Resources/images/icon-128.png
  mobile-app/ios/Vocably for Safari/Resources/images/icon-256.png
  mobile-app/ios/Vocably for Safari/Resources/images/icon-48.png
  mobile-app/ios/Vocably for Safari/Resources/images/icon-512.png
  mobile-app/ios/Vocably for Safari/Resources/images/icon-64.png
  mobile-app/ios/Vocably for Safari/Resources/images/icon-96.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-16.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-19.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-32.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-38.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-48.png
  mobile-app/ios/Vocably for Safari/Resources/images/toolbar-icon-72.png
  mobile-app/ios/Vocably for Safari/Resources/manifest.json
  mobile-app/ios/Vocably for Safari/Resources/popup.css
  mobile-app/ios/Vocably for Safari/Resources/popup.html
  mobile-app/ios/Vocably for Safari/Resources/popup.js
Due: prettier --write

safari extension id
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/package.json
  packages/app/src/environments/environmentLocal.example.ts
  packages/app/src/extension-id.ts
  packages/app/src/main.ts
  platform/environments.tf
  platform/variables.tf
Due: prettier --write, terraform-fmt

online
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.ts
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/components/offline/offline.component.html
  packages/app/src/app/components/offline/offline.component.scss
  packages/app/src/app/components/offline/offline.component.ts
Due: prettier --write

extension name and description
  packages/app/src/main.ts
  packages/ios-extension/src/manifest.json.txt
Due: prettier --write

feat(extension): compact view on mobile devices
  packages/extension-content-ui/src/components/vocably-add-card-hint/vocably-add-card-hint.scss
  packages/extension-content-ui/src/components/vocably-add-card-hint/vocably-add-card-hint.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
Due: prettier --write

Notes added by 'git notes add'
  56/96f685e2863c2436d2ba597e205b3a615980b3
Due: none

fix(auth): log auth lambda error
  packages/auth-lambdas/src/auth-post-confirmation/index.ts
Due: prettier --write

Notes added by 'git notes add'
  13/f4829d96c5d348c14118a90f238364525abf1c
Due: none

fastlane
  mobile-app/VERSION
  mobile-app/ios/Vocably for Safari/Resources/_locales/en/messages.json
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/ios/fastlane/Fastfile
  packages/ios-extension/src/manifest.json.txt
Due: prettier --write

docs(readme): learn -> remember
  README.md
Due: prettier --write

Notes added by 'git notes add'
  61/58e60e0b660022d32284f1ef5abc15c403e0a4
Due: none

fix(app): trigger release on files change
  packages/app/src/main.ts
  platform/app.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  0a/392d3e91e689f9e680df2c354bba150751a412
Due: none

fix(app): properly verify intalled extension in safari
  packages/app/src/app/isExtensionInstalled.ts
Due: prettier --write

Notes added by 'git notes add'
  d1/06ec6c5dca1d68b5cb37ef14c29e0f372bfbf8
Due: none

fix(ios-extension): clickable look up button
  packages/extension-content-script/src/button.ts
Due: prettier --write

Notes added by 'git notes add'
  f5/84676d2e87a31ae08f91bc37258e82e9c8c3b3
Due: none

fix(app): reliable is extension verification
  packages/app/src/app/components/language-input/language-input.component.html
  packages/app/src/app/components/language-input/language-input.component.ts
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
  packages/app/src/app/isExtensionInstalled.ts
Due: prettier --write

Notes added by 'git notes add'
  e0/f1d92add5d5850669c41cd762ac078dcf62cf0
Due: none

feat(app): hands-free: wait for extension to be enabled
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.html
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  3c/f54b4833632b687235877c75485bce6f6027f5
Due: none

fix(app): properly detect extension ID for iPad
  packages/app/src/browser.ts
  packages/app/src/extension-id.ts
Due: prettier --write

Notes added by 'git notes add'
  35/bbe39bde1f8ef57008cabfb086fc133f93b650
Due: none

First working version
  mobile-app/android/app/src/main/AndroidManifest.xml
  mobile-app/android/app/src/main/res/values/styles.xml
  mobile-app/index.js
  mobile-app/src/Share.tsx
Due: prettier --write

chore: .idea .gitignore
  .idea/.gitignore
Due: none

fix(extension): destroy the look up button on invalid selection
  packages/extension-content-script/public/index.html
  packages/extension-content-script/src/index.ts
Due: prettier --write

Notes added by 'git notes add'
  cf/55c16e606fc325d15ec8f1e43c0cc8798ef8fb
Due: none

fix(extension): mobile button to be perfectly rounded
  packages/extension-content-ui/src/components/vocably-mobile-button/vocably-mobile-button.scss
Due: prettier --write

Notes added by 'git notes add'
  46/b74ff63842a4bbbee3c76988534d6253015dd0
Due: none
