Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

Notes added by 'git notes add'
  98/15ef9b835e1e42f1e70152e0eacb4305b8a724
Due: none

feat(moa): time picker
  mobile-app/ios/Podfile.lock
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/DeckStack/NotificationsScreen.tsx
  mobile-app/src/DeckStack/notifications/NotificationsAllowed.tsx
  mobile-app/src/DeckStack/notifications/TimePicker.tsx
  mobile-app/src/useAsync.ts
  platform/api-notification-time.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  d8/2b54c496a4cba90194efefb74636c1ef92decb
Due: none

feat(backend): delete notification time
  packages/backend/src/lambdas/delete-notification-time/deleteNotificationItem.ts
  packages/backend/src/lambdas/delete-notification-time/deleteNotificationTime.ts
  packages/backend/src/lambdas/delete-notification-time/index.ts
  packages/backend/src/lambdas/notification-item.spec.ts
  packages/model/src/errors.ts
  platform/api-notification-time.tf
  platform/api.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  42/fee4f431ed8fa1928f80953f4b1cff230af88a
Due: none

feat(moa): set and unset notifications
  mobile-app/src/DeckStack/notifications/NotificationsAllowed.tsx
  mobile-app/src/DeckStack/notifications/TimePicker.tsx
  mobile-app/src/useAsync.ts
  packages/api/src/notifications.ts
  packages/api/src/restClient.ts
  platform/api-notification-time.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  6b/1de5172ba2dc209a54da53cab48e92ad62054a
Due: none

feat(moa): prevent multiple set notification requests
  mobile-app/src/DeckStack/notifications/NotificationsAllowed.tsx
  packages/api/src/notifications.ts
Due: prettier --write

feat(moa): serial set notificaions operations
  mobile-app/src/DeckStack/NotificationsScreen.tsx
  mobile-app/src/DeckStack/notifications/NotificationsAllowed.tsx
  packages/api/src/notifications.ts
Due: prettier --write

chore(backend): move notificaion tests under the single file
  packages/backend/src/lambdas/get-notification-time/index.spec.ts
  packages/backend/src/lambdas/notification-item.spec.ts
  packages/backend/src/lambdas/recalibrate-notifications/index.spec.ts
  packages/backend/src/lambdas/set-notification-time/index.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  42/c4b7a3e2e887a9ea0514c83ba67b386cde21d7
Due: none

feat(moa): notifications denied screen
  mobile-app/src/DeckStack/NotificationsScreen.tsx
  mobile-app/src/DeckStack/notifications/NotificationsDenied.tsx
Due: prettier --write

Notes added by 'git notes add'
  a9/d814f3ef9d8f26d110d7ea65db2c3b28da6c07
Due: none

chore(moa): get rid of a publically exposed sentry token
  mobile-app/VERSION
  mobile-app/android/.gitignore
  mobile-app/android/app/build.gradle
  mobile-app/android/sentry.properties
  mobile-app/android/sentry.properties.example
  mobile-app/ios/.gitignore
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/ios/sentry.properties
  mobile-app/ios/sentry.properties.example
Due: none

feat(backend): run notificaitions sender once a minute
  packages/backend/src/lambdas/notifications-sender/index.spec.ts
  packages/backend/src/lambdas/notifications-sender/index.ts
  packages/backend/src/lambdas/notifications-sender/notificationItems.ts
  packages/backend/src/lambdas/notifications-sender/sendNotifications.ts
  platform/app-notifications.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  6d/22ccab11b934e9ba2bf550179bab87a184efee
Due: none

feat(backend): send generic notification so the card front is not revealed
  packages/backend/src/lambdas/notifications-sender/getBody.ts
Due: prettier --write

Notes added by 'git notes add'
  37/96bf2978f3b954488d8c209288740f388225e8
Due: none

feat(moa): track number of cards studied today
  mobile-app/src/RequestFeedback/useNumberOfPracticeSessions.ts
  mobile-app/src/RequestFeedback/useNumberOfRepetitions.ts
  mobile-app/src/study/Study.tsx
  mobile-app/src/study/cardsAnsweredToday.ts
  mobile-app/src/useAsync.ts
Due: prettier --write

Notes added by 'git notes add'
  22/645640e1cda86bcf86c0ff722361072f7b8bd0
Due: none

feat(moa): 15 minutes
  mobile-app/src/DeckStack/notifications/TimePicker.tsx
  packages/backend/src/lambdas/notifications-sender/notificationDate.test.ts
  packages/backend/src/lambdas/notifications-sender/notificationDate.ts
Due: prettier --write

Notes added by 'git notes add'
  94/8eb7d886c817e023d8fbfe2e04b202ebccac53
Due: none

feat(moa): update endpoint when notification token changes
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/index.js
  mobile-app/ios/Podfile
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/ios/fastlane/Fastfile
  mobile-app/src/App.tsx
  mobile-app/src/NotificationsContainer.tsx
  mobile-app/src/auth/AuthContainer.tsx
  mobile-app/src/notificationsIdentifyUser.ts
Due: prettier --write

Notes added by 'git notes add'
  e0/e1d65e1d737ab307644cb93e05d1004a9d5386
Due: none

feat(moa): notifications analytics
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/DeckStack/NotificationsScreen.tsx
  mobile-app/src/DeckStack/notifications/NotificationsAllowed.tsx
Due: prettier --write

Notes added by 'git notes add'
  c9/74df5179e8f47073a0f0f8a7f5c66a44e7b3a3
Due: none

fix(notifications-sender): respect absent card state
  packages/backend/jest/mockConsole.ts
  packages/backend/src/lambdas/analyze/extractPayload.ts
  packages/backend/src/lambdas/analyze/index.ts
  packages/backend/src/lambdas/bulk-analyze/extractPayload.ts
  packages/backend/src/lambdas/bulk-analyze/index.ts
  packages/backend/src/lambdas/delete-notification-time/deleteNotificationTime.ts
  packages/backend/src/lambdas/get-notification-time/getNotificationTime.ts
  packages/backend/src/lambdas/notifications-sender/getBody.ts
  packages/backend/src/lambdas/onboard/extractUsefulData.ts
  packages/backend/src/lambdas/onboard/handleAction.ts
  packages/backend/src/lambdas/onboard/mobileAppInstalled.ts
  packages/backend/src/lambdas/onboard/welcomeExtensionUser.ts
  packages/backend/src/lambdas/onboard/welcomeMobileApp.ts
  packages/backend/src/lambdas/recalibrate-notifications/extractPayload.ts
  packages/backend/src/lambdas/set-notification-time/extractPayload.ts
  packages/backend/src/lambdas/user-feedback/saveFeedback.ts
  packages/backend/src/utils/getUTCTime.ts
  packages/backend/src/utils/request.ts
  packages/backend/tsconfig.json
  platform/app-notifications.tf
Due: prettier --write, terraform-fmt

strict
  packages/backend/src/lambdas/notifications-sender/getBody.ts
  packages/sulna/src/trimLanguage.test.ts
Due: prettier --write

fix(notifications-sender): respect absent card state (#56)
  packages/backend/jest/mockConsole.ts
  packages/backend/src/lambdas/analyze/extractPayload.ts
  packages/backend/src/lambdas/analyze/index.ts
  packages/backend/src/lambdas/bulk-analyze/extractPayload.ts
  packages/backend/src/lambdas/bulk-analyze/index.ts
  packages/backend/src/lambdas/delete-notification-time/deleteNotificationTime.ts
  packages/backend/src/lambdas/get-notification-time/getNotificationTime.ts
  packages/backend/src/lambdas/notifications-sender/getBody.ts
  packages/backend/src/lambdas/onboard/extractUsefulData.ts
  packages/backend/src/lambdas/onboard/handleAction.ts
  packages/backend/src/lambdas/onboard/mobileAppInstalled.ts
  packages/backend/src/lambdas/onboard/welcomeExtensionUser.ts
  packages/backend/src/lambdas/onboard/welcomeMobileApp.ts
  packages/backend/src/lambdas/recalibrate-notifications/extractPayload.ts
  packages/backend/src/lambdas/set-notification-time/extractPayload.ts
  packages/backend/src/lambdas/user-feedback/saveFeedback.ts
  packages/backend/src/utils/getUTCTime.ts
  packages/backend/src/utils/request.ts
  packages/backend/tsconfig.json
  packages/sulna/src/trimLanguage.test.ts
  platform/app-notifications.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  bc/13e1c4d2dc456669a07d736d8a11ca85c19dce
Due: none

chore: get user endpoints dashboard method
  dashboard/get-user-endpoints.mjs
Due: prettier --write

feat(backend): log pinpoint send result
  packages/backend/src/lambdas/notifications-sender/sendPinpointMessage.ts
Due: prettier --write

Notes added by 'git notes add'
  03/69a651c11796bdaa5aefbd3a1de232308b3b7d
Due: none

feat(moa): reset main menu when closed
  mobile-app/src/MainMenu/MainMenu.tsx
  mobile-app/src/MainMenu/MainMenuNavigationStack.tsx
Due: prettier --write

feat(moa): notifications item in the main menu
  mobile-app/src/MainMenu/MainMenu.tsx
Due: prettier --write

chore: flaky test
  packages/backend/src/utils/getUTCTime.test.ts
Due: prettier --write

chore: flaky test
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  8f/ab469c0704c6c40592c71e35958a1d54f4a202
Due: none

feat(moa): automatic notifications opt-in (if enpoint exists)
  mobile-app/index.js
  mobile-app/src/notificationsIdentifyUser.ts
Due: prettier --write

Notes added by 'git notes add'
  77/16245ecd85c640030342d962a1f46d1e8d8287
Due: none
