Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

chore(moa): bump 1.57
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

feat(moa): identify user on app activation
  mobile-app/index.js
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/App.tsx
  mobile-app/src/NotificationsContainer.tsx
  mobile-app/src/auth/AuthContainer.tsx
  mobile-app/src/notificationsIdentifyUser.ts
  packages/model/src/errors.ts
Due: prettier --write

Notes added by 'git notes add'
  f8/599c3b50c595846a00beff50e6dad7624b046d
Due: none

feat(www): madeth❤️in Amsterdam
  packages/www/src/pages/about.handlebars
  packages/www/src/pages/index.handlebars
  packages/www/src/partials/layout.handlebars
Due: none

Notes added by 'git notes add'
  00/b92c55385fe598f7c99d5f1d2de1406c61221d
Due: none

amplify v6
  dashboard/delete-user-endpoints.mjs
  mobile-app/index.js
  mobile-app/ios/Podfile
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/App.tsx
  mobile-app/src/DeckStack/NotificationsScreen.tsx
  mobile-app/src/MainMenu/AccountScreen.tsx
  mobile-app/src/NotificationsSettings.tsx
  mobile-app/src/auth/AuthContainer.tsx
  mobile-app/src/auth/AuthContext.ts
  mobile-app/src/auth/AuthStorage.ts
  mobile-app/src/auth/Login.tsx
  mobile-app/src/auth/getFlatAttributes.ts
  mobile-app/src/auth/isCognitoUser.ts
  mobile-app/src/aws-config.ts
  mobile-app/src/notificationsIdentifyUser.ts
  mobile-app/src/recalibrateNotifications.ts
  mobile-app/src/study/Study.tsx
  packages/api/src/config.ts
  packages/api/src/isValidCredentials.ts
  packages/api/src/restClient.ts
  packages/app/src/main.ts
  packages/ios-extension/src/service-worker.ts
  platform/auth.tf
Due: prettier --write, terraform-fmt

piu
  mobile-app/android/app/build.gradle
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/package.json
  mobile-app/src/auth/AuthStorage.ts
  mobile-app/src/auth/Login.tsx
  mobile-app/src/urlOpener.ts
Due: prettier --write

auth storage
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/NotificationsContainer.tsx
  mobile-app/src/auth/AuthContainer.tsx
  mobile-app/src/auth/AuthStorage.ts
Due: prettier --write

more
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/DeckStack/NotificationsScreen.tsx
  mobile-app/src/NotificationsContainer.tsx
Due: prettier --write

remove bs
  mobile-app/src/aws-config.ts
Due: prettier --write

feat(moa): amplify 6 (#57)
  dashboard/delete-user-endpoints.mjs
  mobile-app/android/app/build.gradle
  mobile-app/index.js
  mobile-app/ios/Podfile
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/App.tsx
  mobile-app/src/DeckStack/NotificationsScreen.tsx
  mobile-app/src/MainMenu/AccountScreen.tsx
  mobile-app/src/NotificationsContainer.tsx
  mobile-app/src/NotificationsSettings.tsx
  mobile-app/src/auth/AuthContainer.tsx
  mobile-app/src/auth/AuthContext.ts
  mobile-app/src/auth/AuthStorage.ts
  mobile-app/src/auth/Login.tsx
  mobile-app/src/auth/getFlatAttributes.ts
  mobile-app/src/auth/isCognitoUser.ts
  mobile-app/src/aws-config.ts
  mobile-app/src/notificationsIdentifyUser.ts
  mobile-app/src/recalibrateNotifications.ts
  mobile-app/src/study/Study.tsx
  mobile-app/src/urlOpener.ts
  packages/api/src/config.ts
  packages/api/src/isValidCredentials.ts
  packages/api/src/restClient.ts
  packages/app/src/main.ts
  packages/ios-extension/src/service-worker.ts
  platform/auth.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  3b/0e34746d5a54e039cebd21aa206ed433503a58
Due: none

fix(extension): get auth token
  packages/extension/src/service-worker.ts
Due: prettier --write

Notes added by 'git notes add'
  e5/16231dce955fa579fbb229b770c57331114d5d
Due: none

chore(moa): bump version
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

feat: Estonian
  packages/model/src/language.ts
Due: prettier --write

feat: estonian
  packages/analyze/src/aiDirectTranslateConstants.ts
  packages/analyze/src/aiDirectTranslateExampleGenerator.ts
  packages/analyze/src/mobileAppOnboardingExamplesGenerator.ts
Due: prettier --write

Notes added by 'git notes add'
  ad/61c7f9bf6ef96b99fd837e96afef45b2ab72bb
Due: none

feat(moa): automatically enable notifications after allowing
  mobile-app/VERSION
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/DeckStack/NotificationsScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  ba/f25c8b7898105898812ba66b3bc8d91ba29b67
Due: none

chore: bump android
  mobile-app/android/app/build.gradle
Due: none

feat(www): no pompous adjectives in description
  packages/www/src/partials/layout.handlebars
Due: none

Notes added by 'git notes add'
  1c/6dfa31e50000fd662da8fc6949bec7134bd16e
Due: none

feat: albanian 🤘
  packages/analyze/src/aiDirectTranslateConstants.ts
  packages/analyze/src/aiDirectTranslateExampleGenerator.ts
  packages/analyze/src/mobileAppOnboardingExamplesGenerator.ts
  packages/model/src/language.ts
Due: prettier --write

Notes added by 'git notes add'
  6c/485d516d9523b16c7563d1cff73c7f3d04b47b
Due: none

feat(www): install cta on all the pages
  packages/www/src/index.ts
  packages/www/src/pages/index.handlebars
  packages/www/src/partials/layout.handlebars
  packages/www/src/styles/components/_nav.scss
Due: prettier --write

Notes added by 'git notes add'
  53/f0a59a9f65372ced0aac4e8232a01bdc3d8a4d
Due: none

feat(www): align logo with index page content
  packages/www/src/pages/index.handlebars
  packages/www/src/partials/layout.handlebars
Due: none

Notes added by 'git notes add'
  d2/07b46eb01efe4c415187d68b1848d157a4b414
Due: none

feat(www): logo and get button aligned together
  packages/www/src/partials/layout.handlebars
  packages/www/src/styles.scss
  packages/www/src/styles/components/_nav.scss
Due: prettier --write

Notes added by 'git notes add'
  ad/3a3938256a59a10228087504c5683d8cbd29fa
Due: none

feat(moa): network error explain
  mobile-app/src/study/Study.tsx
  packages/api/src/restClient.ts
  packages/model/src/errors.ts
Due: prettier --write

Notes added by 'git notes add'
  76/fe71a43397d088e664bad6f515690afff0e29c
Due: none

feat(moa): add and remove cards right in onboarding
  mobile-app/src/LookUpScreen.tsx
  mobile-app/src/LookUpScreen/AnalyzeResultItem.tsx
  mobile-app/src/Onboarding/getOnboardingData.ts
  mobile-app/src/OnboardingSlider.tsx
  mobile-app/src/useAnalyzeOperations.ts
  packages/model/src/mobile-onboarding.ts
Due: prettier --write

Notes added by 'git notes add'
  0b/250d363a4cf937667baed38ff3f6d969b1e794
Due: none

feat(www): no navigation on index page
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  packages/www/src/pages/index.handlebars
  packages/www/src/partials/layout.handlebars
Due: none

Notes added by 'git notes add'
  a9/ea4295106ac46386d9911c24de0b73f93e4772
Due: none

feat(extension): edit translation
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/card-definitions/card-definitions.tsx
  packages/extension-content-ui/src/components/card-translation/card-translation.scss
  packages/extension-content-ui/src/components/card-translation/card-translation.tsx
  packages/extension-content-ui/src/components/icon-close/icon-close.scss
  packages/extension-content-ui/src/components/icon-close/icon-close.tsx
  packages/extension-content-ui/src/components/icon-edit/icon-edit.scss
  packages/extension-content-ui/src/components/icon-edit/icon-edit.tsx
  packages/extension-content-ui/src/components/translation/translation.tsx
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/translation-cards.ts
Due: prettier --write

feat(extension): more pleasant hint safe area
  packages/extension-content-ui/src/components/translation/translation.scss
  packages/extension-content-ui/src/components/translation/translation.tsx
Due: prettier --write

Notes added by 'git notes add'
  c2/3b433336398293fa239fc1ab21c9ce558dd5b6
Due: none
