Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

feat(extension): show translation
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-definition/vocably-definition.tsx
  packages/extension-content-ui/src/components/vocably-side-b/vocably-side-b.scss
  packages/extension-content-ui/src/components/vocably-side-b/vocably-side-b.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-content-ui/src/styles/_variables.scss
Due: prettier --write

Notes added by 'git notes add'
  e340097b30bf6994c2b5aeaf14388f6a9c66abfe
Due: none

feat(app): show translation
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
  packages/app/src/app/srs/card/card.component.html
  packages/app/src/app/srs/definition/definition.component.html
  packages/app/src/app/srs/definition/definition.component.spec.ts
  packages/app/src/app/srs/definition/definition.component.ts
  packages/app/src/app/srs/side-b/side-b.component.html
  packages/app/src/app/srs/side-b/side-b.component.scss
  packages/app/src/app/srs/side-b/side-b.component.ts
  packages/app/src/app/srs/srs.module.ts
  packages/app/src/styles/_utils.scss
Due: prettier --write

Notes added by 'git notes add'
  7f1fa3edccdeb9222b13ddefabd54d0c641d58d1
Due: none

test(e2e): update screenshots
  packages/app-e2e/cypress/fixtures/fr.ts
  packages/app-e2e/cypress/fixtures/nl.ts
  packages/app-e2e/cypress/integration/1-unauthorized/login-screen.spec.ts
  packages/app-e2e/cypress/integration/2-authorized/dashboard-screen.spec.ts
  packages/app-e2e/cypress/support/snapshot.ts
  packages/app-e2e/snapshots/All Integration Specs/deck selector clicked.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit dutch.snap.png
  packages/app-e2e/snapshots/All Integration Specs/login screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/multiple decks screen - dutch.snap.png
  packages/app-e2e/snapshots/All Integration Specs/multiple decks screen - french.snap.png
  packages/app-e2e/snapshots/All Integration Specs/single deck screen.snap.png
Due: prettier --write

feat(app): edit card
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/edit-page/card-form/card-form.component.html
  packages/app/src/app/decks/pages/edit-page/card-form/card-form.component.scss
  packages/app/src/app/decks/pages/edit-page/card-form/card-form.component.ts
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.ts
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.ts
  packages/app/src/styles.scss
  packages/app/src/styles/_forms.scss
  packages/app/src/styles/_variables.scss
Due: prettier --write

feat(app): show and hide card edit form with animation
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.ts
  packages/app/src/app/decks/pages/edit-page/card-form/card-form.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.scss
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.ts
  packages/app/src/app/srs/card/card.component.html
  packages/app/src/app/srs/side-b/side-b.component.ts
Due: prettier --write

Notes added by 'git notes add'
  d47203b98c2b4d601256c4104425eb9433a4a662
Due: none

test(e2e): verify edit flow
  packages/app-e2e/cypress/integration/2-authorized/edit-card.spec.ts
  packages/app-e2e/snapshots/.gitignore
  packages/app-e2e/snapshots/All Integration Specs/delete card - restore button.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit card - cancelled item.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit card - form.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit card - type new value.snap.png
  packages/app-e2e/snapshots/All Integration Specs/permanently deleted card item.snap.png
  packages/app-e2e/snapshots/All Integration Specs/updated card item.snap.png
  packages/app/src/app/decks/pages/edit-page/card-form/card-form.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
Due: prettier --write

feat(app): apple icons
  packages/app/angular.json
  packages/app/src/assets/apple-icon-180.png
  packages/app/src/assets/apple-splash-1125-2436.jpg
  packages/app/src/assets/apple-splash-1136-640.jpg
  packages/app/src/assets/apple-splash-1170-2532.jpg
  packages/app/src/assets/apple-splash-1242-2208.jpg
  packages/app/src/assets/apple-splash-1242-2688.jpg
  packages/app/src/assets/apple-splash-1284-2778.jpg
  packages/app/src/assets/apple-splash-1334-750.jpg
  packages/app/src/assets/apple-splash-1536-2048.jpg
  packages/app/src/assets/apple-splash-1620-2160.jpg
  packages/app/src/assets/apple-splash-1668-2224.jpg
  packages/app/src/assets/apple-splash-1668-2388.jpg
  packages/app/src/assets/apple-splash-1792-828.jpg
  packages/app/src/assets/apple-splash-2048-1536.jpg
  packages/app/src/assets/apple-splash-2048-2732.jpg
  packages/app/src/assets/apple-splash-2160-1620.jpg
  packages/app/src/assets/apple-splash-2208-1242.jpg
  packages/app/src/assets/apple-splash-2224-1668.jpg
  packages/app/src/assets/apple-splash-2388-1668.jpg
  packages/app/src/assets/apple-splash-2436-1125.jpg
  packages/app/src/assets/apple-splash-2532-1170.jpg
  packages/app/src/assets/apple-splash-2688-1242.jpg
  packages/app/src/assets/apple-splash-2732-2048.jpg
  packages/app/src/assets/apple-splash-2778-1284.jpg
  packages/app/src/assets/apple-splash-640-1136.jpg
  packages/app/src/assets/apple-splash-750-1334.jpg
  packages/app/src/assets/apple-splash-828-1792.jpg
  packages/app/src/assets/favicon-196.png
  packages/app/src/assets/manifest-icon-192.maskable.png
  packages/app/src/assets/manifest-icon-512.maskable.png
  packages/app/src/favicon.ico
  packages/app/src/index.html
  packages/app/src/manifest.json
  scripts/update-icon.mjs
Due: prettier --write

Notes added by 'git notes add'
  0cc31a274ecb475960589c80a1de2119313041dc
Due: none

fix(app): setup pwa start URL
  packages/app/src/manifest.json
Due: prettier --write

Notes added by 'git notes add'
  a722ad9393acecdced7814a7fd04a8bee887f865
Due: none

feat(extension): login button active shadow
  packages/extension-content-script/public/index.ts
  packages/extension-content-ui/src/components/vocably-unauthorized/vocably-unauthorized.scss
Due: prettier --write

Notes added by 'git notes add'
  0b94dbdbee4ec045eb3f7362c2a81ab0726fd060
Due: none

fix(app): card options tooltip
  packages/app/package.json
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/components/tooltip/tooltip-trigger-for.directive.ts
  packages/app/src/app/components/tooltip/tooltip.component.html
  packages/app/src/app/components/tooltip/tooltip.component.scss
  packages/app/src/app/components/tooltip/tooltip.component.ts
  packages/app/src/app/srs/card-options/card-options.component.html
  packages/app/src/app/srs/card-options/card-options.component.scss
  packages/app/src/app/srs/card-options/card-options.component.ts
  packages/app/src/app/srs/srs.module.ts
  packages/app/src/styles.scss
  yarn.lock
Due: prettier --write

feat(app): beautiful back button
  packages/app/src/app/components/back-button/back-button.component.html
  packages/app/src/app/components/back-button/back-button.component.ts
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/decks/pages/study-page/study-page.component.html
  packages/app/src/styles/_utils.scss
Due: prettier --write

Notes added by 'git notes add'
  6b08337bc0b34eb23957c1f6cbda8c11acfd1f8b
Due: none

feat(app): edit decks title
  packages/app/src/app/components/back-button/back-button.component.html
  packages/app/src/app/components/back-button/back-button.component.scss
  packages/app/src/app/components/back-button/back-button.component.ts
  packages/app/src/app/decks/decks-routing.module.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.scss
  packages/app/src/app/header/header.component.ts
  packages/app/src/app/header/header.module.ts
  packages/app/src/styles/_utils.scss
Due: prettier --write

Notes added by 'git notes add'
  4178c419e128b1b7c1d6a4348da92ec5bf465c33
Due: none

feat(app): edit and delete large icons
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
Due: prettier --write

Notes added by 'git notes add'
  32d3c51fb22f7f6c3b076aaa1c5bed58ebd8bf2a
Due: none

feat(app): visually detach back button from title
  packages/app/src/app/header/header.component.html
Due: prettier --write

feat(www): landing logo
  packages/www/index.html
  packages/www/logo.svg
  packages/www/styles.css
Due: prettier --write

Notes added by 'git notes add'
  17f8a0895ac757885ab466384ede782a32d5fcd9
Due: none

fix(www): page height
  packages/www/styles.css
Due: prettier --write

Notes added by 'git notes add'
  9d2fa73e1ae5c0063c95408790add123910eacda
Due: none

fix(app): header white space no wrap
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.scss
Due: prettier --write

Notes added by 'git notes add'
  40e68c33afe3b947eb6cb617af84c6048cd9ec57
Due: none

chore: switch to npm from yarn
  .circleci/config.yml
  .gitignore
  package-lock.json
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/crud/package.json
  packages/extension-content-script/package.json
  packages/extension-content-ui/package.json
  packages/extension-messages/package.json
  packages/extension-service-worker/package.json
  packages/extension/package.json
  packages/hermes/package.json
  packages/model/package.json
  packages/pontis/package.json
  packages/srs/package.json
  packages/sulna/package.json
  packages/webpack/package.json
  platform/api.tf
  platform/www-api.tf
  scripts/build-extension.mjs
  scripts/build-packages.mjs
  scripts/deploy-dev-app.mjs
  yarn.lock
Due: prettier --write, terraform-fmt

feat(app): app new version notification and reload toast
  package-lock.json
  packages/app/angular.json
  packages/app/ngsw-config.json
  packages/app/package.json
  packages/app/src/app/app.component.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/update.service.ts
  packages/app/src/index.html
  packages/app/src/styles.scss
  packages/app/src/styles/_toast.scss
  packages/app/src/styles/_variables.scss
Due: prettier --write

Notes added by 'git notes add'
  315409c59ec947d709f460e51f7ee85bc9ebb27f
Due: none

feat(extension): display button without google translate
  packages/extension-content-script/src/button.ts
  packages/extension-content-script/src/index.ts
  packages/extension-content-script/src/styling.ts
  packages/extension-content-ui/src/components/vocably-button/vocably-button.scss
Due: prettier --write

Notes added by 'git notes add'
  43ef87b100b7c68ceed23c76e7e0a7a89960e696
Due: none

fix(extension): reduce similar words down to one single card
  packages/extension-service-worker/src/createCards.test.ts
  packages/extension-service-worker/src/createCards.ts
Due: prettier --write

Notes added by 'git notes add'
  7db42411c3248d4539aa1739f0f9363b315802a0
Due: none

feat(app): take one more round button on success screen
  packages/app/src/app/decks/pages/study-page/study-page.component.html
  packages/app/src/app/decks/pages/study-page/study-page.component.ts
  packages/app/src/app/srs/list/list.component.html
  packages/app/src/app/srs/list/list.component.ts
  packages/app/src/app/srs/success/success.component.html
  packages/app/src/app/srs/success/success.component.scss
  packages/app/src/app/srs/success/success.component.ts
Due: prettier --write

Notes added by 'git notes add'
  96ba9c2afd25611f3eb2984fdd5132b721591bd1
Due: none

fix(extension): align button with gtx
  packages/extension-content-script/src/button.ts
  packages/extension-content-ui/src/components/vocably-button/vocably-button.scss
Due: prettier --write

Notes added by 'git notes add'
  d9044d63d1aceb20cc8780addb52cc8bad8333d7
Due: none
