Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

Notes added by 'git notes add'
  c610bcdaae6ef1f213583923c967560f4878acc9
Due: none

feat(app): update subscription button
  packages/app/src/app/components/subscription-status.pipe.ts
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.ts
  packages/app/src/app/subscription/canUpdateSubscription.ts
  packages/app/src/app/subscription/paddle.ts
  packages/app/src/app/subscription/pages/subscription-page/subscription-page.component.html
  packages/app/src/app/subscription/pages/subscription-page/subscription-page.component.scss
  packages/app/src/app/subscription/pages/subscription-page/subscription-page.component.ts
  packages/app/src/app/subscription/subscription-routing.module.ts
  packages/app/src/app/subscription/subscription.module.ts
Due: prettier --write

chore: refersh package-locak.json
  package-lock.json
Due: prettier --write

chore: update package-lock.json
  package-lock.json
  packages/app/package.json
Due: prettier --write

chore: upgrade jest-cli
  package-lock.json
  packages/backend/package.json
  packages/extension-service-worker/package.json
  packages/srs/package.json
  packages/sulna/package.json
  scripts/remove-node-modules.mjs
Due: prettier --write

Notes added by 'git notes add'
  35f4f6f47235940325847fc2732450cdaaf6dafb
Due: none

feat(app): subscription page title
  packages/app/src/app/subscription/pages/subscription-page/subscription-page.component.html
  packages/app/src/app/subscription/pages/subscription-page/subscription-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  455ef8c1f0880500d6c9b89a74a51c7cff027259
Due: none

feat(app): update subscription
  packages/app/src/app/auth/auth.service.ts
  packages/backend/src/lambdas/paddle/handleEvent.ts
  packages/backend/src/lambdas/paddle/handleEvent/handleSubscriptionUpdated.ts
  packages/backend/src/lambdas/paddle/handleEvent/setupUserAttributes.ts
  packages/backend/src/lambdas/paddle/types.ts
  platform/auth.tf
Due: prettier --write, terraform-fmt

refactor(app): rename subscription to subscribe
  packages/app/src/app/subscription/paddle.ts
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.html
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.scss
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.ts
  packages/app/src/app/subscription/subscription-routing.module.ts
  packages/app/src/app/subscription/subscription.module.ts
Due: prettier --write

feat(app): manage subscription page
  packages/app/src/app/header/header.component.html
  packages/app/src/app/subscription/paddle.service.ts
  packages/app/src/app/subscription/paddle.ts
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.html
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.scss
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.ts
  packages/app/src/app/subscription/subscription-routing.module.ts
  packages/app/src/app/subscription/subscription.module.ts
Due: prettier --write

chore: update events mock data to match process
  packages/backend/src/lambdas/paddle/_mocks/events.ts
Due: prettier --write

Notes added by 'git notes add'
  72351014925479215630cdc97d926d2a5ec6526b
Due: none

feat(backend): handle cancellation webhook event
  packages/backend/src/lambdas/paddle/_mocks/events.ts
  packages/backend/src/lambdas/paddle/handleEvent.ts
  packages/backend/src/lambdas/paddle/handleEvent/handleSubscriptionCancelled.ts
  packages/backend/src/lambdas/paddle/handleEvent/setupCancellationAttributes.ts
  packages/backend/src/lambdas/paddle/index.spec.ts
  platform/auth.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  1dcc248e6fcb1cb6f865b6e78d61640cc484828a
Due: none

feat(app): refresh user data after stuff
  packages/app/src/app/app.component.ts
  packages/app/src/app/auth/auth.service.ts
Due: prettier --write

Notes added by 'git notes add'
  be3474c50e4c3905b25aff17c2d66e6862d0e06c
Due: none

feat(app): redirect users to proper subscibe/manage pages
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.ts
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  fa3ba2a4e76a53ec31565fa9afae2fd92ceed2c0
Due: none

feat(app): wait for the cognito user to be updated on the successful subscription
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/srs/success/success.component.html
  packages/app/src/app/srs/success/success.component.scss
  packages/app/src/app/subscription/paddle.ts
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.html
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.scss
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.ts
  packages/app/src/styles/_utils.scss
  packages/styles/_colors.scss
Due: prettier --write

Notes added by 'git notes add'
  3d9eb35f3769032cf823d4cc85929acfe7ec2aab
Due: none

feat(app): subscription cancel message
  packages/app/src/app/app.component.spec.ts
  packages/app/src/app/app.component.ts
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/subscription/paddle.service.ts
  packages/app/src/app/subscription/paddle.ts
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.html
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.scss
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  5d3ee2e36d901a4216602361c1ce3fe3a1811af5
Due: none

feat(app): subscription status in header menu and manage page
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.ts
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.html
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.ts
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.html
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.ts
  packages/app/src/app/subscription/subscriptionStatus.ts
Due: prettier --write

Notes added by 'git notes add'
  b8dde717d93a5890eba994a23f8de3e73830774a
Due: none

feat(app): automatically refresh token on successful payment
  packages/app/src/app/auth/auth.service.ts
Due: prettier --write

Notes added by 'git notes add'
  e139acd0e2a8ec31f5063e593de35ab17e206157
Due: none

fix(app): card must not expose vertical scroll on flip
  packages/app/src/app/srs/card/card.component.scss
Due: prettier --write

Notes added by 'git notes add'
  9594515c4dbdf9c0027f622bc07f359aa1ae1934
Due: none

feat(backend): suppress unpaid requests
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/index.ts
  packages/backend/src/lambdas/analyze/validatePermissions.ts
  packages/model/src/errors.ts
Due: prettier --write

Notes added by 'git notes add'
  59f89be11d2a767397f958b01a2a8064df5888da
Due: none

feat(backend): populate subscription_canceller db on cancelling subscription
  packages/backend/.env
  packages/backend/src/lambdas/paddle/handleEvent/handleSubscriptionCancelled.ts
  packages/backend/src/lambdas/paddle/handleEvent/handleSubscriptionCreated.ts
  packages/backend/src/lambdas/paddle/subscriptionCancellerDb.ts
  platform/api-paddle.tf
  platform/environments.tf
  platform/subscription-canceller.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  baa592fca1d6581f2cbdd734757aca21ac1f47f6
Due: none

fix(backend): paddle webhook lambda delete SubscriptionCanceller permissions
  platform/api-paddle.tf
Due: terraform-fmt

Notes added by 'git notes add'
  f8fe32384f875213f509f2b7fec6cb6e895f2898
Due: none

feat(backend): cancel subscriptions every 12 hours
  packages/backend/src/lambdas/paddle/handleEvent/handleSubscriptionCancelled.ts
  packages/backend/src/lambdas/paddle/handleEvent/handleSubscriptionCreated.ts
  packages/backend/src/lambdas/subscription-canceller/cancelSubscription.ts
  packages/backend/src/lambdas/subscription-canceller/cancelSubscriptions.ts
  packages/backend/src/lambdas/subscription-canceller/eventTimeToCancellationTimestamp.test.ts
  packages/backend/src/lambdas/subscription-canceller/eventTimeToCancellationTimestamp.ts
  packages/backend/src/lambdas/subscription-canceller/index.spec.ts
  packages/backend/src/lambdas/subscription-canceller/index.ts
  packages/backend/src/subscriptionCancellerDb.ts
  platform/subscription-canceller.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  cc9ab1de3d0b480567f56b748228101166aadbbc
Due: none

feat(app): don't show expired cancellation date
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.ts
Due: prettier --write

Notes added by 'git notes add'
  0a1ed6bde0119890d0827e54c898868b2e63ad34
Due: none

refactor(extension): vocably-unauthorized to generic vocably-alert
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-alert/vocably-alert.scss
  packages/extension-content-ui/src/components/vocably-alert/vocably-alert.tsx
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-unauthorized/vocably-unauthorized.tsx
  packages/extension-content-ui/src/index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
