Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

feat(moa): import respect tab key
  packages/app/src/app/pages/import-page/import-page.component.html
  packages/app/src/app/pages/import-page/import-page.component.ts
Due: prettier --write

feat(app): no false promises
  packages/app/src/app/pages/import-page/import-page.component.html
Due: prettier --write

Notes added by 'git notes add'
  e9/ac7661db6137220bfc6e54f885808dce718bbe
Due: none

feat(app): export header
  packages/app/src/app/decks/pages/export-page/export-page.component.ts
  packages/app/src/app/decks/pages/export-page/getColumns.ts
  packages/app/src/app/importExport.ts
Due: prettier --write

feat(app): import arbitrary columns
  packages/app/src/app/pages/import-page/getCsvData.ts
  packages/app/src/app/pages/import-page/getExtraCsvColumns.ts
  packages/app/src/app/pages/import-page/import-page.component.html
  packages/app/src/app/pages/import-page/import-page.component.scss
  packages/app/src/app/pages/import-page/import-page.component.ts
Due: prettier --write

chore: unit tests
  packages/backend/src/utils/getUTCTime.test.ts
Due: prettier --write

chore: flaky tests
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  63/2c6d9419365d15e88e36f4c71cbf099933fe54
Due: none

m
  packages/analyze/src/aiDirectTranslate.ts
  packages/analyze/src/aiReverseTranslate.ts
  packages/analyze/src/buildBulkAnalysisResult.ts
  packages/analyze/src/config.ts
  packages/analyze/src/translateDefinitions.ts
  packages/analyze/src/translateFromContext.ts
  packages/backend/src/lambdas/generate-mnemonic/extractPayload.ts
  packages/backend/src/lambdas/generate-mnemonic/generateMnemonic.ts
  packages/backend/src/lambdas/generate-mnemonic/index.spec.ts
  packages/backend/src/lambdas/generate-mnemonic/index.ts
  packages/lambda-shared/package.json
  packages/lambda-shared/src/chatGptRequest.ts
  packages/lambda-shared/src/index.ts
  packages/lambda-shared/src/openAiClient.ts
  packages/lambda-shared/src/parseJson.test.ts
  packages/lambda-shared/src/parseJson.ts
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/mnemonics.ts
  platform/api-generate-mnemonic.tf
  platform/api.tf
Due: prettier --write, terraform-fmt

feat(backend): mnemonic (#58)
  packages/analyze/src/aiDirectTranslate.ts
  packages/analyze/src/aiReverseTranslate.ts
  packages/analyze/src/buildBulkAnalysisResult.ts
  packages/analyze/src/config.ts
  packages/analyze/src/translateDefinitions.ts
  packages/analyze/src/translateFromContext.ts
  packages/backend/src/lambdas/generate-mnemonic/extractPayload.ts
  packages/backend/src/lambdas/generate-mnemonic/generateMnemonic.ts
  packages/backend/src/lambdas/generate-mnemonic/index.spec.ts
  packages/backend/src/lambdas/generate-mnemonic/index.ts
  packages/lambda-shared/package.json
  packages/lambda-shared/src/chatGptRequest.ts
  packages/lambda-shared/src/index.ts
  packages/lambda-shared/src/openAiClient.ts
  packages/lambda-shared/src/parseJson.test.ts
  packages/lambda-shared/src/parseJson.ts
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/mnemonics.ts
  platform/api-generate-mnemonic.tf
  platform/api.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  8c/bcaafc641ede15ac1ae50d1b9407093ff9c0c4
Due: none

feat(analyze): translate all with ChatCPT
  packages/model/src/language.ts
Due: prettier --write

feat(backend): chatgpt languages translations examples
  packages/analyze/src/aiDirectTranslateConstants.ts
  packages/analyze/src/aiDirectTranslateExampleGenerator.ts
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

feat(analyze): properly combine direcrt and reverse tarnslation for better results
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/buildReverseResult.ts
Due: prettier --write

fix(analyze): merge direct and reverse items considering articles
  packages/analyze/src/buildReverseResult.ts
Due: prettier --write

Notes added by 'git notes add'
  aa/85a904e07e72be3aa45fab77830241dc6bb431
Due: none

feat(moa): generate mnemonic
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/MnemonicModal.tsx
  mobile-app/src/RootModalStack.tsx
  mobile-app/src/study/StudyScreen.tsx
  mobile-app/src/useMnemonic.ts
  packages/api/src/index.ts
  packages/api/src/mnemonics.ts
  packages/backend/src/lambdas/generate-mnemonic/generateMnemonic.ts
  packages/backend/src/lambdas/generate-mnemonic/index.spec.ts
  packages/backend/src/lambdas/generate-mnemonic/stripCode.test.ts
  packages/backend/src/lambdas/generate-mnemonic/stripCode.ts
  packages/lambda-shared/src/chatGptRequest.ts
Due: prettier --write

feat(backend): no abbreviated sentence in generated mnemonics
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  packages/backend/src/lambdas/generate-mnemonic/generateMnemonic.ts
  packages/backend/src/lambdas/generate-mnemonic/index.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  de/5d92fee932c3b314b06fdfabc94f0d308dd66e
Due: none

feat(moa): mmemonic analyze actions
  mobile-app/src/FeedbackModal.tsx
  mobile-app/src/MnemonicModal.tsx
Due: prettier --write

feat(moa): voted for
  mobile-app/src/MnemonicModal.tsx
Due: prettier --write

Notes added by 'git notes add'
  b0/b525acd3cbb6d39e8fe48d3113f437ca4df886
Due: none

feat(moa): mnemonic explanation
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/MnemonicModal.tsx
Due: prettier --write

feat(moa): mnemonic explanations in Turkish and Vietnamese
  mobile-app/src/MnemonicModal.tsx
Due: prettier --write

Notes added by 'git notes add'
  9f/32cbfe4973cda7878cea8345b51cb4413a2c1b
Due: none

feat(moa): track mnemonic usage
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/MnemonicModal.tsx
Due: prettier --write

feat(moa): generate mnemonic event capture in posthog
  mobile-app/android/app/build.gradle
  mobile-app/src/MnemonicModal.tsx
  mobile-app/src/useMnemonic.ts
Due: prettier --write

chore(moa): bump the version
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

Notes added by 'git notes add'
  83/8cd5c0d2f731c0fb3a784b6c9181b15d804d7d
Due: none

chore: auto-generate file
  packages/extension-content-ui/src/components.d.ts
Due: prettier --write

feat(backend): explain the sentence
  packages/analyze/src/buildDirectResult.ts
  packages/analyze/src/buildDirectResult/buildDirectJapaneseResult.ts
  packages/analyze/src/buildDirectResultLegacy.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/buildReverseResult.ts
  packages/analyze/src/explainSentence.spec.ts
  packages/analyze/src/explainSentence.ts
  packages/analyze/src/isSingleWord.ts
  packages/backend/src/lambdas/generate-mnemonic/generateMnemonic.ts
  packages/lambda-shared/src/chatGptRequest.ts
  packages/model/src/analysis.ts
Due: prettier --write

chore: unit test
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  fb/af8db969b5ff55c0a5cbf962527e0a2129df46
Due: none

feat(extension): display explanation
  packages/analyze/src/explainSentence.spec.ts
  packages/analyze/src/explainSentence.ts
  packages/extension-content-script/public/index.html
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/icon-ai/icon-ai.scss
  packages/extension-content-ui/src/components/icon-ai/icon-ai.tsx
  packages/extension-content-ui/src/components/translation/translation.scss
  packages/extension-content-ui/src/components/translation/translation.tsx
  packages/extension-content-ui/src/index.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/translation-cards.ts
Due: prettier --write

feat(analyse): do not lexicalyze the explained words
  packages/analyze/src/buildDirectResult.ts
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  5e/3aca471f7eaf77c171ba022a7ee68d101087ca
Due: none

feat(extension): explanation markdown
  package-lock.json
  package.json
  packages/analyze/src/buildDirectResult.ts
  packages/analyze/src/explainSentence.ts
  packages/extension-content-ui/src/components/translation/translation.scss
  packages/extension-content-ui/src/components/translation/translation.tsx
  packages/extension-content-ui/src/index.ts
Due: prettier --write

refactor: get rid of json schema in sentence explainer
  packages/analyze/src/explainSentence.ts
Due: prettier --write

chore: test
  packages/analyze/src/explainSentence.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  80/3f9a11d6860630fee353ae3b77a6019568afd1
Due: none
