Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

set source language
  packages/app/src/app/welcome/pages/second-page/second-page.component.ts
Due: prettier --write

feat(extension): clickable buttons
  packages/extension-content-script/public/index.html
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/configuration.ts
  packages/extension-content-script/src/index.ts
  packages/extension-content-ui/src/components/vocably-close-button/vocably-close-button.scss
  packages/ios-extension/src/content-script.ts
Due: prettier --write

chore: bump mobile app (1.6)
  mobile-app/VERSION
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

Notes added by 'git notes add'
  9b/f3e5781b7cb45d63cca87a717f2a7df2434feb
Due: none

fix(extension): destroy previous button before showing the new one
  packages/extension-content-script/src/index.ts
  packages/extension/src/content-script.ts
Due: prettier --write

Notes added by 'git notes add'
  f4/30f635517c43a76127a52937849fd21e73f168
Due: none

Add language selector
  mobile-app/index.js
  mobile-app/src/Share.tsx
  mobile-app/src/ShareIntent/ShareIntentApp.tsx
  mobile-app/src/ShareIntent/ShareIntentLogin.tsx
  mobile-app/src/ShareIntent/ShareIntentScreen.tsx
  mobile-app/src/ShareIntent/ShareIntentStackNavigator.tsx
  mobile-app/src/ShareIntent/openMainApp.ts
  mobile-app/src/ShareIntent/useShareIntentData.ts
Due: prettier --write

Attach LookUp screen, Change viewport, add theme
  mobile-app/android/app/src/main/res/values/styles.xml
  mobile-app/src/LookUpScreen.tsx
  mobile-app/src/LookUpScreen/useTranslationPreset.tsx
  mobile-app/src/ShareIntent/ShareIntentApp.tsx
  mobile-app/src/ShareIntent/ShareIntentLogin.tsx
  mobile-app/src/ShareIntent/ShareIntentScreen.tsx
  mobile-app/src/ShareIntent/ShareIntentStackNavigator.tsx
  mobile-app/src/ShareIntent/openMainApp.ts
Due: prettier --write

hightlight
  packages/app/src/app/welcome/highlight/highlight.component.html
  packages/app/src/app/welcome/highlight/highlight.component.scss
  packages/app/src/app/welcome/highlight/highlight.component.spec.ts
  packages/app/src/app/welcome/highlight/highlight.component.ts
  packages/app/src/app/welcome/pages/second-page/second-page.component.html
  packages/app/src/app/welcome/welcome.module.ts
Due: prettier --write

feat(backend): context-dependent translation
  mobile-app/android/app/build.gradle
  package-lock.json
  package.json
  packages/analyze/.env.test
  packages/analyze/src/buildDirectResult.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/translate.ts
  packages/analyze/src/translateFromContext.spec.ts
  packages/analyze/src/translateFromContext.ts
  packages/backend/.env
  packages/model/src/analysis.ts
  packages/model/src/errors.ts
  platform/environments.tf
  platform/variables.tf
Due: prettier --write, terraform-fmt

test: fix
  packages/analyze/src/translateFromContext.spec.ts
Due: prettier --write

fix(backend): slim analyze lambda
  package-lock.json
  package.json
  packages/analyze/package.json
  packages/analyze/src/config.ts
  packages/analyze/src/googleTranslate.ts
  packages/analyze/src/googleTranslate/googleTranslateClient.ts
  packages/analyze/src/openAiClient.ts
  packages/analyze/src/test/configureTestAnalyzer.ts
  packages/analyze/src/tokenize.test.ts
  packages/analyze/src/tokenize.ts
  packages/analyze/src/translateFromContext.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/index.ts
  platform/api-analyze.tf
  platform/api.tf
  scripts/declare-variables.sh
Due: prettier --write, terraform-fmt

chore(ci): run tests in band
  .circleci/config.yml
Due: prettier --write

Notes added by 'git notes add'
  24/f8349c5a5a46c075dd6bdb35a10ca8d39cbe86
Due: none

fix(analize): lambda jumpstart
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/googleTranslate.ts
  packages/analyze/src/tokenize.test.ts
  packages/analyze/src/translateFromContext.ts
Due: prettier --write

feat(analyze): better explain how to translate and what to expect
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/translateFromContext.ts
Due: prettier --write

Notes added by 'git notes add'
  98/4dd66c0ea70602be8c44b9a3749ad87d99136a
Due: none

fix(analyze): translate long texts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/tokenize.test.ts
  packages/analyze/src/tokenize.ts
  packages/analyze/src/translate.ts
  packages/analyze/src/translateFromContext.ts
Due: prettier --write

ci: run tests in silent mode
  .circleci/config.yml
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  3e/7c4b772501a99234b48f7e13fa83ddca4ecd4d
Due: none

feat(analyze): translate well-known languages with ghatgpt
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/translateFromContext.ts
  packages/model/src/language.ts
  scripts/list-languages.js
Due: prettier --write

Notes added by 'git notes add'
  02/a24c097aef00b1a27c6bf4a61c4ce0b039890b
Due: none

feat(extension): translate with AI based on the selection context
  packages/analyze/src/translateFromContext.ts
  packages/extension-content-script/public/index.html
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/button.ts
  packages/extension-content-script/src/contextLanguages.ts
  packages/extension-content-script/src/getContext.ts
  packages/extension-content-script/src/getContext/getContextFromSelection.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-script/src/youtube.ts
  packages/sulna/src/index.ts
  packages/sulna/src/tokenize.test.ts
  packages/sulna/src/tokenize.ts
Due: prettier --write

Notes added by 'git notes add'
  fe/1377da5f5b0e147a344d3430000843968a4a6d
Due: none

Fix app opening multiple times
  mobile-app/patches/react-native-share-menu+6.0.0.patch
Due: none

Add BackHandler to window backdrop
  mobile-app/src/ShareIntent/ShareIntentApp.tsx
Due: prettier --write

Extract selected word
  mobile-app/src/ShareIntent/useShareIntentData.ts
Due: prettier --write

Change label
  mobile-app/android/app/src/main/AndroidManifest.xml
Due: none

fix(backend): analyze considers source language
  packages/analyze/src/translate.ts
Due: prettier --write

Notes added by 'git notes add'
  de/9f21b97d80ded2c4c63b8707c817b012ba5635
Due: none

Delete old patch file
  mobile-app/patches/react-native-share-menu+6.0.0.patch
Due: none

Add new patch file
  mobile-app/patches/react-native-share-menu+6.0.0.patch
Due: none

feat(app): safari extension bug fix recipe
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.html
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.ts
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/components/expansion/expansion.component.html
  packages/app/src/app/components/expansion/expansion.component.scss
  packages/app/src/app/components/expansion/expansion.component.ts
  packages/app/src/browser.ts
  packages/app/src/styles/_hero.scss
Due: prettier --write

Notes added by 'git notes add'
  69/b60868ada537bb170332a6493f481d6996e203
Due: none

Add animations and autotranslate
  mobile-app/src/LookUpScreen.tsx
  mobile-app/src/ShareIntent/ShareIntentApp.tsx
Due: prettier --write

update version
  mobile-app/android/app/build.gradle
Due: none

feat(android): translate words right from the context menu
  mobile-app/android/app/build.gradle
  mobile-app/android/app/src/main/AndroidManifest.xml
  mobile-app/android/app/src/main/java/com/vocablypro/ShareActivity.kt
  mobile-app/android/app/src/main/res/values/styles.xml
  mobile-app/index.js
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/patches/react-native-share-menu+6.0.0.patch
  mobile-app/src/LookUpScreen.tsx
  mobile-app/src/LookUpScreen/useTranslationPreset.tsx
  mobile-app/src/ShareIntent/ShareIntentApp.tsx
  mobile-app/src/ShareIntent/useShareIntentData.ts
Due: prettier --write

chore: bump android version code
  mobile-app/android/app/build.gradle
Due: none

Notes added by 'git notes add'
  4b/127ca9b3710339c119509232d2708efe0f1a13
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
