Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

feat: display part of speech alongside sideA
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/app/srs/card/card.component.html
  packages/app/src/app/srs/card/card.component.scss
  packages/app/src/app/srs/card/card.component.ts
  packages/app/src/app/srs/list/list.component.html
  packages/app/src/styles/_utils.scss
  packages/app/src/styles/_variables.scss
  packages/extension-content-script/public/index.html
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
Due: prettier --write

Notes added by 'git notes add'
  5d416611c471b93f1c2c31f36b40a19856d360ef
Due: none

refactor(extension-content-script): move styling-related code to a separate module
  packages/extension-content-script/src/button.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/styling.ts
  packages/extension-content-script/src/zIndex.ts
Due: prettier --write

fix: select sideA without part of speech on double click
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/styles/_utils.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
Due: prettier --write

Notes added by 'git notes add'
  5f3fcc072830e0ec2a93c65615a27da5be493083
Due: none

test: regenerate snapshots
  packages/app-e2e/cypress/support/snapshot.ts
  packages/app-e2e/snapshots/1-unauthorized/login-screen.spec.ts/login screen.snap.png
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.ts/deck selector clicked.snap.png
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.ts/multiple decks screen - dutch.snap.png
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.ts/multiple decks screen - french.snap.png
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.ts/no decks screen.snap.png
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.ts/single deck screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/deck selector clicked.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit dutch.snap.png
  packages/app-e2e/snapshots/All Integration Specs/login screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/multiple decks screen - dutch.snap.png
  packages/app-e2e/snapshots/All Integration Specs/multiple decks screen - french.snap.png
  packages/app-e2e/snapshots/All Integration Specs/no decks screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/single deck screen.snap.png
Due: prettier --write

feat(app): delete card
  packages/app/src/app/decks/deck.service.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.scss
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.ts
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.scss
  packages/app/src/app/decks/pages/edit-page/edit-page.component.ts
  packages/app/src/styles/_utils.scss
  packages/crud/src/index.ts
  packages/model/src/errors.ts
Due: prettier --write

Notes added by 'git notes add'
  de2382eb4de577f247cc2b4b41ff1594a4819eb2
Due: none

feat(extension): display login button
  packages/app/src/styles/_buttons.scss
  packages/extension-content-script/public/index.html
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/index.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-unauthorized/vocably-unauthorized.scss
  packages/extension-content-ui/src/components/vocably-unauthorized/vocably-unauthorized.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-content-ui/src/styles/_variables.scss
  packages/extension/.env
  packages/extension/src/contentScript.ts
  platform/environments.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  2f6b05af9600ca7a3cc08bd21a3be42bd31edb92
Due: none

feat(extension): show popup with opacity transition
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/styling.ts
Due: prettier --write

Notes added by 'git notes add'
  4cfa9ebe8d1d08f7853aac9c07464caca6c0e31b
Due: none

feat(app): auto login
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/pages/auto-login-page/auto-login-page.component.html
  packages/app/src/app/auth/pages/auto-login-page/auto-login-page.component.scss
  packages/app/src/app/auth/pages/auto-login-page/auto-login-page.component.ts
  packages/app/src/main.ts
Due: prettier --write

Notes added by 'git notes add'
  ed26e174f221c587e50f6dc20855a99dadccdda8
Due: none

feat(extension): wait for user log in
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/popup/contents.ts
Due: prettier --write

Notes added by 'git notes add'
  fcc5dd402fc3b2a3810ea69cb613c5ccf071fb79
Due: none

feat: automatically close hands free tab auto successful login
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/auth/cognito-auth.guard.ts
  packages/app/src/app/auth/pages/auto-login-page/auto-login-page.component.ts
  packages/app/src/app/auth/pages/auto-sign-in-page/auto-sign-in-page.component.html
  packages/app/src/app/auth/pages/auto-sign-in-page/auto-sign-in-page.component.scss
  packages/app/src/app/auth/pages/auto-sign-in-page/auto-sign-in-page.component.ts
  packages/app/src/app/auth/pages/sign-in-page/sign-in-page.component.html
  packages/app/src/app/auth/pages/sign-in-page/sign-in-page.component.scss
  packages/app/src/app/auth/pages/sign-in-page/sign-in-page.component.ts
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.html
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.scss
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.ts
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.ts
  packages/app/src/auth-config.ts
  packages/app/src/environments/environment.ts
  packages/app/src/environments/environmentLocal.example.ts
  packages/app/src/main.ts
  packages/extension-content-script/src/popup/contents.ts
  platform/auth.tf
  platform/environments.tf
  platform/locals.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  920e5f6c8bbe5ab64c249ab22034d3a1eeee9346
Due: none

fix: sign out locally
  packages/app/src/app/auth/auth.service.ts
Due: prettier --write

Notes added by 'git notes add'
  a36730363ad0675b2580665485eca0edd93228d1
Due: none

feat(backend): translate normalized results
  packages/backend/src/lambdas/translate/buildResult.ts
  packages/backend/src/lambdas/translate/extractUniqueHeadwords.test.ts
  packages/backend/src/lambdas/translate/extractUniqueHeadwords.ts
  packages/backend/src/lambdas/translate/index.spec.ts
  packages/backend/src/lambdas/translate/translateNormalizedHeadwords.ts
  packages/backend/src/translateText.ts
  packages/model/src/index.ts
  packages/model/src/result.ts
  packages/model/src/translate.ts
Due: prettier --write

Notes added by 'git notes add'
  aef7cbdf5c91f37396250e174fbde31207f990b5
Due: none

refactor: rename translate entity to analyze
  packages/api/src/analyze.ts
  packages/api/src/index.ts
  packages/backend/src/lambdas/analyze/buildResult.ts
  packages/backend/src/lambdas/analyze/extractUniqueHeadwords.test.ts
  packages/backend/src/lambdas/analyze/extractUniqueHeadwords.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/index.ts
  packages/backend/src/lambdas/analyze/translateNormalizedHeadwords.ts
  packages/backend/src/lexicala.spec.ts
  packages/backend/src/lexicala.ts
  packages/backend/src/translateText.spec.ts
  packages/backend/src/translateText.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/createCards.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/analysis.ts
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/translate.ts
  packages/model/src/translation-cards.ts
  platform/api-analyze.tf
  platform/api.tf
Due: prettier --write, terraform-fmt

fix(extension): exlude senses without definitions from the sideB
  packages/extension-service-worker/src/createCards.ts
Due: prettier --write

Notes added by 'git notes add'
  41ab9727f7543883bfc43430d99a734b227fa5c7
Due: none

refactor: temporary exclude aws_api_gateway_integration.translate from aws_api_gateway_deployment.deployment dependencies
  platform/api.tf
Due: terraform-fmt

feat: save card translation
  packages/extension-service-worker/src/createCards.ts
  packages/model/src/language-deck.ts
Due: prettier --write

Notes added by 'git notes add'
  f21615318a8b10bcc946ec976165e4f93480d984
Due: none

fix(api): rename translate lambda to analyze
  platform/api-analyze.tf
Due: terraform-fmt

Notes added by 'git notes add'
  deeb5bc8ede422666edad26e14b9312f6c11d180
Due: none

chore(terraform): upload app only when necessary
  platform/app.tf
Due: terraform-fmt

fix: path_part analyze -> translate
  platform/api-analyze.tf
Due: terraform-fmt

Notes added by 'git notes add'
  a5c204d88816f9b9c556748b120d062699f2bd81
Due: none

fix: create analyze api gw endpoint
  platform/api-analyze.tf
Due: terraform-fmt

Notes added by 'git notes add'
  5d0c6e1cdd5234263d7c1ae311766340f2353fc5
Due: none

fix: get rid of old translate endpoint
  platform/api-analyze.tf
  platform/api.tf
Due: terraform-fmt

Notes added by 'git notes add'
  f2554497a6cb6278d7870bafc0534572e8440b2e
Due: none

chore: add decks migrator script
  scripts/migrate-decks.mjs
Due: prettier --write

refactor: rename 'sideA' to 'soruce' and 'sideB' to 'definition'
  packages/app-e2e/cypress/fixtures/fr.ts
  packages/app-e2e/cypress/fixtures/nl.ts
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
  packages/app/src/app/srs/card/card.component.html
  packages/app/src/app/srs/card/card.component.scss
  packages/app/src/app/srs/definition/definition.component.html
  packages/app/src/app/srs/definition/definition.component.scss
  packages/app/src/app/srs/definition/definition.component.spec.ts
  packages/app/src/app/srs/definition/definition.component.ts
  packages/app/src/app/srs/srs.module.ts
  packages/extension-content-script/public/index.html
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-definition/vocably-definition.scss
  packages/extension-content-ui/src/components/vocably-definition/vocably-definition.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-service-worker/src/createCards.test.ts
  packages/extension-service-worker/src/createCards.ts
  packages/model/src/language-deck.ts
  packages/srs/src/slice.test.ts
  scripts/migrate-decks.mjs
Due: prettier --write

chore: fix tests
  packages/extension-service-worker/src/createCards.test.ts
  packages/srs/src/slice.test.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
