Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

feat(backend): support unpaid requests
  .idea/vocably.iml
  packages/app/src/app/components/language-input/language-input.component.ts
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
  packages/backend/.env
  packages/backend/src/cheapTranslate.ts
  packages/backend/src/googleTranslate.spec.ts
  packages/backend/src/googleTranslate.ts
  packages/backend/src/lambdas/analyze/buildFreeResult.ts
  packages/backend/src/lambdas/analyze/buildPaidResult.ts
  packages/backend/src/lambdas/analyze/extractPayload.ts
  packages/backend/src/lambdas/analyze/extractTranslation/translateItem.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/index.ts
  packages/backend/src/lambdas/analyze/sanitizePayload.ts
  packages/backend/src/lambdas/analyze/validatePermissions.ts
  packages/backend/src/lexicala/lexicalaLanguageMapper.ts
  packages/backend/src/nlpTranslate.spec.ts
  packages/backend/src/nlpTranslate.ts
  packages/backend/src/translateText/googleLanguageMapper.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-translation/sortLanguages.ts
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/index.ts
  packages/extension-service-worker/src/languageList.ts
  packages/extension-service-worker/src/proxyLanguage.ts
  packages/model/src/analysis.ts
  packages/model/src/errors.ts
  packages/model/src/language-list.ts
  packages/model/src/language.ts
  packages/model/src/result.ts
  platform/env-dev.tfvars
  platform/env-prod.tfvars
  platform/env-stage.tfvars
  platform/environments.tf
  platform/variables.tf
  scripts/declare-variables.sh
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  19/1b3b9294a069bf9036fdc656feb5ba2a890208
Due: none

chore: pontis 1.0.1
  package-lock.json
  package.json
Due: prettier --write

feat(app): temporary remove paiment stuff
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
  packages/app/src/app/header/header.component.html
Due: prettier --write

Notes added by 'git notes add'
  43/fff659f16210effdaf9e3338e4d72bf977b082
Due: none

feat: automatically add new users to paid group
  .circleci/config.yml
  packages/auth-lambdas/.gitignore
  packages/auth-lambdas/jest.config.js
  packages/auth-lambdas/package.json
  packages/auth-lambdas/src/add-to-paid.ts
  packages/auth-lambdas/tsconfig.json
  platform/auth.tf
  platform/auth_lambdas_build.zip
  platform/locals.tf
Due: prettier --write, terraform-fmt

fix: auth lambdas
  package-lock.json
Due: prettier --write

Notes added by 'git notes add'
  9f/a4796af5e1523cd6d7c02c641549058e15060a
Due: none

feat(www): get rid of pricing and ukraine
  packages/www/src/pages/index.handlebars
  packages/www/src/partials/layout.handlebars
Due: none

Notes added by 'git notes add'
  58/0af24e64bad57185b5ca996f390c1d3e69c083
Due: none

chore(dashboard): show number of users
  dashboard/.env
  dashboard/.gitignore
  dashboard/number-of-users.mjs
  packages/extension/src/manifest.json.txt
Due: prettier --write

chore(dashboard): show number of users after the reddit post
  dashboard/number-of-users.mjs
Due: prettier --write

feat(www): masterlingo in alternatives
  packages/www/src/handlebars-helpers/currency.js
  packages/www/src/handlebars-helpers/math.js
  packages/www/src/pages/alternatives.handlebars
  packages/www/webpack.config.js
Due: prettier --write

feat(www): more paragraphs in about
  packages/www/src/pages/about.handlebars
Due: none

feat(www): personal email in contacts section
  packages/www/src/partials/layout.handlebars
Due: none

feat(www): smaller thumbs up
  packages/www/src/pages/alternatives.handlebars
Due: none

Notes added by 'git notes add'
  c8/3fd1341c0d1c426fb99a1dbc76b018cbd149ab
Due: none

feat(extension): uninstall survey
  packages/extension/src/service-worker.ts
Due: prettier --write

Notes added by 'git notes add'
  f4/6d8ed3e8a52f74228ee2411b4d3f2ce78e0994
Due: none

fix(extension): name without a dash
  packages/extension/src/manifest.json.txt
Due: none

Notes added by 'git notes add'
  60/6723ceafd4b6013115964d6ef9153c4741c382
Due: none

fix: extend -> expand
  packages/extension/src/manifest.json.txt
Due: none

Notes added by 'git notes add'
  47/bbcb0b09c20123c2200d5248e8cc34e8622795
Due: none

feat: apple-app-site-association
  packages/app/src/.well-known/apple-app-site-association
Due: none

Notes added by 'git notes add'
  cf/a7ca5d82b3fd3d22652a588e26467d5485bf3d
Due: none

feat(app): upload .well-known folder
  packages/app/angular.json
Due: prettier --write

Notes added by 'git notes add'
  20/5cb11934b178a4fd0e60aa28f5ee44217876e8
Due: none

fix(app): add apps section into apple-app-site-association
  packages/app/src/.well-known/apple-app-site-association
Due: none

Notes added by 'git notes add'
  59/50e971767cd623192baba300edaa66ed670796
Due: none

feat(app): delete user account
  packages/app/src/app/app.module.ts
  packages/app/src/app/pages/settings-page/delete-account-confirmation/delete-account-confirmation.component.html
  packages/app/src/app/pages/settings-page/delete-account-confirmation/delete-account-confirmation.component.scss
  packages/app/src/app/pages/settings-page/delete-account-confirmation/delete-account-confirmation.component.ts
  packages/app/src/app/pages/settings-page/settings-page.component.html
  packages/app/src/app/pages/settings-page/settings-page.component.scss
  packages/app/src/app/pages/settings-page/settings-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  b7/b48b616538c59cfab593036853781c2c8ea1af
Due: none

fix(app): add short name to the manifest
  packages/app/src/manifest.json
Due: prettier --write

Notes added by 'git notes add'
  2a/44aa97c8d08d960b510e235404d1ff5a8ecdd7
Due: none

refactor: get rid of dotenv-flow-webpack
  package-lock.json
  package.json
  packages/backend/src/googleTranslate.spec.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/webpack.config.js
  packages/extension/webpack.config.js
  packages/webpack/src/getEnvironmentVariables.ts
  packages/webpack/src/index.ts
  packages/webpack/src/replaceDefinitions.ts
  packages/www-backend/webpack.config.js
Due: prettier --write

chore(mobile-app): get rid of redundant styling
  mobile-app/App.tsx
  mobile-app/index.js
  mobile-app/src/App.tsx
  mobile-app/src/aws-config.ts
Due: prettier --write

feat(mobile-app): login component
  mobile-app/src/App.tsx
  mobile-app/src/auth/AuthContainer.tsx
  mobile-app/src/auth/AuthContext.ts
  mobile-app/src/auth/Login.tsx
Due: prettier --write

chore(mobile-app): material design components
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  mobile-app/ios/VocablyPro.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  mobile-app/ios/VocablyPro.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/App.tsx
Due: prettier --write

feat(mobile): lodaer component
  mobile-app/src/Loader.tsx
  mobile-app/src/auth/Login.tsx
Due: prettier --write

chore(mobil-app): card swipe gestures
  mobile-app/metro.config.js
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/App.tsx
  mobile-app/src/study/Card.tsx
  mobile-app/src/study/Study.tsx
  mobile-app/src/study/SwipeResponse.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
