Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

Notes added by 'git notes add'
  56/9ad5d9c77217eb4b2d29fb892b60b2728b6041
Due: none

feat(extension): no bullshit ask me later
  packages/extension-content-ui/src/components/vocably-rate/vocably-rate.tsx
Due: prettier --write

Notes added by 'git notes add'
  b8/8345fa1c7092ec3f864852ad7be98a174c5a53
Due: none

feat(extension): simplify the card exhibition
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-card-definitions/vocably-card-definitions.scss
  packages/extension-content-ui/src/components/vocably-card-definitions/vocably-card-definitions.tsx
  packages/extension-content-ui/src/components/vocably-card-examples/vocably-card-examples.scss
  packages/extension-content-ui/src/components/vocably-card-examples/vocably-card-examples.tsx
  packages/extension-content-ui/src/components/vocably-card-source/vocably-card-source.scss
  packages/extension-content-ui/src/components/vocably-card-source/vocably-card-source.tsx
  packages/extension-content-ui/src/components/vocably-side-a/vocably-side-a.tsx
  packages/extension-content-ui/src/components/vocably-side-b/vocably-side-b.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
Due: prettier --write

Notes added by 'git notes add'
  7a/5b7b89e14873f561e319b26d3a6f387f4c06bc
Due: none

fix(analyze): temporarily disable examples
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/lexicala/lexicalaSearchResultToAnalysisItem.ts
Due: prettier --write

Notes added by 'git notes add'
  7b/124a0ab702119d30176043ee03273bcbbb4563
Due: none

feat(www): better hero copy
  packages/www/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  b1/e2d81fef82d60aedd62c5cc42ee16f4c4200e3
Due: none

feat(app): edit explanations
  packages/app/src/app/decks/pages/edit-page/card-form/card-form.component.html
  packages/app/src/app/decks/pages/edit-page/card-form/card-form.component.ts
Due: prettier --write

Notes added by 'git notes add'
  37/1b8d71139fd9e4b7f09482b8fdc5b6a48ed893
Due: none

chore: enable examples in dev env
  packages/analyze/src/lexicala/lexicalaSearchResultToAnalysisItem.ts
  platform/api-analyze.tf
Due: prettier --write, terraform-fmt

feat(moa): edit explanation
  mobile-app/src/EditCardScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  ad/bdba84886a3f3d3ef2379058d5307c532a64db
Due: none

feat(moa): examples in look up items
  mobile-app/src/CardDefinition.tsx
  mobile-app/src/CardExample.tsx
  mobile-app/src/CardListItem.tsx
  mobile-app/src/LookUpScreen/AnalyzeResultItem.tsx
  mobile-app/src/LookUpScreen/makeCards.ts
  mobile-app/src/study/Card.tsx
Due: prettier --write

feat(moa): list item color stays the same on press
  mobile-app/src/DashboardScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  4e/622c29f96a5b5c6770290e6b0a814d37b19af9
Due: none

feat(moa): side a examples
  mobile-app/src/CardExample.tsx
  mobile-app/src/study/Card.tsx
Due: prettier --write

Notes added by 'git notes add'
  8a/631a89d29bf7765625a2387c0a53bc93d1d999
Due: none

chore(moa): update dependencies and generate privacy file
  mobile-app/ios/Podfile.lock
  mobile-app/ios/PrivacyInfo.xcprivacy
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/LookUpScreen/AnalyzeResultItem.tsx
Due: prettier --write

chore(moa): bump 1.20
  mobile-app/VERSION
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

feat(api): enable explanations
  packages/analyze/src/lexicala/lexicalaSearchResultToAnalysisItem.ts
  platform/api-analyze.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  dd/00c51589e858c438bb7cc4cf8fd70941b655d6
Due: none

chore: bump android version
  mobile-app/android/app/build.gradle
Due: none

merge translations
  packages/analyze/src/buildDirectResult.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/extractTranslation/translateItem.ts
  packages/analyze/src/joinDefinitions.ts
  packages/analyze/src/joinStrings.ts
  packages/analyze/src/prependTranslation.test.ts
  packages/analyze/src/prependTranslation.ts
  packages/analyze/src/translateFromContext.spec.ts
  packages/analyze/src/translateFromContext.ts
  packages/analyze/src/trimArticle.ts
  packages/model/src/analysis.ts
Due: prettier --write

chore: bump andoir bundle version
  mobile-app/android/app/build.gradle
Due: none

dada
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/prependTranslation.test.ts
  packages/analyze/src/prependTranslation.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-service-worker/src/createTranslationCards.ts
  packages/extension-service-worker/src/index.ts
  packages/extension/webpack.config.js
  packages/sulna/src/stringArray.ts
Due: prettier --write

merge translations
  packages/analyze/src/buildDirectResult.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/prependTranslation.test.ts
  packages/analyze/src/prependTranslation.ts
  packages/analyze/src/translationToAnalyzeItem.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/extension-content-ui/src/components/vocably-translation/isDirectNecessary.ts
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
Due: prettier --write

design
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/styles/_variables.scss
Due: prettier --write

error
  packages/extension-service-worker/src/index.ts
Due: prettier --write

feat: allow to add the direct translation
  packages/analyze/src/buildDirectResult.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/extractTranslation/translateItem.ts
  packages/analyze/src/joinDefinitions.ts
  packages/analyze/src/joinStrings.ts
  packages/analyze/src/prependTranslation.test.ts
  packages/analyze/src/prependTranslation.ts
  packages/analyze/src/translateFromContext.spec.ts
  packages/analyze/src/translateFromContext.ts
  packages/analyze/src/translationToAnalyzeItem.ts
  packages/analyze/src/trimArticle.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components/vocably-translation/isDirectNecessary.ts
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-service-worker/src/createTranslationCards.ts
  packages/extension-service-worker/src/index.ts
  packages/extension/webpack.config.js
  packages/model/src/analysis.ts
  packages/styles/_variables.scss
  packages/sulna/src/stringArray.ts
Due: prettier --write

test: fix
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  1c/63cee642e63228dedacda5f9fcd616f0a614d1
Due: none

chore: bump ios version
  mobile-app/VERSION
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

feat(www): og-image
  packages/www/src/assets/og-image.png
Due: none

Notes added by 'git notes add'
  86/e4b0f0d0cd793702b274ea93d9a37246460596
Due: none

First succesful build
  mobile-app/index.share.js
  mobile-app/ios/Podfile
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/AppDelegate.mm
  mobile-app/ios/VocablyProShare/Base.lproj/MainInterface.storyboard
  mobile-app/ios/VocablyProShare/Info.plist
  mobile-app/ios/VocablyProShare/VocablyProShare-Bridging-Header.h
  mobile-app/ios/VocablyProShare/VocablyProShare.entitlements
  mobile-app/src/ShareIntent/ShareIntentAppIos.tsx
Due: prettier --write

feat(www): update og info and narrative
  packages/www/src/pages/index.handlebars
  packages/www/src/partials/layout.handlebars
Due: none

fix async storage
  mobile-app/index.share.js
  mobile-app/ios/Podfile
  mobile-app/ios/Podfile.lock
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/App.tsx
  mobile-app/src/ShareIntent/ShareIntentAppIos.tsx
  mobile-app/src/languages/LanguagesContainer.tsx
Due: prettier --write
