Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

feat(mobile-app): play sound (#6)
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/CardListItem.tsx
  mobile-app/src/PlaySound.tsx
  mobile-app/src/study/Card.tsx
Due: prettier --write

fix(mobile): welcome to get started
  mobile-app/src/WelcomeScreen.tsx
Due: prettier --write

feat(mobile-app): font size 18 on search input
  mobile-app/src/LookUpScreen/SearchInput.tsx
Due: prettier --write

Notes added by 'git notes add'
  fd/5f08533f7c2e8cce6fbd1a3d3c1a4231c8c2e8
Due: none

feat(extension): play sound
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-icon-play-circle/vocably-icon-play-circle.scss
  packages/extension-content-ui/src/components/vocably-icon-play-circle/vocably-icon-play-circle.tsx
  packages/extension-content-ui/src/components/vocably-icon-volume-medium/vocably-icon-volume-medium.scss
  packages/extension-content-ui/src/components/vocably-icon-volume-medium/vocably-icon-volume-medium.tsx
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.scss
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
Due: prettier --write

bump(android): versionCode 10
  mobile-app/android/app/build.gradle
Due: none

fix(mobile-app): play sound in silent mode
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/src/CardListItem.tsx
  mobile-app/src/PlaySound.tsx
  mobile-app/src/study/Card.tsx
  packages/model/src/index.ts
  packages/model/src/text-to-speech.ts
Due: prettier --write

Notes added by 'git notes add'
  d6/30e1bef060f1f1246a973682f28cb38bdeea8c
Due: none

add readme file to set up dev env on mobile app
  mobile-app/README.md
Due: prettier --write

Update README.md
  mobile-app/README.md
Due: prettier --write

docs(mobile-app): readme
  mobile-app/README.md
Due: prettier --write

update deps array of target language selector callback
  mobile-app/src/LookUpScreen/TranslationPreset.tsx
Due: prettier --write

fix(mobile-app): select target langaguage and then source langauge should not reset the target language
  mobile-app/src/LookUpScreen/TranslationPreset.tsx
Due: prettier --write

Notes added by 'git notes add'
  9b/dd4c44e4323cb9a7f8f8b97454661fcf451277
Due: none

change SafeAreView import location
  mobile-app/src/LookUpScreen.tsx
Due: prettier --write

Pretify LookUpScreen
  mobile-app/src/LookUpScreen.tsx
Due: prettier --write

fix(mobile-app): buttons stay below the island in iOS
  mobile-app/src/LookUpScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  8c/8a723a4cd0e8e79b22bb70fc35594301683b7f
Due: none

Upgrade to 0.71.0
  mobile-app/.buckconfig
  mobile-app/.gitignore
  mobile-app/.ruby-version
  mobile-app/Gemfile
  mobile-app/android/app/_BUCK
  mobile-app/android/app/build.gradle
  mobile-app/android/app/build_defs.bzl
  mobile-app/android/app/src/debug/java/com/vocablypro/ReactNativeFlipper.java
  mobile-app/android/app/src/main/AndroidManifest.xml
  mobile-app/android/app/src/main/java/com/vocablypro/MainActivity.java
  mobile-app/android/app/src/main/java/com/vocablypro/MainApplication.java
  mobile-app/android/app/src/main/java/com/vocablypro/newarchitecture/MainApplicationReactNativeHost.java
  mobile-app/android/app/src/main/java/com/vocablypro/newarchitecture/components/MainComponentsRegistry.java
  mobile-app/android/app/src/main/java/com/vocablypro/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
  mobile-app/android/app/src/main/jni/CMakeLists.txt
  mobile-app/android/app/src/main/jni/MainApplicationModuleProvider.cpp
  mobile-app/android/app/src/main/jni/MainApplicationModuleProvider.h
  mobile-app/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
  mobile-app/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
  mobile-app/android/app/src/main/jni/MainComponentsRegistry.cpp
  mobile-app/android/app/src/main/jni/MainComponentsRegistry.h
  mobile-app/android/app/src/main/jni/OnLoad.cpp
  mobile-app/android/app/src/release/java/com/vocablypro/ReactNativeFlipper.java
  mobile-app/android/build.gradle
  mobile-app/android/gradle.properties
  mobile-app/android/settings.gradle
  mobile-app/ios/Podfile
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  mobile-app/ios/VocablyPro/AppDelegate.h
  mobile-app/ios/VocablyPro/AppDelegate.mm
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/package-lock.json
  mobile-app/package.json
Due: prettier --write

Upgrade to 0.72.0
  mobile-app/.eslintrc.js
  mobile-app/.gitignore
  mobile-app/.ruby-version
  mobile-app/Gemfile
  mobile-app/__tests__/App-test.tsx
  mobile-app/_node-version
  mobile-app/android/app/build.gradle
  mobile-app/android/app/src/main/java/com/vocablypro/MainActivity.java
  mobile-app/android/build.gradle
  mobile-app/android/gradle.properties
  mobile-app/android/gradle/wrapper/gradle-wrapper.jar
  mobile-app/android/gradle/wrapper/gradle-wrapper.properties
  mobile-app/android/gradlew
  mobile-app/android/gradlew.bat
  mobile-app/android/settings.gradle
  mobile-app/ios/Podfile
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/AppDelegate.mm
  mobile-app/jest.config.js
  mobile-app/metro.config.js
  mobile-app/package-lock.json
  mobile-app/package.json
Due: prettier --write

Update devDeps for 0.72.0
  mobile-app/ios/Podfile.lock
  mobile-app/package-lock.json
  mobile-app/package.json
Due: prettier --write

Upgrade to 0.73.0
  mobile-app/Gemfile
  mobile-app/android/app/build.gradle
  mobile-app/android/app/src/debug/AndroidManifest.xml
  mobile-app/android/app/src/debug/java/com/vocablypro/ReactNativeFlipper.java
  mobile-app/android/app/src/main/java/com/vocablypro/MainActivity.java
  mobile-app/android/app/src/main/java/com/vocablypro/MainActivity.kt
  mobile-app/android/app/src/main/java/com/vocablypro/MainApplication.java
  mobile-app/android/app/src/main/java/com/vocablypro/MainApplication.kt
  mobile-app/android/app/src/release/java/com/vocablypro/ReactNativeFlipper.java
  mobile-app/android/build.gradle
  mobile-app/android/gradle.properties
  mobile-app/android/gradle/wrapper/gradle-wrapper.jar
  mobile-app/android/gradle/wrapper/gradle-wrapper.properties
  mobile-app/android/gradlew
  mobile-app/babel.config.js
  mobile-app/ios/Podfile
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/AppDelegate.mm
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/tsconfig.json
Due: prettier --write

fix build issue
  mobile-app/ios/Podfile.lock
  mobile-app/package-lock.json
  mobile-app/package.json
Due: prettier --write

Upgrade to 0.73.4
  mobile-app/Gemfile
  mobile-app/android/app/build.gradle
  mobile-app/android/app/src/main/java/com/vocablypro/MainApplication.kt
  mobile-app/ios/Podfile.lock
  mobile-app/package-lock.json
  mobile-app/package.json
Due: prettier --write

chore(moa): script to deploy dev and prod envs
  mobile-app/.env.prod
  mobile-app/package.json
Due: prettier --write

bump(moa): 1.10
  mobile-app/VERSION
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/package.json
Due: prettier --write

Add `react-native-safe-area-context`
  mobile-app/ios/Podfile.lock
  mobile-app/package-lock.json
  mobile-app/package.json
Due: prettier --write

Fix Linking
  mobile-app/ios/VocablyPro/AppDelegate.mm
Due: none

Update root lockfile
  package-lock.json
Due: prettier --write

feat(api): play sound
  .gitignore
  package-lock.json
  package.json
  packages/api/src/index.ts
  packages/api/src/languageDecks.ts
  packages/api/src/playSound.ts
  packages/app/src/app/srs/card/card.component.ts
  packages/backend/src/lambdas/play-sound/extractPayload.ts
  packages/backend/src/lambdas/play-sound/getSoundLink.ts
  packages/backend/src/lambdas/play-sound/index.spec.ts
  packages/backend/src/lambdas/play-sound/index.ts
  packages/backend/src/utils/buildResponse.ts
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/play-sound.ts
  platform/api-play-sound.tf
  platform/api.tf
  platform/translate-api.tf
Due: prettier --write, terraform-fmt

language deck
  packages/api/src/languageDecks.ts
Due: prettier --write

extension play sound
  packages/api/src/playSound.ts
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/play-sound.ts
Due: prettier --write

play sound in extension
  packages/api/src/playSound.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.tsx
  packages/extension-messages/src/index.ts
Due: prettier --write

fix sound icon
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.scss
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.tsx
Due: prettier --write

delte reduntant file
  packages/backend/src/lambdas/play-sound/getSoundLink.ts
Due: prettier --write

typesafety
  packages/backend/src/lambdas/play-sound/index.ts
Due: prettier --write

feat(extension): play sound (#12)
  .gitignore
  package-lock.json
  package.json
  packages/api/src/index.ts
  packages/api/src/playSound.ts
  packages/app/src/app/srs/card/card.component.ts
  packages/backend/src/lambdas/play-sound/extractPayload.ts
  packages/backend/src/lambdas/play-sound/index.spec.ts
  packages/backend/src/lambdas/play-sound/index.ts
  packages/backend/src/utils/buildResponse.ts
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-icon-play-circle/vocably-icon-play-circle.scss
  packages/extension-content-ui/src/components/vocably-icon-play-circle/vocably-icon-play-circle.tsx
  packages/extension-content-ui/src/components/vocably-icon-volume-medium/vocably-icon-volume-medium.scss
  packages/extension-content-ui/src/components/vocably-icon-volume-medium/vocably-icon-volume-medium.tsx
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.scss
  packages/extension-content-ui/src/components/vocably-play-sound/vocably-play-sound.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/play-sound.ts
  platform/api-play-sound.tf
  platform/api.tf
  platform/translate-api.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  3d/54002f6b26182139ea6343946d9e01a2c38f4b
Due: none

Fix metro bundler
  mobile-app/metro.config.js
Due: prettier --write

fix xml parser
  mobile-app/ios/Podfile.lock
  mobile-app/metro.config.js
  package-lock.json
  package.json
  packages/api/src/languageDecks.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
