Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

chore: copy google key to lambda
  packages/backend/package.json
  packages/backend/webpack.config.js
  packages/extension/package.json
  yarn.lock
Due: prettier --write

chore(api): align with translation interfaces
  packages/api/package.json
  packages/api/src/restClient.ts
  packages/api/src/translate.ts
  packages/app/src/main.ts
  packages/platform/environments.tf
Due: prettier --write, terraform-fmt

feat(extension-content-script): translate selected text
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/button.ts
  packages/extension-content-script/src/index.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-messages/package.json
  packages/extension-messages/src/index.ts
  packages/extension/src/background.ts
Due: prettier --write

chore(extension-content-script): watch and serve simultaneously
  packages/extension-content-script/package.json
  yarn.lock
Due: prettier --write

feat(extension): translate text
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/index.ts
  packages/extension/.env
  packages/extension/.gitignore
  packages/extension/assets/manifest.json
  packages/extension/src/contentScript.ts
  packages/extension/src/serviceWorker.ts
  packages/extension/webpack.config.js
  packages/platform/environments.tf
  packages/platform/locals.tf
Due: prettier --write, terraform-fmt

chore: lexicala response examples
  lexicala-examples.json
Due: prettier --write

chore: add crud package
  packages/crud/.gitignore
  packages/crud/package.json
  packages/crud/src/index.ts
  packages/crud/tsconfig.json
Due: prettier --write

refactor: translation api incorporate cards notion
  packages/api-types/api.yml
  packages/api-types/package.json
  packages/api-types/src/errors.ts
  packages/api-types/src/index.ts
  packages/api-types/src/types.ts
  packages/api/package.json
  packages/aws-cognito-chrome-extension/package.json
  packages/backend/package.json
  packages/backend/src/lambdas/translate/buildResult.ts
  packages/backend/src/lambdas/translate/index.ts
  packages/backend/src/lambdas/translate/translateText.ts
  packages/backend/src/translateText.spec.ts
  packages/backend/src/translateText.ts
  packages/backend/src/utils/result.ts
  packages/crud/package.json
  packages/extension-content-script/package.json
  packages/extension-messages/package.json
  packages/extension/package.json
  packages/hermes/package.json
  packages/webpack/package.json
  yarn.lock
Due: prettier --write

chore: provide lexicala password as an environment variable
  packages/backend/.env
  packages/platform/variables.tf
Due: terraform-fmt

chore(backend): fix build
  packages/backend/package.json
  packages/backend/src/lambdas/translate/index.manual.ts
  yarn.lock
Due: prettier --write

chore: properly import api-types errors
  packages/api-types/src/errors.ts
  packages/backend/src/translateText.ts
Due: prettier --write

feat(backend): respect source language param
  packages/api-types/api.yml
  packages/api-types/package.json
  packages/api-types/src/errors.ts
  packages/api-types/src/index.ts
  packages/api-types/src/language.ts
  packages/api-types/src/types.ts
  packages/api-types/tsconfig.json
  packages/backend/src/lambdas/translate/buildResult.ts
  packages/backend/src/lambdas/translate/index.manual.ts
  packages/backend/src/translateText.spec.ts
  packages/backend/src/translateText.ts
Due: prettier --write

chore: move packages dependencies into the main package.json
  package.json
  packages/api-types/package.json
  packages/api/package.json
  packages/app/package.json
  packages/backend/package.json
  packages/crud/package.json
  packages/extension-content-script/package.json
  packages/extension-content-ui/package.json
  packages/extension-messages/package.json
  packages/extension/package.json
  packages/hermes/package.json
  packages/webpack/package.json
  yarn.lock
Due: prettier --write

docs: license
  LICENSE.md
  package.json
Due: prettier --write

chore(backend): cards bucket
  packages/backend/.env
  packages/platform/api.tf
  packages/platform/card-storage.tf
  packages/platform/environments.tf
  packages/platform/locals.tf
  packages/platform/variables.tf
Due: terraform-fmt

chore(backend): create s3 client utility
  packages/api-types/src/errors.ts
  packages/backend/.env
  packages/backend/src/utils/s3.spec.ts
  packages/backend/src/utils/s3.ts
  packages/platform/environments.tf
Due: prettier --write, terraform-fmt

chore: manage card decks with s3 storage
  packages/api-types/api.yml
  packages/api-types/src/errors.ts
  packages/api-types/src/types.ts
  packages/backend/src/cards.spec.ts
  packages/backend/src/cards.ts
  packages/backend/src/utils/s3.spec.ts
  packages/backend/src/utils/s3.ts
  packages/crud/package.json
  packages/crud/tsconfig.json
Due: prettier --write

chore: get user auth credentials from cognito
  packages/platform/acl.tf
  packages/platform/auth.tf
  packages/platform/card-storage.tf
  packages/platform/environments.tf
  packages/platform/variables.tf
Due: terraform-fmt

feat: store data in s3 storage
  package.json
  packages/app/src/main.ts
  packages/backend/src/utils/s3.spec.ts
  packages/platform/acl.tf
  packages/platform/root/auth.tf
  packages/platform/variables.tf
  yarn.lock
Due: prettier --write, terraform-fmt

feat: store cards in s3 bucket
  packages/api-types/src/errors.ts
  packages/api-types/src/index.ts
  packages/api-types/src/result.ts
  packages/api-types/tsconfig.json
  packages/api/src/cards.ts
  packages/api/src/config.ts
  packages/api/src/index.ts
  packages/api/src/restClient.ts
  packages/app/src/main.ts
  packages/platform/environments.tf
Due: prettier --write, terraform-fmt

feat: fetch data from lexicala API
  packages/api-types/api.yml
  packages/api-types/src/card.ts
  packages/api-types/src/errors.ts
  packages/api-types/src/index.ts
  packages/api-types/src/types.ts
  packages/api/src/cards.ts
  packages/backend/src/cards.spec.ts
  packages/backend/src/cards.ts
  packages/backend/src/lambdas/translate/buildResult.ts
  packages/backend/src/lexicala.spec.ts
  packages/backend/src/lexicala.ts
  packages/backend/src/translateText.ts
  packages/backend/src/utils/request.ts
  packages/backend/src/utils/result.ts
  packages/backend/src/utils/s3.spec.ts
  packages/backend/src/utils/s3.ts
Due: prettier --write

chore: update lexicala error code
  packages/api-types/src/errors.ts
  packages/backend/src/lexicala.ts
Due: prettier --write

refactor: rename api-types package to model
  packages/api/package.json
  packages/api/src/cards.ts
  packages/api/src/translate.ts
  packages/backend/src/lambdas/translate/buildResult.ts
  packages/backend/src/lexicala.ts
  packages/backend/src/translateText.ts
  packages/backend/src/utils/request.ts
  packages/crud/package.json
  packages/extension-messages/package.json
  packages/extension-messages/src/index.ts
  packages/model/.gitignore
  packages/model/api.yml
  packages/model/package.json
  packages/model/src/api-types.ts
  packages/model/src/card.ts
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/language.ts
  packages/model/src/result.ts
  packages/model/tsconfig.json
Due: prettier --write

refactor: move extension service worker code to a separate package
  packages/api/package.json
  packages/aws-cognito-chrome-extension/package.json
  packages/aws-cognito-chrome-extension/tsconfig.json
  packages/extension-messages/tsconfig.json
  packages/extension-service-worker/.gitignore
  packages/extension-service-worker/jest.config.js
  packages/extension-service-worker/package.json
  packages/extension-service-worker/src/index.ts
  packages/extension-service-worker/tsconfig.json
  packages/extension/package.json
  packages/extension/src/serviceWorker.ts
  packages/hermes/package.json
  packages/hermes/tsconfig.json
  packages/platform/locals.tf
Due: prettier --write, terraform-fmt

feat: store translation in DB
  packages/api/src/cards.ts
  packages/api/src/translate.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/package.json
  packages/extension-service-worker/src/createCards.test.ts
  packages/extension-service-worker/src/createCards.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/errors.ts
Due: prettier --write

refactor: make api request errors part of model
  packages/api/src/restClient.ts
  packages/api/src/translate.ts
  packages/backend/src/lambdas/translate/index.manual.ts
  packages/backend/src/lexicala.spec.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-service-worker/src/index.ts
  packages/extension/src/serviceWorker.ts
  packages/model/src/errors.ts
Due: prettier --write

chore: enable lambda logs
  packages/platform/api.tf
  packages/platform/environments.tf
Due: terraform-fmt

fix: user credentials in serviceWorker
  packages/api/src/cards.ts
  packages/extension-service-worker/src/fixAuth.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/errors.ts
Due: prettier --write

fix: return empty collection when cards file is not yet in storage
  packages/api/src/cards.ts
  packages/model/src/errors.ts
Due: prettier --write

debug(content-script): specify response and delay
  packages/extension-content-script/public/index.html
  packages/extension-content-script/public/index.ts
Due: prettier --write

feat(extension-content-ui): add loading spinner
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-spinner/vocably-spinner.scss
  packages/extension-content-ui/src/components/vocably-spinner/vocably-spinner.tsx
  packages/extension-content-ui/src/index.html
Due: prettier --write

feat(extension-content-ui): display translation cards
  packages/extension-content-script/src/popup.ts
  packages/extension-content-ui/package.json
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-popup/readme.md
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.tsx
  packages/extension-content-ui/src/components/vocably-spinner/readme.md
  packages/extension-content-ui/src/components/vocably-spinner/vocably-spinner.scss
  packages/extension-content-ui/src/components/vocably-translation/readme.md
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-content-ui/src/styles/_variables.scss
  packages/extension-messages/src/index.ts
  packages/model/src/index.ts
  packages/model/src/translation-cards.ts
Due: prettier --write

fix(extension-content-ui): specify sizes in pixels
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/styles/_variables.scss
Due: prettier --write

feat: early access form
  packages/www/background.jpg
  packages/www/index.html
  packages/www/index.js
  packages/www/reset.css
  packages/www/styles.css
Due: prettier --write

feat: save email lambda
  packages/platform/root/.gitignore
  packages/platform/root/environments.tf
  packages/platform/root/locals.tf
  packages/platform/root/www-backend.tf
  packages/www-backend/.env
  packages/www-backend/.gitignore
  packages/www-backend/package.json
  packages/www-backend/src/lambdas/saveEmail/index.ts
  packages/www-backend/src/utils/buildErrorResponse.ts
  packages/www-backend/src/utils/buildResponse.ts
  packages/www-backend/src/utils/inspect.ts
  packages/www-backend/src/utils/isApiGatewayProxyResult.ts
  packages/www-backend/tsconfig.json
  packages/www-backend/webpack.config.js
  packages/www-backend/webpack/getModules.js
Due: prettier --write, terraform-fmt

feat: create root backend api endpoint
  packages/platform/root/auth.tf
  packages/platform/root/dev.tf
  packages/platform/root/locals.tf
  packages/platform/root/www-backend.tf
Due: terraform-fmt

feat(www): post email
  packages/www/index.html
  packages/www/index.js
Due: prettier --write

feat(www): skip empty email
  packages/www/index.js
Due: prettier --write

feat: save emails to db
  packages/platform/root/www-backend.tf
  packages/www-backend/src/lambdas/saveEmail/index.ts
Due: prettier --write, terraform-fmt

feat: www favicon
  assets/favicon.ico
  packages/extension/assets/images/icon-128x128.png
  packages/extension/assets/images/icon-16x16.png
  packages/extension/assets/images/icon-32x32.png
  packages/extension/assets/images/icon-48x48.png
  packages/www/favicon.ico
  packages/www/index.html
  scripts/update-icon.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml}
  terraform-fmt: any of: *.tf
