Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

autodark
  packages/app/src/styles/_themes.scss
Due: prettier --write

feat(extension): auto set up new users
  packages/extension-popup/src/app/app.component.html
  packages/extension-popup/src/app/app.component.ts
Due: prettier --write

Notes added by 'git notes add'
  fd/d354b335489102e1ea474fa0546459ef313038
Due: none

fix(app): 404 welcome
  packages/app/src/app/app-routing.module.ts
Due: prettier --write

Notes added by 'git notes add'
  84/e66d560ead2e6a8aabae33cf2cdaa9c92ec058
Due: none

app-qr-code component
  packages/app/src/app/components/app-qr-code/app-qr-code.component.html
  packages/app/src/app/components/app-qr-code/app-qr-code.component.scss
  packages/app/src/app/components/app-qr-code/app-qr-code.component.ts
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/components/expansion/expansion.component.scss
  packages/app/src/app/welcome/detailed-explanation/detailed-explanation.component.html
  packages/app/src/app/welcome/welcome.component.html
Due: prettier --write

highlight
  packages/app/src/app/welcome/highlight/highlight.component.scss
Due: prettier --write

the rest
  packages/app/src/app/welcome/language-button/language-button.component.scss
  packages/styles/_variables.scss
Due: prettier --write

feat(app): light theme (#40)
  packages/app/src/app/components/app-qr-code/app-qr-code.component.html
  packages/app/src/app/components/app-qr-code/app-qr-code.component.scss
  packages/app/src/app/components/app-qr-code/app-qr-code.component.ts
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/components/expansion/expansion.component.scss
  packages/app/src/app/welcome/detailed-explanation/detailed-explanation.component.html
  packages/app/src/app/welcome/highlight/highlight.component.scss
  packages/app/src/app/welcome/language-button/language-button.component.html
  packages/app/src/app/welcome/language-button/language-button.component.scss
  packages/app/src/app/welcome/pages/index-page/index-page.component.scss
  packages/app/src/app/welcome/welcome.component.html
  packages/app/src/styles.scss
  packages/app/src/styles/_material-theme.scss
  packages/app/src/styles/_themes.scss
  packages/styles/_variables.scss
Due: prettier --write

refactor: remove bullshit fix
  packages/app/src/app/app-routing.module.ts
Due: prettier --write

Notes added by 'git notes add'
  fa/f78b10bdbb8d33246537eb27ee771d439c06fe
Due: none

feat(app): flag icon border for better contrast
  packages/app/src/app/components/language-icon/language-icon.component.scss
  packages/app/src/app/welcome/pages/index-page/index-page.component.html
Due: prettier --write

Notes added by 'git notes add'
  f9/50858b68ce40b351fb366766e3e6c0d0bd9426
Due: none

fix(app): welcome 404 page
  packages/app/src/app/pages/not-found-page/not-found-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  66/d603cb7f63801c6603f83aa83bfdbf0795d706
Due: none

fix(app): get rid of manifest.json
  packages/app/src/app/pages/not-found-page/not-found-page.component.ts
  packages/app/src/index.html
  packages/app/src/manifest.json
Due: prettier --write

Notes added by 'git notes add'
  20/c7d677b387cadf2840fadd019b718dbc00e8ef
Due: none

feat(app): wording
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.html
  packages/app/src/app/decks/pages/edit-page/delete-confirmation-dialog/delete-confirmation-dialog.component.html
  packages/app/src/app/pages/feedback-page/feedback-page.component.html
  packages/app/src/app/pages/settings-page/settings-page.component.html
  packages/app/src/app/welcome/detailed-explanation/detailed-explanation.component.html
  packages/app/src/app/welcome/how-to-multilang/how-to-multilang.component.html
  packages/app/src/app/welcome/pages/second-page/second-page.component.html
  packages/app/src/app/welcome/welcome.component.html
  packages/extension/src/manifest.json.txt
  packages/styles/mixins/_button.scss
  packages/styles/mixins/_link.scss
Due: prettier --write

feat(www): rating
  packages/www/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  14/85400a3a29f80b24c4d64ed3264701bade037e
Due: none

chore: fix syntax highlight issue in unit test
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/googleTranslate.spec.ts
  packages/analyze/src/jest.d.ts
  packages/analyze/tsconfig.json
Due: prettier --write

chore: fix include
  packages/analyze/tsconfig.json
Due: prettier --write

gpt 4
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/chatGptRequest.ts
  packages/analyze/src/translateDefinitions.spec.ts
  packages/analyze/src/translateDefinitions.ts
  packages/analyze/src/translateFromContext.spec.ts
  packages/analyze/src/translateFromContext.ts
Due: prettier --write

fix
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

proper constant name
  packages/analyze/src/chatGptRequest.ts
  packages/analyze/src/translateDefinitions.ts
  packages/analyze/src/translateFromContext.ts
Due: prettier --write

tests
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

feat(backend): gpt-4o-mini (#41)
  .idea/vocably.iml
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/chatGptRequest.ts
  packages/analyze/src/parseJson.test.ts
  packages/analyze/src/parseJson.ts
  packages/analyze/src/translateDefinitions.spec.ts
  packages/analyze/src/translateDefinitions.ts
  packages/analyze/src/translateFromContext.spec.ts
  packages/analyze/src/translateFromContext.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/model/src/errors.ts
Due: prettier --write

feat(www): i like you
  packages/www/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  a3/cb8b822e6457665502b47ed241a19b4ff2de80
Due: none

feat(backend): sort results by relevance
  packages/analyze/src/buildDirectResult.ts
  packages/analyze/src/buildResult.spec.ts
  packages/analyze/src/sortByRelevance.ts
Due: prettier --write

Notes added by 'git notes add'
  0c/389e00d6ef2f54d5509e70708134b05cac5ba8
Due: none

fix(platform): refresh lambdas on change
  platform/api-analyze.tf
  platform/api-play-sound.tf
  platform/auth.tf
  platform/cards-backup.tf
  platform/subscription-canceller.tf
  platform/user-feedback.tf
  platform/www-api.tf
Due: terraform-fmt

Notes added by 'git notes add'
  59/e62bf6e9c025a84cd4487e1637c08dee4c7620
Due: none

feat(api): compress responses
  platform/api.tf
Due: terraform-fmt

Notes added by 'git notes add'
  ed/ad99ca57c16333d17620646d286220e37a1b5f
Due: none

feat(moa): posthog
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/App.tsx
  mobile-app/src/DashboardScreen.tsx
  mobile-app/src/FeedbackModal.tsx
  mobile-app/src/MainMenu/PracticeSettingsScreen.tsx
  mobile-app/src/NavigationContainer.tsx
  mobile-app/src/PostHogProvider.tsx
  mobile-app/src/ShareIntent/IosLogin.tsx
  mobile-app/src/ShareIntent/Login.tsx
  mobile-app/src/ShareIntent/ShareExtensionApp.android.tsx
  mobile-app/src/ShareIntent/ShareExtensionApp.ios.tsx
  mobile-app/src/ShareIntent/ShareExtensionAppBase.tsx
  mobile-app/src/ShareIntent/Viewport.tsx
  mobile-app/src/TagsSelector/TagMenu.tsx
  mobile-app/src/auth/AuthContainer.tsx
  mobile-app/src/auth/getUserEmail.ts
  mobile-app/src/auth/isCognitoUser.ts
  mobile-app/src/auth/useUserEmail.ts
  mobile-app/src/postHogCustomStorage.ts
Due: prettier --write

Notes added by 'git notes add'
  76/7cd3bb614beee868a5a038bfa6835a7e235299
Due: none

app onboarding
  mobile-app/src/WelcomeScreen.tsx
  mobile-app/src/WelcomeStack.tsx
Due: prettier --write

feat(moa): VocablyPro -> Vocably
  mobile-app/android/app/src/main/res/values/strings.xml
  mobile-app/ios/VocablyPro/Info.plist
Due: none
