Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml}": "prettier --write",
  "*.tf": "terraform-fmt"
}

debug
  .circleci/config.yml
Due: prettier --write

debug
  .circleci/config.yml
  scripts/declare-variables.sh
Due: prettier --write

debug
  .circleci/config.yml
  scripts/declare-variables.sh
  scripts/install-build-depdendencies.sh
Due: prettier --write

debug
  scripts/install-build-depdendencies.sh
Due: none

debug
  .circleci/config.yml
  platform/STAGE.remote
  platform/STAGE.tfvars
  scripts/declare-variables.sh
  scripts/run-terraform.sh
Due: prettier --write

debug
  scripts/declare-variables.sh
Due: none

debug
  scripts/declare-variables.sh
  scripts/run-terraform.sh
Due: none

debug
  scripts/run-terraform.sh
Due: none

debug
  .circleci/config.yml
  platform/STAGE.remote
  platform/card-storage.tf
  platform/main.tf
  platform/prod.remote
  platform/prod.tfvars
  platform/stage.remote
  platform/stage.tfvars
  scripts/declare-variables.sh
  scripts/run-terraform.sh
Due: prettier --write, terraform-fmt

debug
  .circleci/config.yml
  scripts/run-terraform.sh
Due: prettier --write

debug
  .circleci/config.yml
  scripts/build-packages.sh
Due: prettier --write

debug
  scripts/build-packages.sh
Due: none

ci: automatically deploy to stage and prod
  .circleci/config.yml
  platform-root/domains.tf
  platform/card-storage.tf
  platform/main.tf
  platform/prod.remote
  platform/prod.tfvars
  platform/stage.remote
  platform/stage.tfvars
  platform/www.tf
  scripts/build-packages.sh
  scripts/declare-variables.sh
  scripts/install-build-depdendencies.sh
  scripts/run-terraform.sh
Due: prettier --write, terraform-fmt

chore: hard fix monorepo dependencies
  packages/api/package.json
  packages/app/package.json
  packages/backend/package.json
  packages/extension-content-script/package.json
  packages/extension-content-ui/package.json
  packages/extension-messages/package.json
  packages/extension-service-worker/package.json
  packages/extension/package.json
Due: prettier --write

ci: run tests on stage and prod builds
  .circleci/config.yml
  packages/api/package.json
  packages/app/package.json
  packages/backend/.env.test
  packages/backend/src/lambdas/translate/index.spec.ts
  packages/backend/src/lexicala.spec.ts
  packages/backend/src/translateText.spec.ts
  packages/crud/package.json
  packages/extension-content-script/package.json
  packages/extension-content-ui/package.json
  packages/extension-messages/package.json
  packages/extension-service-worker/package.json
  packages/extension/package.json
  packages/hermes/package.json
  packages/model/package.json
  packages/pontis/package.json
  packages/webpack/package.json
  packages/www-backend/package.json
Due: prettier --write

chore: mark all packages as private
  packages/api/package.json
  packages/app/package.json
  packages/backend/package.json
  packages/crud/package.json
  packages/extension-content-script/package.json
  packages/extension-messages/package.json
  packages/extension-service-worker/package.json
  packages/hermes/package.json
  packages/model/package.json
  packages/pontis/package.json
  packages/webpack/package.json
  packages/www-backend/package.json
Due: prettier --write
