Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

Notes added by 'git notes add'
  d7/34d53fa997090a89b6548f0af6a72bab0448b1
Due: none

feat(www): pricing
  package-lock.json
  package.json
  packages/www-2.0/.gitignore
  packages/www-2.0/environment.example.js
  packages/www-2.0/handlebars-helpers/currency.js
  packages/www-2.0/handlebars-helpers/math.js
  packages/www-2.0/src/pages/index.handlebars
  packages/www-2.0/src/styles.scss
  packages/www-2.0/src/styles/sections/_cta.scss
  packages/www-2.0/webpack.config.js
Due: prettier --write

feat(www): supported languages
  packages/www-2.0/src/pages/index.handlebars
Due: none

chore: social icon
  assets/social-icon.png
Due: none

Notes added by 'git notes add'
  33/2d88353ac78dfaa2ae33a20cba977d6151ad70
Due: none

feat(www): header and footer links
  packages/www-2.0/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  f2/759aaf2a79b8ca2ad3838ee7999f5eb625a7ff
Due: none

feat(www): privacy policy and terms and conditions
  .idea/vocably.iml
  package-lock.json
  package.json
  packages/www/src/pages/index.handlebars
  packages/www/src/pages/privacy-policy.handlebars
  packages/www/src/pages/terms-and-conditions.handlebars
  packages/www/src/partials/layout.handlebars
  packages/www/src/styles/_variables.scss
  packages/www/src/styles/components/_navbar.scss
  packages/www/src/styles/sections/_masthead.scss
  packages/www/webpack.config.js
Due: prettier --write

Notes added by 'git notes add'
  e3/bcd5a5af081aeb4a81e88f86c241fe3829f00c
Due: none

feat(www): phrasing
  packages/www/src/pages/index.handlebars
  packages/www/src/partials/layout.handlebars
  packages/www/src/styles/sections/_masthead.scss
Due: prettier --write

Notes added by 'git notes add'
  3e/615eaf77e2d32784f716baec6c9eb73da4eb91
Due: none

feat(www): green for primary and yellow for secondary
  packages/styles/_colors.scss
  packages/www/src/styles/variables/_colors.scss
  packages/www/webpack.config.js
Due: prettier --write

Notes added by 'git notes add'
  d5/7c572e0148393e6b4cda3afa52ea59b9a72253
Due: none

chore(www): upload entire dist folder
  platform/www.tf
Due: terraform-fmt

feat(www): google chrome disclaimers
  packages/www/src/pages/index.handlebars
  platform/www.tf
Due: terraform-fmt

chore: www dist sha1 calculation
  platform/www.tf
Due: terraform-fmt

Notes added by 'git notes add'
  0b/b48acdc7f50bc690fe22d9256eb0b33bad99f3
Due: none

fix: copy texts
  packages/app/src/app/components/offline/offline.component.html
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.html
  packages/www/src/pages/index.handlebars
Due: prettier --write

Notes added by 'git notes add'
  da/57979bf3fa0de30e1236ed72154b399e334de5
Due: none

feat(www): chrome extension disclaimer
  package-lock.json
  package.json
  packages/app/package.json
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/subscription/subscription-product/subscription-product.component.html
  packages/www/src/index.ts
  packages/www/src/pages/index.handlebars
  packages/www/src/partials/layout.handlebars
Due: prettier --write

Notes added by 'git notes add'
  5f/e23a8e865fa78e51c65c594eabe86e1dd76c84
Due: none

feat(app): browser extension disclaimer
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
  packages/styles/_utils.scss
Due: prettier --write

Notes added by 'git notes add'
  6d/6895e5ce78d83bff79925705994a686fe52dc7
Due: none

chore(www): piwik analytics
  packages/www/environment.example.js
  packages/www/src/partials/layout.handlebars
  platform/env-dev.tfvars
  platform/env-prod.tfvars
  platform/env-stage.tfvars
  platform/environments.tf
  platform/variables.tf
  platform/www.tf
Due: prettier --write, terraform-fmt

feat: welcome screen after the successful installation
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/pages/sign-in-page/sign-in-page.component.html
  packages/app/src/app/auth/pages/sign-in-page/sign-in-page.component.ts
  packages/app/src/app/auth/sign-in/sign-in.component.html
  packages/app/src/app/auth/sign-in/sign-in.component.scss
  packages/app/src/app/auth/sign-in/sign-in.component.ts
  packages/app/src/app/static-pages/static-pages-routing.module.ts
  packages/app/src/app/static-pages/static-pages.module.ts
  packages/app/src/app/static-pages/welcome/welcome.component.html
  packages/app/src/app/static-pages/welcome/welcome.component.scss
  packages/app/src/app/static-pages/welcome/welcome.component.ts
  packages/extension/src/service-worker.ts
Due: prettier --write

Notes added by 'git notes add'
  54/71fe7f3b2dc406a778b05e8c7f9061fcb817f2
Due: none

fix(app): replace history item when redirecting
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.ts
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.ts
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.ts
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.ts
Due: prettier --write

Notes added by 'git notes add'
  92/b0597614179c7c3ee9de21d9224048c51f6059
Due: none

feat(app): terms and conditions and privacy policy links lead to the root domain
  packages/app/src/app/auth/sign-in/sign-in.component.html
  packages/app/src/app/auth/sign-in/sign-in.component.ts
  packages/app/src/environments/environmentLocal.example.ts
  platform/environments.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  99/cfa82516d7b2bccf0d5a459c4786da4ee29e31
Due: none

feat(extension): put user languages to the top of the dropdown list
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-translation/sortLanguages.ts
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/index.ts
  packages/extension-service-worker/src/languageList.ts
Due: prettier --write

Notes added by 'git notes add'
  8a/82d7c9d5377b24e75b9dc18f9f04d4187f21b7
Due: none

chore(extension): log backend error
  packages/extension-service-worker/src/index.ts
Due: prettier --write

feat(www): how it works
  packages/www/src/assets/img/how-it-works-01.svg
  packages/www/src/assets/img/how-it-works-02.svg
  packages/www/src/assets/img/how-it-works-03.svg
  packages/www/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  17/f334337ede25335949b604c53f8a528f428be3
Due: none

fix(www): how it works image to be stacked on phone
  packages/www/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  cd/beff414ee61efdf06a83bd7195f1c8deeba99c
Due: none

feat(www): flashcard example
  packages/www/src/pages/index.handlebars
  packages/www/src/styles.scss
  packages/www/src/styles/components/_device-mockup.scss
  packages/www/src/styles/sections/_masthead.scss
Due: prettier --write

Notes added by 'git notes add'
  8a/ac225bbeafa376da5d0d714b26a59279e31a6e
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
