Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

test(e2e): login with cognito
  packages/app-e2e/.env
  packages/app-e2e/cypress/integration/1-unauthorized/login-screen.spec.js
  packages/app-e2e/cypress/integration/2-authorized/dashboard-screen.spec.js
  packages/app-e2e/cypress/plugins/index.js
  packages/app-e2e/cypress/support/auth-provider-commands/cognito.js
  packages/app-e2e/cypress/support/index.js
Due: prettier --write

chore: rename login command file
  packages/app-e2e/cypress/support/index.js
  packages/app-e2e/cypress/support/login.js
Due: prettier --write

test(e2e): clear user decks
  packages/app-e2e/.env
  packages/app-e2e/cypress/integration/2-authorized/dashboard-screen.spec.js
  packages/app-e2e/cypress/plugins/clear-decks.js
  packages/app-e2e/cypress/plugins/index.js
Due: prettier --write

chore: define environment extension ids
  packages/app/src/environments/environmentLocal.example.ts
  packages/extension/.env
  packages/extension/src/manifest.json.txt
  packages/extension/webpack.config.js
  packages/webpack/src/replaceDefinitions.ts
  platform/dev.tfvars
  platform/environments.tf
  platform/prod.tfvars
  platform/stage.tfvars
  platform/variables.tf
Due: prettier --write, terraform-fmt

test(e2e): enable visual snapshot testing
  packages/app-e2e/cypress/integration/1-unauthorized/login-screen.spec.js
  packages/app-e2e/cypress/plugins/index.js
  packages/app-e2e/cypress/support/commands.js
  packages/app-e2e/cypress/support/index.js
  packages/app-e2e/cypress/support/snapshot.js
  packages/app-e2e/package.json
  packages/app-e2e/snapshots/1-unauthorized/login-screen.spec.js/login screen.snap.png
  yarn.lock
Due: prettier --write

feat(app): empty decks screen
  packages/app-e2e/cypress/integration/2-authorized/dashboard-screen.spec.js
  packages/app-e2e/cypress/support/login.js
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.js/no decks screen.snap.png
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/_utils.scss
Due: prettier --write

test(e2e): add missing snapshots
  packages/app-e2e/snapshots/All Integration Specs/login screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/no decks screen.snap.png
Due: none

chore(release): 1.16.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1d261de4f7df5b90a1b7c50eb63f1681c656792a
Due: none

test(e2e): utilize typescript
  packages/app-e2e/cypress/plugins/clear-decks.ts
  packages/app-e2e/cypress/plugins/index.ts
  packages/app-e2e/cypress/support/login.ts
Due: prettier --write

test(e2e): utilize typescript
  packages/app-e2e/cypress/integration/1-unauthorized/login-screen.spec.ts
  packages/app-e2e/cypress/integration/2-authorized/dashboard-screen.spec.ts
  packages/app-e2e/cypress/plugins/clear-decks.ts
  packages/app-e2e/cypress/plugins/index.ts
  packages/app-e2e/cypress/support/index.ts
  packages/app-e2e/cypress/support/login.ts
  packages/app-e2e/cypress/support/snapshot.ts
  packages/app-e2e/cypress/tsconfig.json
Due: prettier --write

chore: disable setting up version version in package.json
  .releaserc.js
  package.json
  scripts/build-extension.mjs
  scripts/helpers/importJson.mjs
Due: prettier --write

test(e2e): dashboard with single deck
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  packages/app-e2e/cypress/fixtures/nl.ts
  packages/app-e2e/cypress/integration/2-authorized/dashboard-screen.spec.ts
  packages/app-e2e/cypress/plugins/index.ts
  packages/app-e2e/cypress/plugins/save-deck.ts
  packages/app-e2e/package.json
  packages/app-e2e/snapshots/1-unauthorized/login-screen.spec.ts/login screen.snap.png
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.ts/no decks screen.snap.png
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.ts/single deck screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/single deck screen.snap.png
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
Due: prettier --write

test(e2e): delete flow
  packages/app-e2e/cypress/fixtures/fr.ts
  packages/app-e2e/cypress/integration/2-authorized/dashboard-screen.spec.ts
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.ts/deck selector clicked.snap.png
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.ts/multiple decks screen - dutch.snap.png
  packages/app-e2e/snapshots/2-authorized/dashboard-screen.spec.ts/multiple decks screen - french.snap.png
  packages/app-e2e/snapshots/All Integration Specs/deck selector clicked.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit dutch.snap.png
  packages/app-e2e/snapshots/All Integration Specs/multiple decks screen - dutch.snap.png
  packages/app-e2e/snapshots/All Integration Specs/multiple decks screen - french.snap.png
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.ts
Due: prettier --write

fix(extension): default font color
  .idea/vocably.iml
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/_hero.scss
  packages/app/src/styles/_variables.scss
  packages/extension-content-ui/src/components/vocably-spinner/vocably-spinner.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/styles/_variables.scss
  packages/styles/_colors.scss
  packages/styles/package.json
Due: prettier --write

chore(terraform): update aws provider to v4
  platform/api-cards.tf
  platform/app.tf
  platform/artifacts.tf
  platform/www.tf
Due: terraform-fmt

Notes added by 'git notes add'
  f254329288ff744e4c7a0eddd9844dafab3734bf
Due: none

chore(platform-root): shift to aws 4.0 provider
  platform-root/tf-state/main.tf
Due: terraform-fmt

fix(app): slide cards behind the screen
  packages/app/src/app/srs/card/card.component.scss
Due: prettier --write

Notes added by 'git notes add'
  2a063b48abfb2227761d9bf27d0d152050a1e9a1
Due: none

feat(extension): popup rounded corners
  packages/extension-content-script/src/index.ts
  packages/extension-content-ui/package.json
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
  packages/extension-content-ui/stencil.config.ts
  packages/extension/webpack.config.js
Due: prettier --write

Notes added by 'git notes add'
  069689a3df8779018b0efd22c60da61b9bfe9ff1
Due: none

fix(extension): consider multiple headwords in lexicala output
  packages/extension-service-worker/src/createCards.ts
  packages/model/src/translate.ts
Due: prettier --write

Notes added by 'git notes add'
  f412ae812fb465b8cc3ef7c9acb3452f371d43c8
Due: none

feat(extension): multiple definitions in sideB
  packages/extension-content-script/public/index.html
  packages/extension-content-ui/package.json
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-side-b/readme.md
  packages/extension-content-ui/src/components/vocably-side-b/vocably-side-b.scss
  packages/extension-content-ui/src/components/vocably-side-b/vocably-side-b.tsx
  packages/extension-content-ui/src/components/vocably-translation/readme.md
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
Due: prettier --write

Notes added by 'git notes add'
  9200a36b2c48dd2cecad88189e9cdba2972eeb2d
Due: none

chore(extension-content-ui): ignore auto-generated readmes
  packages/extension-content-ui/.gitignore
  packages/extension-content-ui/src/components/vocably-button/readme.md
  packages/extension-content-ui/src/components/vocably-popup/readme.md
  packages/extension-content-ui/src/components/vocably-side-b/readme.md
  packages/extension-content-ui/src/components/vocably-spinner/readme.md
  packages/extension-content-ui/src/components/vocably-translation/readme.md
Due: prettier --write

refactor(extension): popup height could be restricted from the outside
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.tsx
  packages/extension-content-ui/src/components/vocably-side-b/vocably-side-b.scss
Due: prettier --write

feat(extension): popup logo
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-logo/vocably-logo.scss
  packages/extension-content-ui/src/components/vocably-logo/vocably-logo.tsx
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.tsx
  packages/extension-content-ui/src/index.html
Due: prettier --write

Notes added by 'git notes add'
  c27013cdf1702e610ffe1a16eda924427f850904
Due: none

feat(extension): displace popup to the visibility zone of the screen
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/position.ts
Due: prettier --write

Notes added by 'git notes add'
  34aca074bbab213860194635588c78e193b24f7c
Due: none

fix: apply maximum z-index to the button and popup
  packages/extension-content-script/src/button.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/zIndex.ts
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
Due: prettier --write

Notes added by 'git notes add'
  0952adc3474ed3ddcde57cf6d7b8f835792ccba5
Due: none

ci(circleci): upgrade convenience images
  .circleci/config.yml
Due: prettier --write

chore(app): set prefix as 'app'
  packages/app/angular.json
  packages/app/src/app/app.component.ts
  packages/app/src/app/auth/pages/login-page/login-page.component.html
  packages/app/src/app/auth/pages/login-page/login-page.component.ts
  packages/app/src/app/decks/deck-selector/deck-selector.component.ts
  packages/app/src/app/decks/decks.component.ts
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.ts
  packages/app/src/app/decks/pages/edit-page/edit-page.component.ts
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
  packages/app/src/app/decks/pages/study-page/study-page.component.html
  packages/app/src/app/decks/pages/study-page/study-page.component.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.ts
  packages/app/src/app/header/logo/logo.component.ts
  packages/app/src/app/srs/card-options/card-options.component.ts
  packages/app/src/app/srs/card/card.component.ts
  packages/app/src/app/srs/list/list.component.html
  packages/app/src/app/srs/list/list.component.ts
  packages/app/src/app/srs/success/success.component.ts
  packages/app/src/index.html
Due: prettier --write

chore(e2e): setup env variables with dotenv first
  packages/app-e2e/cypress/plugins/index.ts
Due: prettier --write

chore: give well-distinguished names to package start scripts
  packages/api/package.json
  packages/app/package.json
  packages/crud/package.json
  packages/extension-content-script/package.json
  packages/extension-content-ui/.gitignore
  packages/extension-content-ui/config/build-config.ts
  packages/extension-content-ui/package.json
  packages/extension-content-ui/stencil.serve.ts
  packages/extension-messages/package.json
  packages/extension-service-worker/package.json
  packages/extension/package.json
  packages/hermes/package.json
  packages/model/package.json
  packages/pontis/package.json
  packages/srs/package.json
  packages/sulna/package.json
  packages/webpack/package.json
Due: prettier --write

fix(extension): consider part of speech when searching for existing cards
  packages/extension-service-worker/src/createCards.test.ts
  packages/extension-service-worker/src/createCards.ts
Due: prettier --write

Notes added by 'git notes add'
  cdebc6e40e3dab72645d1c2d607ba1888d554002
Due: none
