Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

feat: definite articles in spanish and italian
  packages/analyze/src/addArticle.test.ts
  packages/analyze/src/addArticle.ts
  packages/analyze/src/vowels.ts
Due: prettier --write

chore: flaky test
  packages/analyze/src/buildResult.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  bd/d6e43072029923ed012e0b2e45d8e140237a94
Due: none

feat(app): welcome link in settings
  packages/app/src/app/pages/settings-page/settings-page.component.html
Due: prettier --write

Notes added by 'git notes add'
  d1/f6d2bc16d5a66a2eb64cfd067204ccdb7879e3
Due: none

feat(analyze): amazing articles in spanish and italian
  packages/analyze/src/addArticle.test.ts
  packages/analyze/src/addArticle.ts
  packages/analyze/src/lexicala.ts
  packages/sulna/src/trimArticle.test.ts
  packages/sulna/src/trimArticle.ts
Due: prettier --write

Notes added by 'git notes add'
  d2/79cccd74a340146c3baabef0ab3da5869e3f3f
Due: none

feat(www): vocably is not for beginners
  packages/www/src/pages/vocably-is-not-for-beginners.handlebars
Due: none

feat(www): better resolution
  packages/www/src/pages/index.handlebars
Due: none

feat(www): sitemap
  packages/www/generate-sitemap.js
  packages/www/package.json
Due: prettier --write

Notes added by 'git notes add'
  f3/84ceed8d50b1864d5d1381a22d878a3355039b
Due: none

feat(www): xml mime type
  platform/locals.tf
Due: terraform-fmt

Notes added by 'git notes add'
  b9/65ff522c7e9d013b2251bf0ff71cc1fe683a66
Due: none

fix(www): sitemap date
  packages/www/generate-sitemap.js
Due: prettier --write

Notes added by 'git notes add'
  da/73f873894e884387509030938f912c543aa237
Due: none

feat(www): b1-c2
  packages/www/src/pages/vocably-is-not-for-beginners.handlebars
Due: none

Notes added by 'git notes add'
  da/5f74a492780ad368f56fdbab0eb2326f88de0c
Due: none

feat(www): vocably is not for beginners card illustration
  packages/www/src/assets/card-explained.png
  packages/www/src/pages/vocably-is-not-for-beginners.handlebars
Due: none

Notes added by 'git notes add'
  c2/222d03e96156a443ac78e116ec4e2414680ccd
Due: none

feat(www): quiz example
  packages/www/src/assets/card-explained.png
  packages/www/src/assets/vragen-quiz.png
  packages/www/src/pages/vocably-is-not-for-beginners.handlebars
Due: none

feat(www): card explained black frames
  packages/www/src/assets/card-explained.png
Due: none

Notes added by 'git notes add'
  4b/924452259ec7da1e328a44187ceb376967f551
Due: none

feat(www): good looking cta
  packages/www/src/pages/index.handlebars
  packages/www/src/pages/vocably-is-not-for-beginners.handlebars
  packages/www/src/partials/cta.handlebars
  packages/www/src/styles.scss
  packages/www/src/styles/sections/_cta.scss
Due: prettier --write

Notes added by 'git notes add'
  8f/dbdd083fbc07a9640f17c3ebc6f975497be4c1
Due: none

fix(extension): youtube scroll bar
  packages/extension-content-ui/src/components/popup/popup.scss
Due: prettier --write

Notes added by 'git notes add'
  70/0d6502dddd328dca03b947f5bb38faae384a36
Due: none

feat(www): confident copy
  package-lock.json
  packages/www/src/pages/index.handlebars
Due: prettier --write

feat(www): 50px
  packages/www/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  a4/88e7fbb9f0894778552da7e8d712c2522c0c2d
Due: none

feat(www): distance between word carousel and the word
  packages/www/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  25/29eaddbea3edb65b3a009344f74171344b95b4
Due: none

chore(dashboard): save decks as is
  dashboard/.gitignore
  dashboard/download-deck.mjs
Due: prettier --write

feat(www): vocably is not for beginners better explained
  packages/www/src/pages/index.handlebars
  packages/www/src/pages/vocably-is-not-for-beginners.handlebars
Due: none

Notes added by 'git notes add'
  d8/7650298588997e14fcb34a2b739e2c408bc287
Due: none

pages
  packages/extension-popup/src/app/app-routing.module.ts
  packages/extension-popup/src/app/app.component.html
  packages/extension-popup/src/app/app.component.ts
  packages/extension-popup/src/app/app.module.ts
  packages/extension-popup/src/app/pages/home-page/home-page.component.html
  packages/extension-popup/src/app/pages/home-page/home-page.component.scss
  packages/extension-popup/src/app/pages/home-page/home-page.component.ts
  packages/extension-popup/src/app/pages/settings-page/settings-page.component.html
  packages/extension-popup/src/app/pages/settings-page/settings-page.component.scss
  packages/extension-popup/src/app/pages/settings-page/settings-page.component.ts
  packages/extension-popup/src/environments/environment.ts
  packages/extension-popup/src/index.html
  packages/extension-popup/src/styles.scss
Due: prettier --write

sign in
  packages/extension-popup/src/app/app.component.html
  packages/extension-popup/src/app/app.component.ts
Due: prettier --write

internal source language
  packages/extension-popup/src/app/app.component.html
  packages/extension-popup/src/app/app.component.ts
  packages/extension-popup/src/app/pages/home-page/home-page.component.html
  packages/extension-popup/src/app/pages/home-page/home-page.component.ts
  packages/extension-popup/src/environments/environment.ts
Due: prettier --write

settings
  packages/extension-popup/src/app/app.component.scss
  packages/extension-popup/src/app/app.module.ts
  packages/extension-popup/src/app/header/header.component.html
  packages/extension-popup/src/app/header/header.component.scss
  packages/extension-popup/src/app/header/header.component.ts
  packages/extension-popup/src/app/pages/home-page/home-page.component.html
  packages/extension-popup/src/app/pages/home-page/home-page.component.scss
  packages/extension-popup/src/app/pages/settings-page/settings-page.component.html
  packages/extension-popup/src/app/pages/settings-page/settings-page.component.scss
  packages/extension-popup/src/index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
