Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

feat: add articles in german language
  packages/backend/src/lambdas/analyze/addArticle.ts
  packages/backend/src/lambdas/analyze/buildDirectResult.ts
  packages/backend/src/lambdas/analyze/buildResult.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lexicala.ts
Due: prettier --write

Notes added by 'git notes add'
  6e/dcb19cfecd52f55fa14a6c2d7bda470616baff
Due: none

feat(backend): cut definitions to maximum 3
  packages/backend/src/lexicala/lexicalaSearchResultToAnalysisItem.ts
Due: prettier --write

Notes added by 'git notes add'
  41/250f9079f69844d774a4526c6e7298e7693cf6
Due: none

feat(backend): combine analysis items by the source and part of speech
  packages/backend/src/lambdas/analyze/buildDirectResult.ts
  packages/backend/src/lambdas/analyze/combineItems.spec.ts
  packages/backend/src/lambdas/analyze/combineItems.ts
Due: prettier --write

Notes added by 'git notes add'
  43/0938513bf3052e7c7db15b7b9ba8c9db7b71a5
Due: none

fix: extract protuguess from lexicala results
  packages/backend/src/lambdas/analyze/extractTranslation/extractItemTranslation.ts
Due: prettier --write

Notes added by 'git notes add'
  4f/9d60e64add38ecb568218a8a48b5c4ec83626a
Due: none

feat(extension): automatically detect page language
  packages/extension-content-script/public/index.html
  packages/extension-content-script/src/detectLanguage.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/popup/contents.ts
Due: prettier --write

feat: exclude long suggestions from lexicala analyze result
  package-lock.json
  package.json
  packages/backend/src/lambdas/analyze/buildDirectResult.ts
  packages/backend/src/lambdas/analyze/extractTranslation.ts
  packages/backend/src/lambdas/analyze/extractTranslation/translateItem.ts
  packages/backend/src/lambdas/analyze/fitsTheSize.ts
  packages/backend/src/lexicala/extractHeadword.spec.ts
  packages/backend/src/lexicala/extractHeadword.ts
  packages/backend/src/lexicala/lexicalaSearchResultToAnalysisItem.ts
  packages/backend/src/lexicala/normalizeHeadword.ts
Due: prettier --write

Notes added by 'git notes add'
  ec/124e38b963652c13ae257a6d8d2f893d6e1f79
Due: none

fix: headword
  packages/backend/src/lexicala/lexicalaSearchResultToAnalysisItem.ts
Due: prettier --write

Notes added by 'git notes add'
  62/344f8f58bdf9913d87099050c56d8427c70d21
Due: none

feat(extension): detect language automatically with Google Translate
  packages/extension-content-script/src/popup.ts
Due: prettier --write

Notes added by 'git notes add'
  2e/5f3c3ca62d87023d9eb52ea8c52cb08e480f4d
Due: none

feat(extension): select the language to learn
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-language/vocably-language.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/index.ts
  packages/extension-service-worker/src/proxyLanguage.ts
  packages/extension-service-worker/src/sourceLanguage.ts
Due: prettier --write

Notes added by 'git notes add'
  1f/5972ad1baa5c0b44741c0026f4cd2cf4c17580
Due: none

chore(moa): manage app version with the version file
  mobile-app/.env
  mobile-app/VERSION
  mobile-app/android/Gemfile.lock
  mobile-app/android/fastlane/Fastfile
  mobile-app/android/fastlane/Pluginfile
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/ios/fastlane/Fastfile
Due: none

feat: feedback lambda
  packages/backend/.env
  packages/backend/src/lambdas/user-feedback/index.spec.ts
  packages/backend/src/lambdas/user-feedback/index.ts
  packages/backend/src/lambdas/user-feedback/saveFeedback.ts
  platform/environments.tf
  platform/user-feedback.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  0e/006edf774e9cb2ca68be83c166f9b2806b3eb8
Due: none

feat: feedback notification subject prefix
  packages/backend/src/lambdas/user-feedback/saveFeedback.ts
Due: prettier --write

Notes added by 'git notes add'
  18/ee6162a98aaa188e3e3d4be502e353a91a60cf
Due: none

feat(moa): feedback
  mobile-app/src/DrawerNavigator.tsx
  mobile-app/src/DrawerNavigator/AccountMenu.tsx
  mobile-app/src/DrawerNavigator/DrawerContent.tsx
  mobile-app/src/DrawerNavigator/MainMenu.tsx
  mobile-app/src/FeedbackModal.tsx
  mobile-app/src/RootModalStack.tsx
  mobile-app/src/inputs/VocablyTextInput.tsx
  packages/api/src/index.ts
  packages/api/src/restClient.ts
  packages/api/src/userFeedback.ts
  packages/backend/src/lambdas/user-feedback/index.ts
  packages/backend/src/lambdas/user-feedback/saveFeedback.ts
  packages/model/src/errors.ts
  platform/api.tf
Due: prettier --write, terraform-fmt

test: fix unit test
  packages/backend/src/lambdas/user-feedback/index.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  23/d6c412a913e21b331d604e686e9928fe12f95b
Due: none

feat: qr code to mobile app
  mobile-app/android/app/build.gradle
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/assets/app-qr-code.svg
  packages/app/src/assets/how-to-extension.webm
  packages/www/src/index.ts
  packages/www/src/pages/app.handlebars
Due: prettier --write

Notes added by 'git notes add'
  27/2b9ff999f9ac7c14d5d9131ed9d000ef03e565
Due: none

feat(app): get rid of android and ios pages
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/pages/android-page/android-page.component.html
  packages/app/src/app/pages/android-page/android-page.component.scss
  packages/app/src/app/pages/android-page/android-page.component.ts
  packages/app/src/app/pages/ios-page/ios-page.component.html
  packages/app/src/app/pages/ios-page/ios-page.component.scss
  packages/app/src/app/pages/ios-page/ios-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  01/fd1d584f5149146638728960a2447891770878
Due: none

feat(app): feedback form
  mobile-app/src/DrawerNavigator/MainMenu.tsx
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/header/header.component.html
  packages/app/src/app/pages/feedback-page/feedback-page.component.html
  packages/app/src/app/pages/feedback-page/feedback-page.component.scss
  packages/app/src/app/pages/feedback-page/feedback-page.component.ts
Due: prettier --write

feat(extension): feedback cta
  packages/app/src/app/pages/not-found-page/not-found-page.component.html
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
Due: prettier --write

Notes added by 'git notes add'
  29/d4a93c1dd98df0378e3693c05084ff2d83f252
Due: none

fix(analyze): dont trim an article not separated by space
  packages/backend/src/lambdas/analyze/trimArticle.test.ts
  packages/backend/src/lambdas/analyze/trimArticle.ts
Due: prettier --write

fix(translation): skips analyze when source is more than one word
  packages/backend/src/lambdas/analyze/buildDirectResult.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/isOneWord.test.ts
  packages/backend/src/lambdas/analyze/isOneWord.ts
Due: prettier --write

Notes added by 'git notes add'
  7c/6660d6cb969d405d053a36271d2a7a9cd0f74a
Due: none

refactor(auth): rename addToPaid action to postConfirmation
  packages/auth-lambdas/src/post-confirmation.ts
  platform/auth.tf
  platform/auth_lambdas_build.zip
Due: prettier --write, terraform-fmt

feat: send welcome email
  package-lock.json
  package.json
  packages/auth-lambdas/.env
  packages/auth-lambdas/.gitignore
  packages/auth-lambdas/package.json
  packages/auth-lambdas/src/auth-post-confirmation/adminAddUserToGroup.ts
  packages/auth-lambdas/src/auth-post-confirmation/adminGetUser.ts
  packages/auth-lambdas/src/auth-post-confirmation/brevo.spec.ts
  packages/auth-lambdas/src/auth-post-confirmation/brevo.ts
  packages/auth-lambdas/src/auth-post-confirmation/getEmail.ts
  packages/auth-lambdas/src/auth-post-confirmation/index.ts
  packages/auth-lambdas/src/post-confirmation.ts
  packages/auth-lambdas/webpack.config.js
  packages/auth-lambdas/webpack/getModules.js
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/result.ts
  platform/auth.tf
  platform/auth_lambdas_build.zip
  platform/variables.tf
Due: prettier --write, terraform-fmt

ci: declare brevo_api_key variable
  scripts/declare-variables.sh
Due: none

Notes added by 'git notes add'
  ad/61d0056fef16d0460f512abce86f3170f65ae0
Due: none
