Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

fix(extension): slightly enlarge popup logo
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
Due: prettier --write

Notes added by 'git notes add'
  cd/187d0792bd7ee9fd7be4d6f77ee3ecd01370ae
Due: none

fix(extension): popup header 24px
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
Due: prettier --write

Notes added by 'git notes add'
  7d/8604d3cfa4a15f10ffee85fa6522b2c0f3b47a
Due: none

fix(app): logo size and color
  packages/app/src/app/header/header.component.scss
  packages/app/src/styles/_variables.scss
Due: prettier --write

Notes added by 'git notes add'
  62/369b6e9eb1dd7b6c88f1cce95380b757f77fde
Due: none

fix(app): back button to correctly detect relativeTo route
  packages/app/src/app/components/back-button/back-button.component.html
  packages/app/src/app/components/back-button/back-button.component.ts
Due: prettier --write

chore: analyze lambda error alerts
  platform/api-analyze.tf
  platform/env-dev.tfvars
  platform/env-prod.tfvars
  platform/env-stage.tfvars
  platform/sns-alarm.tf
  platform/variables.tf
Due: terraform-fmt

chore(extension): reduced permissions for prod extension
  packages/extension-popup/angular.json
  packages/extension/.env
  packages/extension/src/content-script.ts
  packages/extension/src/manifest.json.txt
  packages/extension/src/service-worker.ts
  packages/extension/webpack.config.js
  platform/env-dev.tfvars
  platform/env-prod.tfvars
  platform/env-stage.tfvars
  platform/environments.tf
  platform/variables.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  f3/e978a2c297c54c1bd27015355d87a062eb7e9a
Due: none

chore: build extension for stage and prod
  .circleci/config.yml
  scripts/install-build-dependencies.sh
Due: prettier --write

fix(app): logo color to be white
  packages/app/src/app/header/logo/logo.component.scss
  packages/app/src/styles/_variables.scss
Due: prettier --write

Notes added by 'git notes add'
  db/923eaac20d63530ae73db56cd17a0b2ea038c1
Due: none

feat(www): sign in link
  packages/www/index.html
  packages/www/logo.svg
  packages/www/styles.css
Due: prettier --write

Notes added by 'git notes add'
  dc/aa2f25a6c9f1a97c27d002244740eb003ec4bc
Due: none

fix(app): set up proper extension id
  assets/extension-screenshots/1.png
  assets/extension-screenshots/2.png
  assets/extension-screenshots/originals/browser.png
  assets/extension-screenshots/originals/mobile.jpg
  platform/env-prod.tfvars
Due: none

Notes added by 'git notes add'
  34/d8200b24ee684997c6c210d9331cddff73d011
Due: none

fix(hermes): properly handle missing runtime and uninstalled extension
  packages/hermes/src/index.ts
Due: prettier --write

chore: add small browser image
  assets/extension-screenshots/originals/browser-small.png
Due: none

Notes added by 'git notes add'
  b5/48c7c7028eadbd0e41affaed1cc23af92b03c1
Due: none

fix(extension): disable minification
  packages/extension-popup/angular.json
  packages/extension-popup/package.json
  packages/extension/webpack.config.js
Due: prettier --write

Notes added by 'git notes add'
  78/0bfcdd6f2553f6097fa3d1183b93df1f038209
Due: none

fix(extension): enable minification
  packages/extension-popup/angular.json
  packages/extension-popup/package.json
  packages/extension/webpack.config.js
Due: prettier --write

Notes added by 'git notes add'
  55/0177486af26d493fb160d750b96f2b12dcb20e
Due: none

feat: icon with selection
  assets/dev-favicon.ico
  assets/extension-icon.svg
  assets/favicon.ico
  assets/icon.png
  assets/icon.svg
  assets/pure.svg
  assets/pwa-icon.svg
  assets/web-dev-favicon.svg
  assets/web-favicon.svg
  packages/app/src/assets/apple-icon-180.png
  packages/app/src/assets/favicon-196.png
  packages/app/src/assets/manifest-icon-192.maskable.png
  packages/app/src/assets/manifest-icon-512.maskable.png
  packages/extension-content-script/public/favicon.ico
  packages/extension-content-ui/src/components/vocably-button/vocably-button.scss
  packages/extension-content-ui/src/components/vocably-button/vocably-button.tsx
  packages/extension-popup/src/favicon.ico
  packages/extension/assets/images/icon-128x128.png
  packages/extension/assets/images/icon-16x16.png
  packages/extension/assets/images/icon-32x32.png
  packages/extension/assets/images/icon-48x48.png
  packages/www/favicon.ico
  scripts/update-icon.mjs
Due: prettier --write

Notes added by 'git notes add'
  f0/4dbe99a1845ff18d1f93881cdea4f55a8e0295
Due: none

feat(app): big square icon for ios
  assets/square-big.png
  assets/square-big.svg
  packages/app/src/assets/apple-icon-180.png
  scripts/update-icon.mjs
Due: prettier --write

chore: move common angular dependencies to the root package.json
  package-lock.json
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/backend/package.json
  packages/crud/package.json
  packages/extension-angular-components/package.json
  packages/extension-content-script/package.json
  packages/extension-popup/package.json
  packages/extension-service-worker/package.json
  packages/extension/package.json
  packages/srs/package.json
  packages/www-2.0/.browserslistrc
  packages/www-2.0/.editorconfig
  packages/www-2.0/.gitignore
  packages/www-2.0/README.md
  packages/www-2.0/angular.json
  packages/www-2.0/karma.conf.js
  packages/www-2.0/package.json
  packages/www-2.0/src/app/app-routing.module.ts
  packages/www-2.0/src/app/app.component.html
  packages/www-2.0/src/app/app.component.scss
  packages/www-2.0/src/app/app.component.spec.ts
  packages/www-2.0/src/app/app.component.ts
  packages/www-2.0/src/app/app.module.ts
  packages/www-2.0/src/assets/.gitkeep
  packages/www-2.0/src/environments/environment.prod.ts
  packages/www-2.0/src/environments/environment.ts
  packages/www-2.0/src/favicon.ico
  packages/www-2.0/src/index.html
  packages/www-2.0/src/main.ts
  packages/www-2.0/src/polyfills.ts
  packages/www-2.0/src/styles.scss
  packages/www-2.0/src/test.ts
  packages/www-2.0/tsconfig.app.json
  packages/www-2.0/tsconfig.json
  packages/www-2.0/tsconfig.spec.json
  scripts/build-packages.mjs
Due: prettier --write

chore: extension-popup is excluded from build-packages.mjs
  scripts/build-packages.mjs
Due: prettier --write

chore: get rid of scully bs
  .scully/settings.yml
  package-lock.json
  package.json
  packages/www-2.0/.browserslistrc
  packages/www-2.0/.editorconfig
  packages/www-2.0/.gitignore
  packages/www-2.0/README.md
  packages/www-2.0/angular.json
  packages/www-2.0/karma.conf.js
  packages/www-2.0/package.json
  packages/www-2.0/src/app/app-routing.module.ts
  packages/www-2.0/src/app/app.component.html
  packages/www-2.0/src/app/app.component.scss
  packages/www-2.0/src/app/app.component.spec.ts
  packages/www-2.0/src/app/app.component.ts
  packages/www-2.0/src/app/app.module.ts
  packages/www-2.0/src/assets/.gitkeep
  packages/www-2.0/src/environments/environment.prod.ts
  packages/www-2.0/src/environments/environment.ts
  packages/www-2.0/src/favicon.ico
  packages/www-2.0/src/index.html
  packages/www-2.0/src/main.ts
  packages/www-2.0/src/polyfills.ts
  packages/www-2.0/src/styles.scss
  packages/www-2.0/src/test.ts
  packages/www-2.0/tsconfig.app.json
  packages/www-2.0/tsconfig.json
  packages/www-2.0/tsconfig.spec.json
Due: prettier --write

Notes added by 'git notes add'
  f9/8543e4d03882a6295c2a46b0ba78b2c3d8cce0
Due: none

chore(www): setup www app structure
  .idea/prettier.xml
  package-lock.json
  package.json
  packages/www-2.0/.gitignore
  packages/www-2.0/package.json
  packages/www-2.0/src/assets/img/app-store-badge.svg
  packages/www-2.0/src/assets/img/demo-screen.mp4
  packages/www-2.0/src/assets/img/google-play-badge.svg
  packages/www-2.0/src/assets/img/portrait_black.png
  packages/www-2.0/src/assets/img/tnw-logo.svg
  packages/www-2.0/src/assets/logo-light.svg
  packages/www-2.0/src/favicon.ico
  packages/www-2.0/src/index.ts
  packages/www-2.0/src/pages/index.handlebars
  packages/www-2.0/src/styles.scss
  packages/www-2.0/src/styles/_global.scss
  packages/www-2.0/src/styles/_reset.scss
  packages/www-2.0/src/styles/_variables.scss
  packages/www-2.0/src/styles/components/_device-mockup.scss
  packages/www-2.0/src/styles/components/_navbar.scss
  packages/www-2.0/src/styles/sections/_cta.scss
  packages/www-2.0/src/styles/sections/_features.scss
  packages/www-2.0/src/styles/sections/_footer.scss
  packages/www-2.0/src/styles/sections/_masthead.scss
  packages/www-2.0/src/styles/variables/_colors.scss
  packages/www-2.0/src/styles/variables/_typography.scss
  packages/www-2.0/tsconfig.json
  packages/www-2.0/webpack.config.js
Due: prettier --write

chore(www): header and typography
  packages/www-2.0/src/pages/index.handlebars
  packages/www-2.0/src/styles/components/_navbar.scss
  packages/www-2.0/src/styles/variables/_typography.scss
Due: prettier --write

chore(www): how it works
  packages/www-2.0/src/pages/index.handlebars
  packages/www-2.0/src/styles.scss
  packages/www-2.0/src/styles/components/_navbar.scss
  packages/www-2.0/src/styles/sections/_features.scss
Due: prettier --write

feat: leaf icon
  assets/extension-icon.svg
  assets/icon.png
  assets/icon.svg
  assets/pure.svg
  assets/pwa-icon.svg
  assets/square-big.png
  assets/square-big.svg
  assets/web-dev-favicon.svg
  assets/web-favicon.svg
  assets/www-logo.svg
  packages/app/src/assets/apple-icon-180.png
  packages/app/src/assets/favicon-196.png
  packages/app/src/assets/manifest-icon-192.maskable.png
  packages/app/src/assets/manifest-icon-512.maskable.png
  packages/extension-content-script/public/favicon.ico
  packages/extension-content-ui/src/components/vocably-button/vocably-button.scss
  packages/extension-content-ui/src/components/vocably-button/vocably-button.tsx
  packages/extension-popup/src/favicon.ico
  packages/extension/assets/images/icon-128x128.png
  packages/extension/assets/images/icon-16x16.png
  packages/extension/assets/images/icon-32x32.png
  packages/extension/assets/images/icon-48x48.png
  packages/www-2.0/src/assets/logo-light.svg
  packages/www-2.0/src/assets/logo.svg
  packages/www-2.0/src/favicon.ico
  packages/www-2.0/src/pages/index.handlebars
  packages/www-2.0/src/styles/components/_navbar.scss
  packages/www/favicon.ico
  scripts/update-icon.mjs
Due: prettier --write

Notes added by 'git notes add'
  8b/d28e7391030ac53ce3d1e27eac11e45d68194d
Due: none

chore: give v- prefix to style colors
  packages/app/src/app/header/header.component.scss
  packages/app/src/app/subscription/subscription-product/subscription-product.component.scss
  packages/app/src/styles/_material-theme.scss
  packages/app/src/styles/_variables.scss
  packages/extension-content-ui/src/components/vocably-alert/vocably-alert.scss
  packages/extension-content-ui/src/components/vocably-button/vocably-button.scss
  packages/extension-content-ui/src/components/vocably-logo/vocably-logo.scss
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
  packages/extension-content-ui/src/components/vocably-spinner/vocably-spinner.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/styles/_mixins.scss
  packages/extension-content-ui/src/styles/_variables.scss
  packages/extension-popup/src/styles/_theme.scss
  packages/styles/_colors.scss
  packages/styles/_utils.scss
  packages/www-2.0/src/styles.scss
  packages/www-2.0/src/styles/_variables.scss
  packages/www-2.0/src/styles/variables/_colors.scss
Due: prettier --write

chore: get rid of unpleasant colors
  packages/styles/_colors.scss
  packages/www-2.0/src/styles/variables/_colors.scss
Due: prettier --write

feat(www): rokkitt font for headings
  packages/www-2.0/src/pages/index.handlebars
  packages/www-2.0/src/styles/variables/_typography.scss
Due: prettier --write

fix: mat red palette
  packages/app/src/styles/_material-theme.scss
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
