Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

Notes added by 'git notes add'
  f0/6b2d46e4d058bf29b44077cdcc748000076757
Due: none

feat(app): sign in google icon
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/pages/sign-in-page/sign-in-page.component.html
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/components/google-icon/google-icon.component.html
  packages/app/src/app/components/google-icon/google-icon.component.scss
  packages/app/src/app/components/google-icon/google-icon.component.ts
  packages/app/src/assets/google.svg
Due: prettier --write

refactor(app): move all the auth related pages under the auth module
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.html
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.scss
  packages/app/src/app/auth/pages/hands-free-page/hands-free-page.component.ts
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.html
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.scss
  packages/app/src/app/auth/pages/sign-in-success-page/sign-in-success-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  f8/bd25386f1d193890256b1e649efcae78b78834
Due: none

feat(app): privacy policy and terms of service pages
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/auth/pages/sign-in-page/sign-in-page.component.html
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.ts
  packages/app/src/app/static-pages/privacy-policy-page/privacy-policy-page.component.html
  packages/app/src/app/static-pages/privacy-policy-page/privacy-policy-page.component.scss
  packages/app/src/app/static-pages/privacy-policy-page/privacy-policy-page.component.ts
  packages/app/src/app/static-pages/static-pages-routing.module.ts
  packages/app/src/app/static-pages/static-pages.module.ts
  packages/app/src/app/static-pages/terms-of-service-page/terms-of-service-page.component.html
  packages/app/src/app/static-pages/terms-of-service-page/terms-of-service-page.component.scss
  packages/app/src/app/static-pages/terms-of-service-page/terms-of-service-page.component.ts
  packages/extension-popup/src/app/app.module.ts
Due: prettier --write

Notes added by 'git notes add'
  6b/4b44eb0ce13e44c63bec294e8e57910a7e1d62
Due: none

feat(extension): tos and privacy on sign in window
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-google-icon/vocably-google-icon.scss
  packages/extension-content-ui/src/components/vocably-google-icon/vocably-google-icon.tsx
  packages/extension-content-ui/src/components/vocably-sign-in/vocably-sign-in.scss
  packages/extension-content-ui/src/components/vocably-sign-in/vocably-sign-in.tsx
  packages/extension-content-ui/src/components/vocably-subscribe/vocably-subscribe.scss
  packages/extension-content-ui/src/components/vocably-subscribe/vocably-subscribe.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-content-ui/src/styles/_mixins.scss
  scripts/reset-user-subscription.mjs
Due: prettier --write

Notes added by 'git notes add'
  41/5333175a7bd073db45feaabba08e6a3d7f5838
Due: none

chore: rename app-e2e to e2e
  package-lock.json
  packages/e2e/package.json
  platform/locals.tf
Due: prettier --write, terraform-fmt

feat(app): sign out page
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/pages/sign-out-page/sign-out-page.component.html
  packages/app/src/app/auth/pages/sign-out-page/sign-out-page.component.scss
  packages/app/src/app/auth/pages/sign-out-page/sign-out-page.component.ts
Due: prettier --write

feat(app): display amount of cards
  package-lock.json
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/styles/_utils.scss
Due: prettier --write

fix(app): display prices in euro
  packages/app/src/app/header/header.component.html
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.html
Due: prettier --write

feat: let translation happen without lexicala results
  packages/backend/src/lambdas/analyze/buildResult.ts
  packages/backend/src/lambdas/analyze/extractUniqueHeadwords.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/translateNormalizedHeadwords.ts
  packages/backend/src/lexicala.ts
  packages/backend/src/lexicala/lexicalaLanguageMapper.ts
  packages/backend/src/lexicala/lexicalaSearchResultToAnalysisItem.ts
  packages/backend/src/translateText.ts
  packages/backend/src/translateText/googleLanguageMapper.ts
  packages/extension-service-worker/src/createCards.ts
  packages/model/src/analysis.ts
  packages/model/src/errors.ts
  packages/model/src/language-list.ts
Due: prettier --write

chore: adjust types
  packages/extension-content-script/src/popup/contents.ts
Due: prettier --write

feat(app): strike the extension through on 'no decks' page
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
  packages/extension-messages/src/index.ts
  packages/hermes/src/index.ts
Due: prettier --write

feat(app): wait for the extension to be installed
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/index.ts
Due: prettier --write

Notes added by 'git notes add'
  be/42f0518c4baa5ecffeebf4393a9e786c5bdd1c
Due: none

feat(app): toc and privacy policy pages
  packages/app/src/app/auth/pages/sign-in-page/sign-in-page.component.html
  packages/app/src/app/static-pages/privacy-policy-page/privacy-policy-page.component.html
  packages/app/src/app/static-pages/static-pages-routing.module.ts
  packages/app/src/app/static-pages/static-pages.module.ts
  packages/app/src/app/static-pages/terms-and-conditions-page/terms-and-conditions-page.component.html
  packages/app/src/app/static-pages/terms-and-conditions-page/terms-and-conditions-page.component.scss
  packages/app/src/app/static-pages/terms-and-conditions-page/terms-and-conditions-page.component.ts
  packages/app/src/app/static-pages/terms-of-service-page/terms-of-service-page.component.html
  packages/app/src/app/static-pages/terms-of-service-page/terms-of-service-page.component.scss
  packages/app/src/app/static-pages/terms-of-service-page/terms-of-service-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  f9/3054a6c7082df23fb6ccf593c2fcd0c009cb4f
Due: none

fix(app): hero to be vertically centered in consideration with the header
  packages/app/src/styles/_hero.scss
Due: prettier --write

Notes added by 'git notes add'
  e2/c23432e63508d2cac8d694d97a892a1d969b87
Due: none

chore: set repository url to vocably-pro/vocably.git
  package.json
  packages/api/package.json
  packages/crud/package.json
  packages/e2e/package.json
  packages/extension-content-script/package.json
  packages/extension-messages/package.json
  packages/extension-service-worker/package.json
  packages/extension/package.json
  packages/hermes/package.json
  packages/model/package.json
  packages/pontis/package.json
  packages/srs/package.json
  packages/styles/package.json
  packages/sulna/package.json
  packages/webpack/package.json
Due: prettier --write

chore: set up paddle environment variables
  platform/dev.tfvars
  platform/prod.tfvars
  platform/stage.tfvars
  platform/variables.tf
Due: terraform-fmt

chore: setup proper piwik id on prod
  platform/dev.tfvars
  platform/prod.tfvars
  platform/stage.tfvars
  platform/variables.tf
Due: terraform-fmt

chore: set up sentry environments
  packages/app/src/environments/environmentLocal.example.ts
  packages/app/src/main.ts
  platform/dev.tfvars
  platform/environments.tf
  platform/prod.tfvars
  platform/stage.tfvars
  platform/variables.tf
Due: prettier --write, terraform-fmt

chore(tf): goup terraform environment files under env- prefix
  platform/env-dev.remote
  platform/env-dev.tfvars
  platform/env-prod.remote
  platform/env-prod.tfvars
  platform/env-stage.remote
  platform/env-stage.tfvars
  scripts/run-terraform.sh
Due: none

feat(app): 404 page
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/pages/not-found-page/not-found-page.component.html
  packages/app/src/app/pages/not-found-page/not-found-page.component.scss
  packages/app/src/app/pages/not-found-page/not-found-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  c7/76bb507de61049add8d90c8b6f94b5396549d7
Due: none

refactor(app): center logo when no other header elements exist
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.scss
  packages/app/src/app/header/header.component.ts
  packages/e2e/snapshots/All Integration Specs/deck selector clicked.snap.png
  packages/e2e/snapshots/All Integration Specs/delete card - restore button.snap.png
  packages/e2e/snapshots/All Integration Specs/edit card - cancelled item.snap.png
  packages/e2e/snapshots/All Integration Specs/edit card - form.snap.png
  packages/e2e/snapshots/All Integration Specs/edit dutch.snap.png
  packages/e2e/snapshots/All Integration Specs/empty subscribed dashboard.snap.png
  packages/e2e/snapshots/All Integration Specs/empty unsubscribed dashboard.snap.png
  packages/e2e/snapshots/All Integration Specs/login screen (1).snap.png
  packages/e2e/snapshots/All Integration Specs/manage subscription.snap.png
  packages/e2e/snapshots/All Integration Specs/multiple decks screen - dutch.snap.png
  packages/e2e/snapshots/All Integration Specs/multiple decks screen - french.snap.png
  packages/e2e/snapshots/All Integration Specs/permanently deleted card item.snap.png
  packages/e2e/snapshots/All Integration Specs/select subscription error prompt.snap.png
  packages/e2e/snapshots/All Integration Specs/single deck screen (1).snap.png
  packages/e2e/snapshots/All Integration Specs/successful trial payment.snap.png
  packages/e2e/snapshots/All Integration Specs/trial subscription cancel success.snap.png
  packages/e2e/snapshots/All Integration Specs/trial subscription initial select plan.snap.png
  packages/e2e/snapshots/All Integration Specs/trial subscription selected.snap.png
  packages/e2e/snapshots/All Integration Specs/updated card item.snap.png
Due: prettier --write

refactor: skip normalization stage for english
  packages/backend/src/lambdas/analyze/buildResult.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/translateNormalizedHeadwords.ts
  packages/backend/src/translateText.spec.ts
  packages/backend/src/translateText.ts
  packages/extension-service-worker/src/createCards.ts
Due: prettier --write

feat(extension): hide direct translation when source language and target language are the same
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
Due: prettier --write

fix(extension): base font not to be overridden by the website
  packages/extension-content-ui/src/styles/_mixins.scss
Due: prettier --write

Notes added by 'git notes add'
  c7/fc086145c4585157af214fdf34ed89a310066c
Due: none

Notes added by 'git notes add'
  f1/5b69e79c738e29a4fa541c2ca5f41338e7f9e4
Due: none

feat: less standing out logo
  assets/_icon.scss
  assets/dev-favicon.ico
  assets/favicon.ico
  assets/icon.png
  assets/icon.svg
  packages/app/src/app/header/logo/logo.component.scss
  packages/app/src/assets/apple-icon-180.png
  packages/app/src/assets/favicon-196.png
  packages/app/src/assets/manifest-icon-192.maskable.png
  packages/app/src/assets/manifest-icon-512.maskable.png
  packages/app/src/styles/_variables.scss
  packages/extension-content-script/public/favicon.ico
  packages/extension-content-ui/src/components/vocably-logo/vocably-logo.scss
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
  packages/extension-popup/src/favicon.ico
  packages/extension/assets/images/icon-128x128.png
  packages/extension/assets/images/icon-16x16.png
  packages/extension/assets/images/icon-32x32.png
  packages/extension/assets/images/icon-48x48.png
  packages/www/favicon.ico
Due: prettier --write

Notes added by 'git notes add'
  94/3d1a9deaf62aef482855353ed4812dc2ccc267
Due: none

fix(extension): button icon on developer.mozilla.org
  assets/_icon.scss
  assets/_icon.scss.tpl
  assets/icon.png
  packages/extension-content-ui/src/components/vocably-button/vocably-button.scss
  packages/extension-content-ui/src/components/vocably-button/vocably-button.tsx
  scripts/update-icon.mjs
Due: prettier --write

Notes added by 'git notes add'
  13/b0f13a36dc970c2642f8a8042b40ccf9d07ddf
Due: none
