Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

ci: run bump new version script on push to main
  .circleci/config.yml
  platform/environments.tf
Due: prettier --write, terraform-fmt

ci: ignore commit pushes in deploy flow
  .circleci/config.yml
Due: prettier --write

ci: bump new version with semantic-release
  .circleci/config.yml
  .releaserc.js
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  39ec3cfb38f913649a1a97a6b4443f8939696ede
Due: none

chore: create artifacts bucket
  packages/artifacts/index.html
  platform/artifacts.tf
  platform/locals.tf
  platform/www.tf
Due: prettier --write, terraform-fmt

chore: specify extension verions through the environment variable
  packages/extension/.env
  packages/extension/package.json
  packages/extension/src/manifest.json
  packages/extension/webpack.config.js
  packages/webpack/src/index.ts
  packages/webpack/src/replaceDefinitions.ts
Due: prettier --write

chore: build extension and upload to artifacts storage
  packages/extension/webpack.config.js
  platform/artifacts.tf
  scripts/build-extension.js
Due: prettier --write, terraform-fmt

ci: install zip and aws-cli dependencies
  scripts/install-build-depdendencies.sh
Due: none

ci: build extension and upload to artifacts
  .circleci/config.yml
Due: prettier --write

chore: rewriate build-extension script with bash
  .circleci/config.yml
  scripts/build-extension.js
  scripts/build-extension.sh
Due: prettier --write

chore: properly install aws cli
  scripts/install-build-depdendencies.sh
Due: none

chore: move stage and dev environments to appropriate accounts
  platform-root/domains.tf
  platform-root/tf-state.tf
  platform/artifacts.tf
  platform/card-storage.tf
  platform/local.auto.tfvars.example
  platform/main.tf
  platform/prod.remote
  platform/stage.remote
  platform/www.tf
Due: terraform-fmt

chore(extension): update default env variables
  packages/extension/.env
Due: none

feat(app): login button in the middle of the screen
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.scss
  packages/app/src/app/auth/pages/login-page/login-page.component.html
  packages/app/src/styles.scss
  packages/app/src/styles/_reset.scss
Due: prettier --write

chore(release): 1.1.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ef4a89ca44d3c8f7de22b3b0ec93663139634f42
Due: none

chore: remove unnecessary tests
  packages/app/src/app/auth/cognito-auth-guard.guard.spec.ts
  packages/app/src/app/auth/pages/login-page/login-page.component.spec.ts
  packages/app/src/app/pages/home-page/home-page.component.spec.ts
Due: prettier --write

feat(app): no cards message with the optional install cta
  packages/app/package.json
  packages/app/src/app/pages/home-page/home-page.component.html
  packages/app/src/app/pages/home-page/home-page.module.ts
  packages/app/src/app/pages/home-page/no-cards/no-cards.component.html
  packages/app/src/app/pages/home-page/no-cards/no-cards.component.scss
  packages/app/src/app/pages/home-page/no-cards/no-cards.component.ts
  packages/extension/src/manifest.json
  yarn.lock
Due: prettier --write

chore(release): 1.2.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5fd3c7a82188f8c03f59e843cdd59d164c5a90bf
Due: none

feat(app): show available decks
  package.json
  packages/api/src/cards.ts
  packages/api/src/decks.ts
  packages/api/src/index.ts
  packages/api/src/isValidCredentials.ts
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/pages/home-page/cards/cards.component.html
  packages/app/src/app/pages/home-page/cards/cards.component.scss
  packages/app/src/app/pages/home-page/cards/cards.component.ts
  packages/app/src/app/pages/home-page/home-page.component.html
  packages/app/src/app/pages/home-page/home-page.component.ts
  packages/app/src/app/pages/home-page/home-page.module.ts
  packages/app/src/app/pages/home-page/languages/languages.component.html
  packages/app/src/app/pages/home-page/languages/languages.component.scss
  packages/app/src/app/pages/home-page/languages/languages.component.ts
  packages/model/src/errors.ts
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  7d172b427b7d3342dc2a4a33e0d6a94e672d4225
Due: none

refactor(backend): use rest api gateway instead of http
  packages/model/api.yml
  packages/model/package.json
  packages/model/src/api-types.ts
  platform/api.tf
  platform/environments.tf
  yarn.lock
Due: prettier --write, terraform-fmt

chore(release): 1.3.0 [skip ci]
  package.json
Due: prettier --write

chore: crud methods for language decks
  platform/api-cards.tf
  platform/api-translate.tf
  platform/api.tf
  platform/card-storage.tf
Due: terraform-fmt

refactor: use api gateway as an s3 proxy
  packages/api/src/cards.ts
  packages/api/src/decks.ts
  packages/api/src/index.ts
  packages/api/src/languageDecks.ts
  packages/api/src/restClient.ts
  packages/app/src/app/pages/home-page/home-page.component.ts
  packages/app/src/app/pages/home-page/languages/languages.component.ts
  packages/backend/src/lambdas/translate/buildResult.ts
  packages/backend/src/lexicala.ts
  packages/extension-service-worker/src/index.ts
  packages/extension/.env
  packages/extension/src/serviceWorker.ts
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/language-deck.ts
  packages/model/src/language.ts
  packages/model/src/translate.ts
  packages/model/src/translation-cards.ts
  platform/acl.tf
  platform/api-cards.tf
  platform/api.tf
  platform/environments.tf
Due: prettier --write, terraform-fmt

chore: fix language deck cards type
  packages/model/src/language-deck.ts
Due: prettier --write

Notes added by 'git notes add'
  267ac21895f38b327410c507c076e973907f57bb
Due: none

feat: favicon
  assets/_icon.scss
  assets/dev-favicon.ico
  assets/favicon.ico
  assets/icon.svg
  packages/app/src/favicon.ico
  packages/extension-content-script/public/favicon.ico
  packages/extension/assets/images/icon-128x128.png
  packages/extension/assets/images/icon-16x16.png
  packages/extension/assets/images/icon-32x32.png
  packages/extension/assets/images/icon-48x48.png
  packages/www/favicon.ico
Due: prettier --write

feat: login page
  packages/app/angular.json
  packages/app/package.json
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.scss
  packages/app/src/app/app.component.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/pages/login-page/login-page.component.html
  packages/app/src/app/auth/pages/login-page/login-page.component.ts
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.component.scss
  packages/app/src/app/header/header.component.ts
  packages/app/src/app/header/header.module.ts
  packages/app/src/app/header/logo/logo.component.html
  packages/app/src/app/header/logo/logo.component.scss
  packages/app/src/app/header/logo/logo.component.ts
  packages/app/src/app/header/logo/logo.svg
  packages/app/src/app/pages/home-page/cards/cards.component.html
  packages/app/src/app/pages/home-page/cards/cards.component.scss
  packages/app/src/app/pages/home-page/cards/cards.component.ts
  packages/app/src/app/pages/home-page/home-page.component.html
  packages/app/src/app/pages/home-page/home-page.component.scss
  packages/app/src/app/pages/home-page/home-page.component.ts
  packages/app/src/app/pages/home-page/languages/languages.component.html
  packages/app/src/app/pages/home-page/languages/languages.component.scss
  packages/app/src/app/pages/home-page/languages/languages.component.ts
  packages/app/src/app/pages/home-page/no-cards/no-cards.component.html
  packages/app/src/app/pages/home-page/no-cards/no-cards.component.scss
  packages/app/src/app/pages/home-page/no-cards/no-cards.component.ts
  packages/app/src/index.html
  packages/app/src/styles.scss
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/_hero.scss
  packages/app/src/styles/_layout.scss
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/_themes.scss
  packages/app/src/styles/_utils.scss
  packages/app/src/styles/_variables.scss
  yarn.lock
Due: prettier --write

feat: automatically redirect to the deck dashboard
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/decks-resolver.service.ts
  packages/app/src/app/decks/decks-routing.module.ts
  packages/app/src/app/decks/decks.component.html
  packages/app/src/app/decks/decks.component.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.scss
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  f76132e5923e0f9fe65fef4d9576cf4c949b1ad5
Due: none

chore(release): 1.4.0 [skip ci]
  package.json
Due: prettier --write

fix(api): successfully return loaded deck
  packages/api/src/languageDecks.ts
Due: prettier --write

chore(release): 1.4.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1bc07dc7532f99945975cbeca1309c67d55cd3df
Due: none

chore: decks route structure
  packages/app/angular.json
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.component.html
  packages/app/src/app/decks-resolver.service.ts
  packages/app/src/app/decks/deck-list-store.service.ts
  packages/app/src/app/decks/deck-store.service.ts
  packages/app/src/app/decks/decks-routing.module.ts
  packages/app/src/app/decks/decks.component.html
  packages/app/src/app/decks/decks.component.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.scss
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
  packages/app/src/app/decks/selected-deck/selected-deck.component.scss
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
Due: prettier --write

chore: deck selector
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/app/src/app/decks/deck-selector/deck-selector.component.scss
  packages/app/src/app/decks/deck-selector/deck-selector.component.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/app/src/app/language/language.module.ts
  packages/app/src/app/language/language.pipe.ts
  packages/app/src/app/language/languages.ts
Due: prettier --write

chore: hide selector for a single deck
  package.json
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  scripts/delete-deck.mjs
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml}
  terraform-fmt: any of: *.tf
