Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

chore: move root tf scripts to root folder
  packages/platform/root/ci.tf
  packages/platform/root/main.tf
Due: terraform-fmt

chore: create dev hosted zone
  packages/platform/root/dev.tf
Due: terraform-fmt

feat: cognito custom auth domain
  .gitignore
  packages/platform/main.tf
  packages/platform/root/auth.tf
  packages/platform/root/dev.tf
  packages/platform/root/local.auto.tfvars.example
  packages/platform/root/variables.tf
  packages/platform/root/www.tf
  packages/www/index.html
Due: prettier --write, terraform-fmt

feat: create aws cognito user pool client
  packages/platform/auth.tf
Due: terraform-fmt

chore: create web app package
  packages/app/.browserslistrc
  packages/app/.editorconfig
  packages/app/.gitignore
  packages/app/README.md
  packages/app/angular.json
  packages/app/karma.conf.js
  packages/app/package.json
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.scss
  packages/app/src/app/app.component.spec.ts
  packages/app/src/app/app.component.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/pages/callback/callback.component.html
  packages/app/src/app/auth/pages/callback/callback.component.scss
  packages/app/src/app/auth/pages/callback/callback.component.spec.ts
  packages/app/src/app/auth/pages/callback/callback.component.ts
  packages/app/src/assets/.gitkeep
  packages/app/src/environments/environment.prod.ts
  packages/app/src/environments/environment.ts
  packages/app/src/favicon.ico
  packages/app/src/index.html
  packages/app/src/main.ts
  packages/app/src/polyfills.ts
  packages/app/src/styles.scss
  packages/app/src/test.ts
  packages/app/tsconfig.app.json
  packages/app/tsconfig.json
  packages/app/tsconfig.spec.json
  packages/extension/assets/images/icon-128x128.png
  packages/extension/assets/images/icon-16x16.png
  packages/extension/assets/images/icon-32x32.png
  packages/extension/assets/images/icon-48x48.png
  scripts/update-icon.js
  yarn.lock
Due: prettier --write

chore: introduce dev urls
  packages/platform/auth.tf
  packages/platform/local.auto.tfvars.example
  packages/platform/locals.tf
  packages/platform/variables.tf
Due: terraform-fmt

feat: login with cognito
  packages/app/package.json
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/auth/pages/callback/callback.component.html
  packages/app/src/app/auth/pages/callback/callback.component.ts
  packages/app/src/app/pages/home-page/home-page.component.html
  packages/app/src/app/pages/home-page/home-page.component.scss
  packages/app/src/app/pages/home-page/home-page.component.spec.ts
  packages/app/src/app/pages/home-page/home-page.component.ts
  packages/app/src/app/pages/home-page/home-page.module.ts
  packages/app/src/environments/environment.ts
  packages/app/src/main.ts
  packages/app/src/polyfills.ts
  packages/platform/auth.tf
  yarn.lock
Due: prettier --write, terraform-fmt

feat: hide login button for logged in users
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/pages/home-page/home-page.component.html
  packages/app/src/app/pages/home-page/home-page.component.ts
  packages/app/src/main.ts
Due: prettier --write

feat: send session to extension on successful login
  packages/app/package.json
  packages/app/src/app/pages/home-page/home-page.component.html
  packages/app/src/environments/environment.ts
  packages/app/src/extension/sendSession.ts
  packages/app/src/main.ts
  packages/app/tsconfig.app.json
  packages/extension/assets/manifest.json
  yarn.lock
Due: prettier --write

chore: add background script
  packages/extension-content-script/package.json
  packages/extension-content-ui/tsconfig.json
  packages/extension/assets/manifest.json
  packages/extension/package.json
  packages/extension/src/background.ts
  packages/extension/webpack.config.js
Due: prettier --write

feat(auth): save auth data into extension
  packages/app/package.json
  packages/app/src/app/pages/home-page/home-page.component.html
  packages/app/src/extension/send-message.ts
  packages/app/src/extension/sendSession.ts
  packages/app/src/extension/storage.ts
  packages/app/src/main.ts
  packages/extension/src/background.ts
  yarn.lock
Due: prettier --write

fix: handle storage exceptions
  packages/app/src/extension/storage.ts
Due: prettier --write

feat(extension): get current session with amplify
  packages/extension/.env
  packages/extension/package.json
  packages/extension/src/background.ts
  packages/extension/src/background/authStorage.ts
  packages/extension/webpack.config.js
  yarn.lock
Due: prettier --write

feat(app): automatically redirect to login ui
  packages/app/package.json
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/auth/cognito-auth-guard.guard.spec.ts
  packages/app/src/app/auth/cognito-auth.guard.ts
  packages/app/src/app/pages/home-page/home-page.component.html
  packages/app/src/app/pages/home-page/home-page.component.ts
  packages/app/src/styles.scss
  yarn.lock
Due: prettier --write

fix(app): logout functionality
  packages/app/src/environments/environment.ts
  packages/platform/auth.tf
Due: prettier --write, terraform-fmt

refactor(aws-cognito-chrome-extension): move aws-cognito-chrome-extension into an independent bundle
  packages/app/angular.json
  packages/app/package.json
  packages/app/src/main.ts
  packages/aws-cognito-chrome-extension/.gitignore
  packages/aws-cognito-chrome-extension/package.json
  packages/aws-cognito-chrome-extension/src/app-auth-storage.ts
  packages/aws-cognito-chrome-extension/src/extension-auth-storage.ts
  packages/aws-cognito-chrome-extension/src/extension-storage-operations.ts
  packages/aws-cognito-chrome-extension/src/index.ts
  packages/aws-cognito-chrome-extension/src/message.ts
  packages/aws-cognito-chrome-extension/src/register-extension-storage.ts
  packages/aws-cognito-chrome-extension/src/types.ts
  packages/aws-cognito-chrome-extension/tsconfig.json
  packages/extension/package.json
  packages/extension/src/background.ts
  packages/extension/src/background/authStorage.ts
  packages/extension/webpack.config.js
  yarn.lock
Due: prettier --write

feat(app): login with google right away
  packages/app/src/app/auth/auth.service.ts
Due: prettier --write

feat(app): login page
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.ts
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/auth/cognito-auth.guard.ts
  packages/app/src/app/auth/pages/login-page/login-page.component.html
  packages/app/src/app/auth/pages/login-page/login-page.component.scss
  packages/app/src/app/auth/pages/login-page/login-page.component.spec.ts
  packages/app/src/app/auth/pages/login-page/login-page.component.ts
Due: prettier --write

fix(content-script): display button only when position is applied
  packages/extension-content-script/src/button.ts
Due: prettier --write

fix(aws-cognito-chrome-extension): getAll message to return extension storage data
  packages/aws-cognito-chrome-extension/src/register-extension-storage.ts
Due: prettier --write

chore(hermes): add message creation library
  packages/extension/src/background.ts
  packages/hermes/.gitignore
  packages/hermes/package.json
  packages/hermes/src/index.ts
  packages/hermes/tsconfig.json
Due: prettier --write

feat: hide extension button for non-logged-in users
  packages/extension-content-script/package.json
  packages/extension-content-script/src/index.ts
  packages/extension-content-script/webpack.config.js
  packages/extension-messages/.gitignore
  packages/extension-messages/package.json
  packages/extension-messages/src/index.ts
  packages/extension-messages/tsconfig.json
  packages/extension/package.json
  packages/extension/src/background.ts
  packages/extension/src/contentScript.ts
Due: prettier --write

chore: build extension-content-script with tsc and start with webpack dev server
  packages/extension-content-script/package.json
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/webpack.config.js
Due: prettier --write

chore: add and use WatchTimerPlugin
  packages/extension-content-script/package.json
  packages/extension-content-script/src/index.ts
  packages/extension-content-script/webpack.config.js
  packages/extension/webpack.config.js
  packages/webpack/.gitignore
  packages/webpack/package.json
  packages/webpack/src/index.ts
  packages/webpack/src/watchTimerPlugin.ts
  packages/webpack/tsconfig.json
Due: prettier --write

feat: add api
  .gitignore
  packages/backend/.env
  packages/backend/.env.test
  packages/backend/.gitignore
  packages/backend/api.yml
  packages/backend/dist/translate.js
  packages/backend/jest.config.js
  packages/backend/jest/mockConsole.ts
  packages/backend/package.json
  packages/backend/src/lambdas/translate/index.manual.ts
  packages/backend/src/lambdas/translate/index.ts
  packages/backend/src/utils/buildErrorResponse.ts
  packages/backend/src/utils/buildResponse.ts
  packages/backend/src/utils/inspect.ts
  packages/backend/src/utils/isApiGatewayProxyResult.ts
  packages/backend/tsconfig.json
  packages/backend/webpack.config.js
  packages/backend/webpack/getModules.js
  packages/extension-content-script/package.json
  packages/extension/package.json
  packages/platform/.gitignore
  packages/platform/api.tf
  yarn.lock
Due: prettier --write, terraform-fmt

feat: use custom domain for API requests
  packages/backend/.gitignore
  packages/backend/dist/translate.js
  packages/platform/api.tf
  packages/platform/domains.tf
  packages/platform/locals.tf
Due: prettier --write, terraform-fmt

feat: protect translate api with authorizer
  packages/backend/api.yml
  packages/platform/api.tf
Due: prettier --write, terraform-fmt

chore: output auth pool and client ids
  packages/app/src/environments/environment.ts
  packages/extension/.env
  packages/platform/auth.tf
Due: prettier --write, terraform-fmt

chore: allow postman login
  packages/backend/src/lambdas/translate/index.ts
  packages/platform/auth.tf
Due: prettier --write, terraform-fmt

feat: api package
  packages/api/.gitignore
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/restClient.ts
  packages/api/src/translate.ts
  packages/api/tsconfig.json
  packages/app/package.json
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/environments/environment.ts
  packages/app/src/main.ts
  packages/extension/package.json
  packages/extension/src/background.ts
  yarn.lock
Due: prettier --write

fix: global certificates
  packages/platform/root/auth.tf
  packages/platform/root/dev.tf
Due: terraform-fmt

chore(api): standartize api.yml
  packages/backend/api.yml
Due: prettier --write

chore: use aws_apigatewayv2_api for the rest api
  packages/backend/api.yml
  packages/platform/api.tf
  packages/platform/domains.tf
Due: prettier --write, terraform-fmt

chore: automatically generate app config on build
  packages/app/src/environments/.gitignore
  packages/app/src/environments/environment.prod.ts
  packages/app/src/environments/environment.ts
  packages/app/src/environments/environmentLocal.example.ts
  packages/app/src/main.ts
  packages/platform/environments.tf
  packages/platform/locals.tf
  packages/platform/variables.tf
Due: prettier --write, terraform-fmt

chore: configure cors
  packages/app/src/extension/send-message.ts
  packages/platform/api.tf
Due: prettier --write, terraform-fmt

refactor(api): use fetch instead of axios
  packages/api/package.json
  packages/api/src/restClient.ts
  packages/api/src/translate.ts
  packages/app/src/environments/environmentLocal.example.ts
  packages/app/src/main.ts
  yarn.lock
Due: prettier --write

chore: automatically create google user and provide credentials to backend
  .idea/vocably.iml
  package.json
  packages/backend/.env
  packages/backend/package.json
  packages/backend/src/lambdas/translate/index.manual.ts
  packages/platform/api.tf
  packages/platform/main.tf
  packages/platform/translate-api.tf
  packages/platform/variables.tf
  yarn.lock
Due: prettier --write, terraform-fmt

chore(google-cloud): use generated google-key.json
  packages/backend/.env
  packages/backend/.gitignore
  packages/backend/package.json
  packages/backend/src/lambdas/translate/index.manual.ts
  packages/platform/api.tf
  yarn.lock
Due: prettier --write, terraform-fmt

chore: generate api types
  .prettierignore
  packages/api-types/.gitignore
  packages/api-types/api.yml
  packages/api-types/package.json
  packages/api-types/src/index.ts
  packages/api-types/src/types.ts
  packages/api-types/tsconfig.json
  packages/backend/package.json
  packages/platform/api.tf
  yarn.lock
Due: prettier --write, terraform-fmt

feat(backend): translate text using google translate API
  packages/backend/.env
  packages/backend/src/lambdas/translate/index.manual.ts
  packages/backend/src/lambdas/translate/index.ts
  packages/backend/src/lambdas/translate/translateText.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml}
  terraform-fmt: any of: *.tf
