Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

ci: automatically redeploy www folder
  packages/platform/root/locals.tf
  packages/platform/root/www.tf
Due: terraform-fmt

feat(www): remove easiest claim from the description
  packages/www/index.html
Due: prettier --write

refactor: rename aws-cognito-chrome-extension to @vocably/pontis
  .gitignore
  .idea/vocably.iml
  package.json
  packages/app/package.json
  packages/app/src/main.ts
  packages/extension/package.json
  packages/extension/src/serviceWorker.ts
  packages/pontis/.gitignore
  packages/pontis/package.json
  packages/pontis/src/app-auth-storage.ts
  packages/pontis/src/extension-auth-storage.ts
  packages/pontis/src/extension-storage-operations.ts
  packages/pontis/src/index.ts
  packages/pontis/src/message.ts
  packages/pontis/src/register-extension-storage.ts
  packages/pontis/src/types.ts
  packages/pontis/tsconfig.json
Due: prettier --write

chore: set @vocably/extension-content-script to v0.0.0
  packages/extension-content-script/package.json
  packages/extension/package.json
Due: prettier --write

chore: add missing dependencies to extension-service-worker
  packages/extension-service-worker/package.json
Due: prettier --write

chore: add missing @vocably dependencies to packages
  packages/api/package.json
  packages/backend/package.json
  packages/crud/package.json
  packages/extension-content-script/package.json
  packages/extension-service-worker/package.json
  packages/extension/package.json
Due: prettier --write

refactor: move platform to the root folder
  .idea/vocably.iml
  packages/platform/locals.tf
  platform/.gitignore
  platform/acl.tf
  platform/api.tf
  platform/auth.tf
  platform/card-storage.tf
  platform/domains.tf
  platform/environments.tf
  platform/local.auto.tfvars.example
  platform/locals.tf
  platform/main.tf
  platform/root/.gitignore
  platform/root/auth.tf
  platform/root/ci.tf
  platform/root/dev.tf
  platform/root/environments.tf
  platform/root/local.auto.tfvars.example
  platform/root/locals.tf
  platform/root/main.tf
  platform/root/variables.tf
  platform/root/www-backend.tf
  platform/root/www.tf
  platform/translate-api.tf
  platform/variables.tf
Due: terraform-fmt

feat: set up ssl for www
  platform/locals.tf
  platform/root/locals.tf
  platform/root/www.tf
  platform/variables.tf
  platform/www.tf
Due: terraform-fmt

chore: put root www bucket name into local
  platform/locals.tf
  platform/variables.tf
  platform/www.tf
Due: terraform-fmt

chore: keep dev urls as local
  platform/auth.tf
  platform/locals.tf
  platform/variables.tf
Due: terraform-fmt

chore: manage www-api with an app terraform
  packages/www/index.js
  platform/.gitignore
  platform/api.tf
  platform/environments.tf
  platform/locals.tf
  platform/root/.gitignore
  platform/root/environments.tf
  platform/root/locals.tf
  platform/www-api.tf
Due: prettier --write, terraform-fmt

chore: remove reduntant variable
  platform/root/locals.tf
Due: terraform-fmt

chore: prefix vocably to all the platform resources
  platform/api.tf
  platform/www-api.tf
Due: terraform-fmt

ci: create www module
  platform/locals.tf
  platform/modules/www/main.tf
  platform/modules/www/variables.tf
  platform/root/auth.tf
  platform/root/www.tf
  platform/variables.tf
  platform/www.tf
Due: terraform-fmt

ci: support dev environments
  platform/domains.tf
  platform/locals.tf
  platform/modules/dev/main.tf
  platform/modules/dev/variables.tf
  platform/root/dev.tf
  platform/translate-api.tf
  platform/variables.tf
  platform/www.tf
Due: terraform-fmt

ci: deploy infra on push
  .github/workflows/actions.yaml
Due: none

debug
  .github/workflows/actions.yaml
Due: none

ci: use terraform cloud for the platform root
  .idea/vocably.iml
  platform-root/.gitignore
  platform-root/domains.tf
  platform-root/main.tf
  platform-root/tf-state.tf
  platform-root/tf-state/main.tf
  platform-root/tf-state/variables.tf
  platform-root/variables.tf
  platform/acl.tf
  platform/api.tf
  platform/auth.tf
  platform/domains.tf
  platform/environments.tf
  platform/local.auto.tfvars.example
  platform/locals.tf
  platform/main.tf
  platform/modules/dev/main.tf
  platform/modules/dev/variables.tf
  platform/modules/www/main.tf
  platform/modules/www/variables.tf
  platform/root/auth.tf
  platform/root/dev.tf
  platform/root/local.auto.tfvars.example
  platform/root/locals.tf
  platform/root/main.tf
  platform/root/variables.tf
  platform/root/www.tf
  platform/translate-api.tf
  platform/variables.tf
  platform/www-api.tf
  platform/www.tf
Due: terraform-fmt

chore: remove redundant comments
  platform/variables.tf
Due: terraform-fmt

debug
  .circleci/config.yml
  .github/workflows/actions.yaml
  platform-root/domains.tf
  platform/stage.remote
  platform/stage.tfvars
  platform/www.tf
Due: prettier --write, terraform-fmt

debug
  .circleci/config.yml
Due: prettier --write

debug
  .circleci/config.yml
  scripts/variables.sh
Due: prettier --write

debug
  .circleci/config.yml
  scripts/declare-variables.sh
  scripts/variables.sh
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml}
  terraform-fmt: any of: *.tf
