Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

fix(extension): properly track selected language
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
Due: prettier --write

Notes added by 'git notes add'
  61/d18af02460aa82704af88e82c79c64054257c3
Due: none

feat(www): instantenious language flashcards
  packages/www/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  7c/4db02a02c9fd1b4085d35a50e54d6766407de0
Due: none

feat(app): beautiful margins on payment pages
  packages/app/src/app/subscription/pages/auto-subscribe-page/auto-subscribe-page.component.html
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.html
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.html
  packages/app/src/app/subscription/subscription-form/subscription-form.component.html
  packages/app/src/app/subscription/subscription-product/subscription-product.component.html
Due: prettier --write

feat(app): beautiful onboarding and sign in screens
  packages/app/src/app/auth/pages/sign-in-page/sign-in-page.component.html
  packages/app/src/app/auth/sign-in/sign-in.component.html
  packages/app/src/app/auth/sign-in/sign-in.component.scss
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/static-pages/welcome/welcome.component.html
  packages/styles/_utils.scss
Due: prettier --write

fix(app): history replace on automatic sign in
  packages/app/src/app/auth/cognito-auth.guard.ts
Due: prettier --write

Notes added by 'git notes add'
  72/4f22361611a65dead920b7286f385a3444c625
Due: none

feat(extension): extension official key
  platform/env-prod.tfvars
  platform/environments.tf
Due: terraform-fmt

Notes added by 'git notes add'
  86/19642748ec5cb36bf68516ea61962faad475f0
Due: none

chore: angular 14
  package-lock.json
  package.json
  packages/app/package.json
  packages/extension-angular-components/package.json
  packages/extension-angular-components/projects/library/package.json
  packages/extension-content-ui/src/components.d.ts
  packages/extension-popup/package.json
  packages/extension-popup/src/app/app.module.ts
  scripts/build-packages.mjs
Due: prettier --write

feat(app): page titles
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/decks/decks-routing.module.ts
  packages/app/src/app/static-pages/static-pages-routing.module.ts
  packages/app/src/app/subscription/subscription-routing.module.ts
Due: prettier --write

Notes added by 'git notes add'
  bf/1661166234b36a2f47561a11fe204abc6d51ea
Due: none

feat(app): material icons
  packages/app/angular.json
  packages/app/src/app/app.module.ts
  packages/app/src/app/components/back-button/back-button.component.html
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.html
  packages/app/src/app/decks/pages/edit-page/edit-card/edit-card.component.scss
  packages/app/src/app/header/header.component.html
  packages/app/src/app/header/header.module.ts
  packages/app/src/app/srs/card-options/card-options.component.html
  packages/app/src/app/srs/card-options/card-options.component.scss
  packages/app/src/app/srs/card/card.component.html
  packages/app/src/app/srs/srs.module.ts
  packages/app/src/app/srs/success/success.component.html
  packages/app/src/app/srs/success/success.component.scss
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.html
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.html
  packages/app/src/app/subscription/subscription-form/subscription-form.component.html
  packages/app/src/app/subscription/subscription.module.ts
  packages/app/src/styles/_utils.scss
  packages/styles/_utils.scss
Due: prettier --write

Notes added by 'git notes add'
  6d/0ae633c88ad3f9d3d39f4d34048057e25eeccb
Due: none

fix(app): material loader
  packages/app/src/app/app.module.ts
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/components/loader.service.ts
  packages/app/src/app/components/loader/loader.component.html
  packages/app/src/app/components/loader/loader.component.scss
  packages/app/src/app/components/loader/loader.component.ts
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  33/abb83307e4014b3e7ee842f648f392543433cd
Due: none

fix(app): thin strike through
  packages/app/src/styles/_utils.scss
  packages/styles/_utils.scss
Due: prettier --write

Notes added by 'git notes add'
  ee/def7f475096f28fb98c850c8f7514d3d21a166
Due: none

feat(app): bright practice button
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
Due: prettier --write

fix(app): globe language veritical position
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/app/src/app/decks/deck-selector/deck-selector.component.scss
Due: prettier --write

Notes added by 'git notes add'
  73/6c73cf74a8ffeaf38aa34e10ceca9794448556
Due: none

fix(app): header language vertical positioning
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/app/src/app/decks/deck-selector/deck-selector.component.scss
Due: prettier --write

Notes added by 'git notes add'
  8d/75eca77225d18e894c192de930f75cafb1f338
Due: none

fix: display actual next payment amount
  packages/app/src/app/header/header.component.html
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.html
  packages/backend/src/lambdas/paddle/extractPaddleEvent.ts
  packages/backend/src/lambdas/paddle/handleEvent.ts
  packages/backend/src/lambdas/paddle/handleEvent/handleSubscriptionCreated.ts
  packages/backend/src/lambdas/paddle/handleEvent/handleSubscriptionPaymentSucceeded.ts
  packages/backend/src/lambdas/paddle/handleEvent/handleSubscriptionUpdated.ts
  packages/backend/src/lambdas/paddle/handleEvent/setupPaymentAttributes.ts
  packages/backend/src/lambdas/paddle/handleEvent/setupUserSubscriptionAttributes.ts
  packages/backend/src/lambdas/paddle/types.ts
  packages/model/src/user.ts
  platform/auth-attributes.tf
  platform/auth.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  0d/38472749239a176aa89d2e66cce4da4fa1a624
Due: none

fix(app): wait for 20 seconds for the subscription to be completed
  packages/app/src/app/auth/auth.service.ts
Due: prettier --write

ci: disable staging
  .circleci/config.yml
Due: prettier --write

Notes added by 'git notes add'
  88/3efd779bfd830babcc72963eb4df09e92581fa
Due: none

fix(app): card maximum font size to be dependant on the aspect ratio
  packages/app/src/app/srs/card/card.component.scss
  packages/app/src/app/srs/text-length.directive.ts
Due: prettier --write

fix(app): operation icon size is smaller on wide screens
  packages/app/src/app-height.ts
  packages/app/src/app-size.ts
  packages/app/src/app/srs/card/card.component.scss
  packages/app/src/app/srs/text-length.directive.ts
  packages/app/src/main.ts
  packages/app/src/styles/_themes.scss
Due: prettier --write

Notes added by 'git notes add'
  c2/9e1fcebcd5268b31ff55af7aedf1dc668529e7
Due: none

feat(app): operation icon better size
  packages/app/src/app/srs/card/card.component.scss
Due: prettier --write

Notes added by 'git notes add'
  b7/19fea76317c568484b5705769275bf2620efce
Due: none

refactor(pontis): use hermes for extension messages
  packages/pontis/src/app-auth-storage.ts
  packages/pontis/src/extension-auth-storage.ts
  packages/pontis/src/extension-operations.ts
  packages/pontis/src/message.ts
  packages/pontis/src/register-extension-storage.ts
  packages/pontis/src/types.ts
Due: prettier --write

chore(app): identify users in sentry
  packages/app/src/app/app.component.ts
Due: prettier --write

chore(artifacts): sort artifacts from last to first
  packages/artifacts/index.html
Due: prettier --write

fix(pontis): consider previous versions of extension
  packages/pontis/src/app-auth-storage.ts
  packages/pontis/src/message.ts
  packages/pontis/src/types.ts
Due: prettier --write

Notes added by 'git notes add'
  9b/f353412665f10a97aee9db9752250bb0290aad
Due: none

feat(pontis): pass session data from safari to pwa
  packages/pontis/src/app-auth-storage.ts
  packages/pontis/src/cache-storage-operations.ts
  packages/pontis/src/cache-storage.ts
Due: prettier --write
