Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

Notes added by 'git notes add'
  7e/3c8099eef9b63f84d1444d676f502535e2dcfb
Due: none

feat: complement complex words with Word Dictionary
  packages/backend/src/lambdas/analyze/buildDirectResult.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/translateWordDictionaryItem.ts
  packages/backend/src/lambdas/analyze/wordDictionaryItemDefinitions.test.ts
  packages/backend/src/lambdas/analyze/wordDictionaryItemDefinitions.ts
  packages/backend/src/lambdas/analyze/wordDictionaryResultToItems.ts
  packages/backend/src/word-dictionary.spec.ts
  packages/backend/src/word-dictionary.ts
  packages/model/src/errors.ts
Due: prettier --write

test: skip word dictionary test before key set
  packages/backend/src/word-dictionary.spec.ts
Due: prettier --write

chore: use nlp key for word translation
  packages/backend/src/word-dictionary.ts
Due: prettier --write

Notes added by 'git notes add'
  14/cac2e828344ccac9a7329c42b73ea92d3579c7
Due: none

fix: filter out senseless lexicala items without translations
  packages/backend/src/lambdas/analyze/buildDirectResult.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/lexicalaItemHasDefinitionOrCanBeTranslated.ts
Due: prettier --write

Notes added by 'git notes add'
  8a/9b1dff933dec1e315f887c2d4494c200a8429f
Due: none

feat(analyze): better translate english into non-article languages
  .idea/prettier.xml
  packages/backend/src/lambdas/analyze/extractTranslation/translateItem.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/translatePartOfSpeech.ts
  packages/backend/src/lambdas/analyze/translateWordDictionaryItem.ts
Due: prettier --write

Notes added by 'git notes add'
  be/0c4ee49a293b81f50e890689dc99f1d39386af
Due: none

chore(extension): market-friendly description
  packages/extension/src/manifest.json.txt
  safari-web-extension/Vocably/Vocably.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate
Due: none

fix(analyze): unique lexicala items translations
  package-lock.json
  packages/backend/src/lambdas/analyze/extractTranslation/extractItemTranslation.test.ts
  packages/backend/src/lambdas/analyze/extractTranslation/extractItemTranslation.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  87/2efd4726d6e9d5ca28eae4fbbf7f2fd7993f8c
Due: none

chore: bump mobile version to 1.4
  mobile-app/VERSION
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
  mobile-app/package-lock.json
  mobile-app/package.json
Due: prettier --write

feat(extension): add and delete cards right from the extension
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-icon-add/vocably-icon-add.scss
  packages/extension-content-ui/src/components/vocably-icon-add/vocably-icon-add.tsx
  packages/extension-content-ui/src/components/vocably-icon-remove/vocably-icon-remove.scss
  packages/extension-content-ui/src/components/vocably-icon-remove/vocably-icon-remove.tsx
  packages/extension-content-ui/src/components/vocably-side-b/vocably-side-b.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/createCards.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/translation-cards.ts
Due: prettier --write

feat(extension): analyze and recieve deck symultaneously
  packages/extension-service-worker/src/createTranslationCards.test.ts
  packages/extension-service-worker/src/createTranslationCards.ts
  packages/extension-service-worker/src/index.ts
Due: prettier --write

feat(extension): add and remove translation cards
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-icon-spin/vocably-icon-spin.scss
  packages/extension-content-ui/src/components/vocably-icon-spin/vocably-icon-spin.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-service-worker/src/index.ts
Due: prettier --write

feat(extension): add and remove cards right from translation box (#3)
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-icon-add/vocably-icon-add.scss
  packages/extension-content-ui/src/components/vocably-icon-add/vocably-icon-add.tsx
  packages/extension-content-ui/src/components/vocably-icon-remove/vocably-icon-remove.scss
  packages/extension-content-ui/src/components/vocably-icon-remove/vocably-icon-remove.tsx
  packages/extension-content-ui/src/components/vocably-icon-spin/vocably-icon-spin.scss
  packages/extension-content-ui/src/components/vocably-icon-spin/vocably-icon-spin.tsx
  packages/extension-content-ui/src/components/vocably-side-b/vocably-side-b.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/createTranslationCards.test.ts
  packages/extension-service-worker/src/createTranslationCards.ts
  packages/extension-service-worker/src/index.ts
  packages/model/src/translation-cards.ts
Due: prettier --write

Notes added by 'git notes add'
  1e/0859d227f87b550ef2bd275c2476ba3d95e3ae
Due: none

feat(translation): better translate dutch -> non article language pairs
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/translatePartOfSpeech.ts
Due: prettier --write

fix: use definite article for dutch whenever possible
  packages/backend/src/lambdas/analyze/extractTranslation/translateItem.ts
  packages/backend/src/lambdas/analyze/index.spec.ts
  packages/backend/src/lambdas/analyze/translatePartOfSpeech.ts
Due: prettier --write

Notes added by 'git notes add'
  4c/b6c2241008e2486bed6a0e303a3e61f34d6c55
Due: none

feat(extension): hint users about adding cards
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-add-card-hint/vocably-add-card-hint.scss
  packages/extension-content-ui/src/components/vocably-add-card-hint/vocably-add-card-hint.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/index.ts
Due: prettier --write

Notes added by 'git notes add'
  a8/3ed104790be2cca2b8764153e01ec7d419a914
Due: none

fix(extension): youtube subtitles stay stable on a word click
  packages/extension-content-script/src/youtube.ts
Due: prettier --write

Notes added by 'git notes add'
  0a/c889abe236ae43dd14150618e92a74f064927e
Due: none

chore: align safari extension with the new version
  safari-web-extension/Vocably/Vocably Extension/Resources/content-script.js
  safari-web-extension/Vocably/Vocably Extension/Resources/manifest.json
  safari-web-extension/Vocably/Vocably Extension/Resources/popup/908.js
  safari-web-extension/Vocably/Vocably Extension/Resources/popup/main.js
  safari-web-extension/Vocably/Vocably Extension/Resources/service-worker.js
  safari-web-extension/Vocably/Vocably.xcodeproj/project.pbxproj
  safari-web-extension/Vocably/Vocably.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate
Due: prettier --write

fix(mobile-app): user can save and exit card with long description
  mobile-app/src/EditCardScreen.tsx
  safari-web-extension/Vocably/Vocably.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate
Due: prettier --write

Notes added by 'git notes add'
  d3/7f210e925bbb383a2f4e43661e1b488950d50f
Due: none

fix(mobile-app): hide keyboard on mobile lookup
  mobile-app/src/LookUpScreen.tsx
  safari-web-extension/Vocably/Vocably.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate
Due: prettier --write

Notes added by 'git notes add'
  e2/acff6fe326fb73dff4526bba7417a28c0e3b98
Due: none

chore: bump version
  mobile-app/VERSION
  mobile-app/android/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

chore: backup cards
  mobile-app/android/app/build.gradle
  package-lock.json
  package.json
  packages/backend/.env
  packages/backend/src/lambdas/cards-backupper/backupCards.ts
  packages/backend/src/lambdas/cards-backupper/getBackupFolder.test.ts
  packages/backend/src/lambdas/cards-backupper/getBackupFolder.ts
  packages/backend/src/lambdas/cards-backupper/index.spec.ts
  packages/backend/src/lambdas/cards-backupper/index.ts
  packages/backend/webpack.config.js
  packages/webpack/src/getEnvironmentVariables.ts
  platform/auth_lambdas_build.zip
  platform/cards-backup.tf
  platform/environments.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  a6/64b2f93e3ed61eec5b0c756600c6aa047ef30e
Due: none

feat: better about photo
  packages/www/src/assets/about.jpg
  packages/www/src/assets/about.webp
  packages/www/src/pages/index.handlebars
Due: none

Notes added by 'git notes add'
  a8/e2e5ef27b747abfa572f574a97e2a4ea50055a
Due: none

fix(www): canonical URL
  packages/www/src/partials/layout.handlebars
  packages/www/webpack.config.js
Due: prettier --write

Notes added by 'git notes add'
  3b/d64162a0275b14a5d26dac0f16cddfbfae8650
Due: none

feat(www): robots.txt
  packages/www/src/pages/index.handlebars
  packages/www/src/robots.txt
  packages/www/webpack.config.js
Due: prettier --write
