Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

feat: bold languge title
  .idea/prettier.xml
  .lintstagedrc
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/app/src/styles/_utils.scss
  scripts/delete-deck.mjs
Due: prettier --write

chore(release): 1.5.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9e3efd1807592dff6a209cd994f43a3c7ca06327
Due: none

feat: loading spinners
  packages/app/src/app/decks/decks.component.html
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/_utils.scss
Due: prettier --write

chore(release): 1.6.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b50746ccb6c0cf30a7cc82cafa45b95cdd02d76e
Due: none

feat(app): display dashboard cards
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.scss
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.ts
Due: prettier --write

chore(release): 1.7.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  36566e4b054539d62ac51bf675dd76121912d1fa
Due: none

chore(script): build packags with zx
  .circleci/config.yml
  packages/extension-content-ui/src/components/vocably-translation/readme.md
  scripts/build-packages.mjs
  scripts/build-packages.sh
  scripts/helpers/dirs.mjs
Due: prettier --write

chore(scripts): build extension with zx
  .circleci/config.yml
  extensions/.gitignore
  scripts/build-extension.mjs
  scripts/build-extension.sh
  scripts/delete-deck.mjs
  scripts/helpers/importJson.mjs
Due: prettier --write

chore: update icon
  assets/_icon.scss
  assets/dev-favicon.ico
  assets/favicon.ico
  assets/icon.png
  assets/icon.svg
  packages/app/src/favicon.ico
  packages/extension-content-script/public/favicon.ico
  packages/extension/assets/images/icon-128x128.png
  packages/extension/assets/images/icon-16x16.png
  packages/extension/assets/images/icon-32x32.png
  packages/extension/assets/images/icon-48x48.png
  packages/www/favicon.ico
  scripts/update-icon.js
  scripts/update-icon.mjs
Due: prettier --write

chore(srs): srs model and due date calculation
  packages/extension-service-worker/src/createCards.ts
  packages/model/src/language-deck.ts
  packages/srs/.gitignore
  packages/srs/jest.config.js
  packages/srs/package.json
  packages/srs/src/dueDate.test.ts
  packages/srs/src/dueDate.ts
  packages/srs/src/index.ts
  packages/srs/src/item.ts
  packages/srs/tsconfig.json
  scripts/build-packages.mjs
Due: prettier --write

chore: provide packages as esm and commonjs
  packages/api/package.json
  packages/api/tsconfig.commonjs.json
  packages/api/tsconfig.json
  packages/crud/package.json
  packages/crud/tsconfig.commonjs.json
  packages/crud/tsconfig.json
  packages/extension-messages/package.json
  packages/extension-messages/tsconfig.commonjs.json
  packages/extension-messages/tsconfig.json
  packages/extension-service-worker/package.json
  packages/extension-service-worker/tsconfig.commonjs.json
  packages/extension-service-worker/tsconfig.json
  packages/hermes/package.json
  packages/hermes/tsconfig.commonjs.json
  packages/hermes/tsconfig.json
  packages/model/package.json
  packages/model/src/language.ts
  packages/model/tsconfig.commonjs.json
  packages/model/tsconfig.json
  packages/pontis/package.json
  packages/pontis/tsconfig.commonjs.json
  packages/pontis/tsconfig.json
  packages/srs/package.json
  packages/srs/tsconfig.commonjs.json
  packages/srs/tsconfig.json
  packages/webpack/package.json
  packages/webpack/tsconfig.commonjs.json
  packages/webpack/tsconfig.json
Due: prettier --write

chore(extension-service-worker): fix unit tests
  packages/extension-service-worker/src/createCards.test.ts
Due: prettier --write

chore(src): slice cards list
  packages/srs/src/byDueDate.ts
  packages/srs/src/dueDate.test.ts
  packages/srs/src/grade.ts
  packages/srs/src/index.ts
  packages/srs/src/slice.test.ts
  packages/srs/src/slice.ts
Due: prettier --write

chore(srs): work with UTC dates
  packages/srs/src/dueDate.test.ts
  packages/srs/src/dueDate.ts
  packages/srs/src/slice.test.ts
  packages/srs/src/slice.ts
Due: prettier --write

chore: add study route
  packages/app/src/app/decks/decks-routing.module.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/decks/pages/study-page/study-page.component.html
  packages/app/src/app/decks/pages/study-page/study-page.component.scss
  packages/app/src/app/decks/pages/study-page/study-page.component.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/app/src/styles/_buttons.scss
Due: prettier --write

fix(app): redirect to the first deck if possible
  packages/app/src/app/decks/decks.component.ts
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  65e02b694cdeae72eabc277dfc8612e8e367be5d
Due: none

chore(release): 1.7.1 [skip ci]
  package.json
Due: prettier --write

chore(app): clear screen
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.ts
  packages/app/src/app/decks/decks-routing.module.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/app/src/app/router-params.service.ts
Due: prettier --write

feat(app): srs cards
  packages/app/package.json
  packages/app/src/app/app.module.ts
  packages/app/src/app/decks/decks.module.ts
  packages/app/src/app/decks/pages/study-page/study-page.component.html
  packages/app/src/app/decks/pages/study-page/study-page.component.scss
  packages/app/src/app/decks/pages/study-page/study-page.component.ts
  packages/app/src/app/srs/card-options/card-options.component.html
  packages/app/src/app/srs/card-options/card-options.component.scss
  packages/app/src/app/srs/card-options/card-options.component.ts
  packages/app/src/app/srs/card/card.component.html
  packages/app/src/app/srs/card/card.component.scss
  packages/app/src/app/srs/card/card.component.ts
  packages/app/src/app/srs/list/list.component.html
  packages/app/src/app/srs/list/list.component.scss
  packages/app/src/app/srs/list/list.component.ts
  packages/app/src/app/srs/srs.module.ts
  packages/app/src/app/srs/success/success.component.html
  packages/app/src/app/srs/success/success.component.scss
  packages/app/src/app/srs/success/success.component.ts
  packages/app/src/app/srs/text-length.directive.ts
  packages/srs/package.json
Due: prettier --write

chore(release): 1.8.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9f6ddf8df9f28f1d87a1533a418c78aad4c61c67
Due: none

feat(app): study page back button
  packages/app/src/app/decks/pages/study-page/study-page.component.html
  packages/app/src/app/decks/pages/study-page/study-page.component.scss
  packages/app/src/app/srs/card-options/card-options.component.html
  packages/app/src/app/srs/card-options/card-options.component.scss
  packages/app/src/styles/_reset.scss
  packages/app/src/styles/_utils.scss
Due: prettier --write

chore(release): 1.9.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7b21beb046ee172985e7e290444baecfcc175ff3
Due: none

chore: place cards loader spinner in hero tag
  packages/app/src/app/decks/selected-deck/selected-deck.component.html
  packages/app/src/styles/_utils.scss
Due: prettier --write

feat(app): save srs grade result
  .idea/vocably.iml
  packages/app/src/app/decks/deck.service.ts
  packages/app/src/app/decks/pages/study-page/study-page.component.html
  packages/app/src/app/decks/pages/study-page/study-page.component.ts
  packages/app/src/app/srs/list/list.component.ts
  packages/crud/package.json
  packages/crud/src/index.ts
  packages/model/src/errors.ts
  packages/srs/src/grade.ts
Due: prettier --write

chore(release): 1.10.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b093d0ec2b00dd2ff2c0d1cff0193483303b91e5
Due: none

chore: deploy app with terraform
  packages/app/angular.json
  platform/app.tf
  platform/auth.tf
  platform/locals.tf
Due: prettier --write, terraform-fmt

chore: environmentally-dependant extension name
  packages/extension/.env
  packages/extension/src/manifest.json
  platform/environments.tf
  platform/prod.tfvars
  platform/stage.tfvars
  platform/variables.tf
Due: prettier --write, terraform-fmt

feat(app): side b multiple items
  .idea/vocably.iml
  packages/app/package.json
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/srs/card/card.component.html
  packages/app/src/app/srs/side-b/side-b.component.html
  packages/app/src/app/srs/side-b/side-b.component.scss
  packages/app/src/app/srs/side-b/side-b.component.spec.ts
  packages/app/src/app/srs/side-b/side-b.component.ts
  packages/app/src/app/srs/srs.module.ts
  packages/extension-content-ui/src/components/vocably-translation/readme.md
  packages/extension-service-worker/src/createCards.ts
  packages/sulna/.gitignore
  packages/sulna/jest.config.js
  packages/sulna/package.json
  packages/sulna/src/index.ts
  packages/sulna/src/stringArray.test.ts
  packages/sulna/src/stringArray.ts
  packages/sulna/tsconfig.commonjs.json
  packages/sulna/tsconfig.json
  scripts/build-packages.mjs
Due: prettier --write

chore(release): 1.11.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  73d0d090ec02e5a0feee0493c4a09243b02f03bb
Due: none

fix(pontis): validate chrome environment
  packages/pontis/src/message.ts
Due: prettier --write

chore(release): 1.11.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9488f4b4db449d79a03b01f620f3bc8af1d30957
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
