Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}": "prettier --write",
  "*.tf": "terraform-fmt"
}

feat: sign in with apple
  .idea/terraform.xml
  .idea/watcherTasks.xml
  packages/app/src/app/auth/auth.service.ts
  platform/auth.tf
  platform/env-dev.tfvars
  platform/env-prod.tfvars
  platform/variables.tf
  scripts/declare-variables.sh
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  fe/03be6e417abc88aa9b0b57cd222233ba7f50cd
Due: none

feat: sign in redirects to cognito hosted ui
  packages/app/src/app/auth/auth.module.ts
  packages/app/src/app/auth/sign-in/sign-in-button/sign-in-button.component.html
  packages/app/src/app/auth/sign-in/sign-in-button/sign-in-button.component.scss
  packages/app/src/app/auth/sign-in/sign-in-button/sign-in-button.component.ts
  packages/app/src/app/auth/sign-in/sign-in.component.html
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-google-button/vocably-google-button.scss
  packages/extension-content-ui/src/components/vocably-google-button/vocably-google-button.tsx
  packages/extension-content-ui/src/components/vocably-google-icon/vocably-google-icon.scss
  packages/extension-content-ui/src/components/vocably-google-icon/vocably-google-icon.tsx
  packages/extension-content-ui/src/components/vocably-sign-in/vocably-sign-in.scss
  packages/extension-content-ui/src/components/vocably-sign-in/vocably-sign-in.tsx
Due: prettier --write

Notes added by 'git notes add'
  82/6533a98d9a48143a6d98ab35330fd0f7894efd
Due: none

fix(moa): card item source styles aligned everywhere
  mobile-app/src/CardList.tsx
  mobile-app/src/CardListItem.tsx
  mobile-app/src/DashboardScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  e0/87ee4073288ad431388dcec255feab148a48ae
Due: none

chore(moa): ignore fastlane readme
  mobile-app/ios/fastlane/.gitignore
  mobile-app/ios/fastlane/README.md
Due: prettier --write

feat(auth): no cognito in supported identity providers
  platform/auth.tf
Due: terraform-fmt

Notes added by 'git notes add'
  fe/6a20cf4c03fd92aa04e0286a79c6fc6dd8a86f
Due: none

feat(moa): sign in button
  mobile-app/src/auth/Login.tsx
Due: prettier --write

feat(moa): disable lookup input when source or target are not selected
  mobile-app/src/LookUpScreen.tsx
  mobile-app/src/LookUpScreen/SearchInput.tsx
  mobile-app/src/LookUpScreen/TranslationPreset.tsx
  mobile-app/src/languageDeck/useLanguageDeck.tsx
Due: prettier --write

feat(moa): source language hint
  mobile-app/src/DashboardScreen.tsx
  mobile-app/src/EditDeckScreen.tsx
  mobile-app/src/EmptyCardsList.tsx
  mobile-app/src/LookUpScreen/TranslationPreset.tsx
Due: prettier --write

fix(moa): list selected item
  mobile-app/src/ThemeProvider.tsx
Due: prettier --write

Notes added by 'git notes add'
  49/34f48f64e4753a3322d906aea65b58bcc07c8b
Due: none

feat(moa): Vocably -> VocablyPro
  mobile-app/src/WelcomeScreen.tsx
  mobile-app/src/WelcomeStack.tsx
  mobile-app/src/auth/Login.tsx
Due: prettier --write

Notes added by 'git notes add'
  5b/c49c1aa76df8ee4b23e054919c718b85ab977c
Due: none

fix(moa): look up words for a new deck
  mobile-app/src/LookUpScreen.tsx
  mobile-app/src/LookUpScreen/AnalyzeResult.tsx
  mobile-app/src/LookUpScreen/AnalyzeResultItem.tsx
Due: prettier --write

Notes added by 'git notes add'
  f3/2e10307490844fd7f7435c727b2a901d44ccc4
Due: none

feat(moa): invite user to look up a new word
  mobile-app/src/WelcomeScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  44/579b7b1958c37be379ed4d5947af382b51bac1
Due: none

feat(moa): edit card by clicking the item
  mobile-app/src/CardListItem.tsx
  mobile-app/src/DashboardScreen.tsx
  mobile-app/src/EditDeckScreen.tsx
  mobile-app/src/LookUpScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  18/ed5457f683da132ec3704bc748bbca3ea77824
Due: none

fix(moa): centralaized deck storage
  mobile-app/src/LookUpScreen.tsx
  mobile-app/src/languageDeck/useLanguageDeck.tsx
  mobile-app/src/languages/LanguagesContainer.tsx
Due: prettier --write

fix(moa): display welcome list when card list is empty
  mobile-app/src/DeckContainer.tsx
  mobile-app/src/EditDeckMenu.tsx
  mobile-app/src/LookUpScreen.tsx
  mobile-app/src/languageDeck/useLanguageDeck.tsx
Due: prettier --write

feat(moa): dashboard pull to refresh
  mobile-app/src/DashboardScreen.tsx
  mobile-app/src/SideB.tsx
Due: prettier --write

Notes added by 'git notes add'
  7e/3bbc8e4b6f5a616937529d3a6dc9539f740fe7
Due: none

feat(moa): deck tab to be cards
  mobile-app/src/TabsNavigator.tsx
Due: prettier --write

Notes added by 'git notes add'
  02/9b8b82eb357658bb5d20fa98497d039bd80033
Due: none

feat(moa): load languages error
  mobile-app/src/Error.tsx
  mobile-app/src/languages/LanguagesContainer.tsx
Due: prettier --write

feat(moa): deck container error message
  mobile-app/src/DeckContainer.tsx
Due: prettier --write

Notes added by 'git notes add'
  64/a3032ba296ae6f07bca10c7dea1d3eb85cf7fd
Due: none

feat(moa): unable to update the card score message
  mobile-app/src/auth/AuthContainer.tsx
  mobile-app/src/study/Study.tsx
  mobile-app/src/study/StudyScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  09/74ef7ffc0409a9859dc608899b4de3fefe817b
Due: none

feat(moa): friendly error messages on unavailable network operations
  mobile-app/src/DeckContainer.tsx
  mobile-app/src/EditDeckMenu.tsx
  mobile-app/src/Error.tsx
  mobile-app/src/languages/LanguagesContainer.tsx
  mobile-app/src/study/Study.tsx
Due: prettier --write

Notes added by 'git notes add'
  d1/f886c16a7b697d9d422438211cea56df6132e0
Due: none

feat(moa): edit and delete card error messages
  mobile-app/src/EditCardScreen.tsx
  mobile-app/src/EditDeckMenu.tsx
  mobile-app/src/EditDeckScreen.tsx
  mobile-app/src/study/Study.tsx
Due: prettier --write

Notes added by 'git notes add'
  da/3dc352fa952ffd999dd162790829879ba7a847
Due: none

feat(moa): error message while adding and removing cards
  mobile-app/src/LookUpScreen.tsx
Due: prettier --write

Notes added by 'git notes add'
  56/7f6f6955e14316a147189e55cb1595308cc32c
Due: none

feat(moa): practice button is disabled while the device is offline
  mobile-app/ios/Podfile.lock
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/DashboardScreen.tsx
Due: prettier --write
