Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

Notes added by 'git notes add'
  34/a4542631c488752eccd52a14d42c9a6d9123da
Due: none

chore: external hermes
  package-lock.json
  package.json
  packages/extension-messages/package.json
  packages/hermes/.gitignore
  packages/hermes/package.json
  packages/hermes/src/index.ts
  packages/hermes/tsconfig.commonjs.json
  packages/hermes/tsconfig.json
Due: prettier --write

chore: get rid of the futile cache storage
  packages/pontis/src/app-auth-storage.ts
  packages/pontis/src/cache-storage-operations.ts
  packages/pontis/src/cache-storage.ts
Due: prettier --write

chore: no need to build hermes anymore
  scripts/build-packages.mjs
Due: prettier --write

chore(pontis): get rid of obsolete code
  packages/pontis/src/app-auth-storage.ts
  packages/pontis/src/message.ts
  packages/pontis/src/types.ts
Due: prettier --write

chore: external pontis
  package-lock.json
  package.json
  packages/pontis/.gitignore
  packages/pontis/package.json
  packages/pontis/src/app-auth-storage.ts
  packages/pontis/src/extension-auth-storage.ts
  packages/pontis/src/extension-operations.ts
  packages/pontis/src/extension-storage-operations.ts
  packages/pontis/src/index.ts
  packages/pontis/src/register-extension-storage.ts
  packages/pontis/tsconfig.commonjs.json
  packages/pontis/tsconfig.json
  scripts/build-packages.mjs
Due: prettier --write

chore: expose latest artifact in the artifacts bucket
  scripts/build-extension.mjs
Due: prettier --write

chore: e2e www
  packages/e2e-www/favicon.ico
  packages/e2e-www/index.html
  packages/e2e-www/robots.txt
  platform/e2e-www.tf
  platform/locals.tf
Due: prettier --write, terraform-fmt

ci: run endtest
  .circleci/config.yml
  packages/app/src/app/static-pages/static-pages-routing.module.ts
  packages/app/src/app/static-pages/static-pages.module.ts
  packages/app/src/app/static-pages/user-info-page/user-info-page.component.html
  packages/app/src/app/static-pages/user-info-page/user-info-page.component.scss
  packages/app/src/app/static-pages/user-info-page/user-info-page.component.ts
  platform/env-dev.tfvars
  platform/environments.tf
  platform/locals.tf
  platform/variables.tf
  scripts/.env
  scripts/declare-variables.sh
  scripts/endtest.sh
  scripts/reset-user-decks.mjs
  scripts/reset-user.mjs
  scripts/run-e2e-tests.mjs
  scripts/user/getSub.mjs
Due: prettier --write, terraform-fmt

chore(e2e): reset user under scripts dir
  scripts/run-e2e-tests.mjs
Due: prettier --write

ci: run scripts under scripts dir
  scripts/reset-user.mjs
  scripts/run-e2e-tests.mjs
Due: prettier --write

chore: run endtest scripts with zx
  package-lock.json
  package.json
  scripts/endtest.sh
  scripts/reset-user.mjs
  scripts/run-e2e-tests.mjs
Due: prettier --write

chore: data-test attributes
  packages/app/src/app/decks/deck-selector/deck-selector.component.html
  packages/extension-content-ui/src/components/vocably-sign-in/vocably-sign-in.tsx
  packages/extension-content-ui/src/components/vocably-subscribe/vocably-subscribe.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
Due: prettier --write

chore: run e2e tests last
  .circleci/config.yml
Due: prettier --write

chore: subscription-flow test selector
  packages/app/src/app/subscription/pages/auto-subscribe-page/auto-subscribe-page.component.html
Due: prettier --write

chore: omit simlinks while extension zip compression
  scripts/build-extension.mjs
  scripts/reset-user-subscription.mjs
Due: prettier --write

ci(dev): set latest env suite to Dev - Extension Flow
  platform/env-dev.tfvars
Due: none

feat(www): about, ios, android, and alternatives pages
  packages/www/alternatives.js
  packages/www/src/pages/about.handlebars
  packages/www/src/pages/alternatives.handlebars
  packages/www/src/pages/android.handlebars
  packages/www/src/pages/ios.handlebars
  packages/www/src/pages/privacy-policy.handlebars
  packages/www/src/pages/terms-and-conditions.handlebars
  packages/www/src/partials/layout.handlebars
  packages/www/src/partials/text-container.handlebars
  packages/www/src/styles/_global.scss
  packages/www/webpack.config.js
Due: prettier --write

fix(www): alternatives achive -> possess
  packages/www/src/pages/alternatives.handlebars
Due: none

Notes added by 'git notes add'
  dd/1cac3b6ef2371151f5f80cc6c117fd073c770b
Due: none

feat(www): tbd page
  packages/www/src/pages/tbd.handlebars
Due: none

Notes added by 'git notes add'
  b8/ccc725f8462e6fcfb501d4a5c4122b658d57d9
Due: none

feat(app): ios installation instructions
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/pages/android-page/android-page.component.html
  packages/app/src/app/pages/android-page/android-page.component.scss
  packages/app/src/app/pages/android-page/android-page.component.ts
  packages/app/src/app/pages/ios-page/ios-page.component.html
  packages/app/src/app/pages/ios-page/ios-page.component.scss
  packages/app/src/app/pages/ios-page/ios-page.component.ts
  packages/app/src/assets/ios-add.svg
  packages/app/src/assets/ios-share.svg
Due: prettier --write

feat(app): ios and android page titles
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/pages/ios-page/ios-page.component.html
Due: prettier --write

Notes added by 'git notes add'
  05/b6b2599cd10a5ca1adbbbf9dd9be0a5c76514c
Due: none

feat(app): android installation instructions
  packages/app/src/app/pages/android-page/android-page.component.html
  packages/app/src/app/pages/android-page/android-page.component.ts
  packages/app/src/app/pages/ios-page/ios-page.component.html
  packages/app/src/app/pages/ios-page/ios-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  e1/163608b2169db7053077ff786aaab66f971abd
Due: none

feat(www): footer with links
  packages/www/src/assets/logo-dark.svg
  packages/www/src/pages/tbd.handlebars
  packages/www/src/partials/layout.handlebars
  packages/www/src/styles/sections/_footer.scss
Due: prettier --write

Notes added by 'git notes add'
  c7/d4730b7fac7709b40f1efb0b5690abe87b8ddd
Due: none

feat(www): neat copyright in footer
  packages/www/src/partials/layout.handlebars
Due: none

Notes added by 'git notes add'
  15/c0d2bc5eb7e0fc3c66ce50a7f35fdd6e253172
Due: none

fix(app): set title to simply Vocably for ios page in safari browser
  packages/app/src/app/app-routing.module.ts
  packages/app/src/app/isIosSafari.ts
  packages/app/src/app/pages/ios-page/ios-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  cd/7d00be7b42f573b503a8c6534607ba46e0a6b5
Due: none

fix: grammar
  packages/app/src/app/pages/android-page/android-page.component.html
  packages/app/src/app/pages/ios-page/ios-page.component.html
  packages/app/src/app/subscription/subscription-product/subscription-product.component.html
  packages/www/src/pages/about.handlebars
  packages/www/src/pages/alternatives.handlebars
  packages/www/src/pages/android.handlebars
  packages/www/src/pages/ios.handlebars
  packages/www/src/pages/tbd.handlebars
Due: prettier --write

Notes added by 'git notes add'
  8a/45dafd77fd7b0f753d8f4f56a825b43c8c76fc
Due: none

feat(www): beautiful footer
  packages/www/src/partials/layout.handlebars
  packages/www/src/styles/sections/_footer.scss
Due: prettier --write

feat(www): less vertical padding for legal footer
  packages/www/src/partials/layout.handlebars
Due: none

Notes added by 'git notes add'
  54/7819407e991e508e356d97b5322d4401a8c841
Due: none

fix(prod): endtest latest env suite
  platform/env-prod.tfvars
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
