Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

fix(app): synchronize decks before updating
  packages/app/src/app/decks/deck.service.ts
Due: prettier --write

feat(app): log errors with Sentry
  package-lock.json
  packages/app/package.json
  packages/app/src/app/app.module.ts
  packages/app/src/app/decks/decks.component.ts
  packages/app/src/app/decks/selected-deck/selected-deck.component.ts
  packages/app/src/main.ts
Due: prettier --write

feat(app): display offline status
  packages/app/src/app/app.component.html
  packages/app/src/app/app.component.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/components/components.module.ts
  packages/app/src/app/components/offline/offline.component.html
  packages/app/src/app/components/offline/offline.component.scss
  packages/app/src/app/components/offline/offline.component.ts
Due: prettier --write

Notes added by 'git notes add'
  5d/7bacdf2ca41178c3d39d596d8fc646cad291f8
Due: none

fix(app): save card after editing
  packages/app/src/app/decks/pages/edit-page/edit-page.component.html
  packages/app/src/app/decks/pages/edit-page/edit-page.component.ts
Due: prettier --write

Notes added by 'git notes add'
  0c/a317d31bdd859d068b50dc503b9d6e8117ef4b
Due: none

feat(app): dark logo splashscreen
  assets/icon.png
  assets/logo-dark.svg
  packages/app/src/assets/apple-splash-1125-2436.jpg
  packages/app/src/assets/apple-splash-1136-640.jpg
  packages/app/src/assets/apple-splash-1170-2532.jpg
  packages/app/src/assets/apple-splash-1242-2208.jpg
  packages/app/src/assets/apple-splash-1242-2688.jpg
  packages/app/src/assets/apple-splash-1284-2778.jpg
  packages/app/src/assets/apple-splash-1334-750.jpg
  packages/app/src/assets/apple-splash-1536-2048.jpg
  packages/app/src/assets/apple-splash-1620-2160.jpg
  packages/app/src/assets/apple-splash-1668-2224.jpg
  packages/app/src/assets/apple-splash-1668-2388.jpg
  packages/app/src/assets/apple-splash-1792-828.jpg
  packages/app/src/assets/apple-splash-2048-1536.jpg
  packages/app/src/assets/apple-splash-2048-2732.jpg
  packages/app/src/assets/apple-splash-2160-1620.jpg
  packages/app/src/assets/apple-splash-2208-1242.jpg
  packages/app/src/assets/apple-splash-2224-1668.jpg
  packages/app/src/assets/apple-splash-2388-1668.jpg
  packages/app/src/assets/apple-splash-2436-1125.jpg
  packages/app/src/assets/apple-splash-2532-1170.jpg
  packages/app/src/assets/apple-splash-2688-1242.jpg
  packages/app/src/assets/apple-splash-2732-2048.jpg
  packages/app/src/assets/apple-splash-2778-1284.jpg
  packages/app/src/assets/apple-splash-640-1136.jpg
  packages/app/src/assets/apple-splash-750-1334.jpg
  packages/app/src/assets/apple-splash-828-1792.jpg
  scripts/update-icon.mjs
Due: prettier --write

Notes added by 'git notes add'
  31/6e80156331d7ee7c81a6a88cd9eacdf7893b38
Due: none

feat(app): white splash screen
  assets/icon.png
  assets/logo-light.svg
  packages/app/src/assets/apple-splash-1125-2436.jpg
  packages/app/src/assets/apple-splash-1136-640.jpg
  packages/app/src/assets/apple-splash-1170-2532.jpg
  packages/app/src/assets/apple-splash-1242-2208.jpg
  packages/app/src/assets/apple-splash-1242-2688.jpg
  packages/app/src/assets/apple-splash-1284-2778.jpg
  packages/app/src/assets/apple-splash-1334-750.jpg
  packages/app/src/assets/apple-splash-1536-2048.jpg
  packages/app/src/assets/apple-splash-1620-2160.jpg
  packages/app/src/assets/apple-splash-1668-2224.jpg
  packages/app/src/assets/apple-splash-1668-2388.jpg
  packages/app/src/assets/apple-splash-1792-828.jpg
  packages/app/src/assets/apple-splash-2048-1536.jpg
  packages/app/src/assets/apple-splash-2048-2732.jpg
  packages/app/src/assets/apple-splash-2160-1620.jpg
  packages/app/src/assets/apple-splash-2208-1242.jpg
  packages/app/src/assets/apple-splash-2224-1668.jpg
  packages/app/src/assets/apple-splash-2388-1668.jpg
  packages/app/src/assets/apple-splash-2436-1125.jpg
  packages/app/src/assets/apple-splash-2532-1170.jpg
  packages/app/src/assets/apple-splash-2688-1242.jpg
  packages/app/src/assets/apple-splash-2732-2048.jpg
  packages/app/src/assets/apple-splash-2778-1284.jpg
  packages/app/src/assets/apple-splash-640-1136.jpg
  packages/app/src/assets/apple-splash-750-1334.jpg
  packages/app/src/assets/apple-splash-828-1792.jpg
  packages/app/src/manifest.json
  scripts/update-icon.mjs
Due: prettier --write

chore: fix backend unit test
  packages/backend/src/lambdas/analyze/index.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  15/9a733a8feea56ab26b4731a209fece2ae38b00
Due: none

fix: wording
  packages/app/src/app/header/header.component.html
  packages/extension-content-script/src/popup/contents.ts
Due: prettier --write

Notes added by 'git notes add'
  57/f4bc3cf951dcdcd5dc1728755765c95d0fe02b
Due: none

feat: monthly and yearly subscription
  packages/app/src/app/auth/auth.service.ts
  packages/app/src/app/subscription/getAvailableProducts.ts
  packages/app/src/app/subscription/isEligibleForTrial.ts
  packages/app/src/app/subscription/paddle.ts
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.ts
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.html
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.html
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.scss
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.ts
  packages/app/src/app/subscription/subscription-form/subscription-form.component.html
  packages/app/src/app/subscription/subscription-form/subscription-form.component.ts
  packages/app/src/app/subscription/subscription-product/subscription-product.component.html
  packages/app/src/app/subscription/subscription-product/subscription-product.component.scss
  packages/app/src/app/subscription/subscription-product/subscription-product.component.ts
  packages/app/src/app/subscription/subscription.module.ts
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/_variables.scss
  packages/backend/src/lambdas/paddle/handleEvent/setupUserAttributes.ts
  packages/backend/src/lambdas/paddle/types.ts
  packages/styles/_utils.scss
  platform/auth-attributes.tf
  platform/auth.tf
  platform/environments.tf
  platform/variables.tf
  scripts/.env
  scripts/reset-user-subscription.mjs
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  fe/f7deeda7b46b8370685bc1f95938546b80b81e
Due: none

chore: upload the app only when ngsw.json has been changed
  platform/app.tf
Due: terraform-fmt

fix(extension): delete entire entire deck (if necessary) in case of language change
  packages/extension-service-worker/src/index.ts
Due: prettier --write

Notes added by 'git notes add'
  e5/1a6b57aac9f28501328526f4905628c616004e
Due: none

fix(app): detect app online status at the startup
  packages/app/src/app/app.component.ts
Due: prettier --write

Notes added by 'git notes add'
  74/39ebb366ba597a52755a32bff6090f64adc415
Due: none

chore(e2e): fix integration tests
  packages/app-e2e/cypress/integration/2-authorized/dashboard-screen.spec.ts
  packages/app-e2e/cypress/integration/2-authorized/edit-card.spec.ts
  packages/app-e2e/cypress/support/snapshot.ts
  packages/app-e2e/snapshots/All Integration Specs/deck selector clicked.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit card - cancelled item.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit card - type new value.snap.png
  packages/app-e2e/snapshots/All Integration Specs/login screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/multiple decks screen - dutch.snap.png
  packages/app-e2e/snapshots/All Integration Specs/multiple decks screen - french.snap.png
  packages/app-e2e/snapshots/All Integration Specs/no decks screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/single deck screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/updated card item.snap.png
  packages/app/src/app/decks/pages/edit-page/delete-confirmation-dialog/delete-confirmation-dialog.component.html
Due: prettier --write

feat(app): subscription plan cards
  packages/app/src/app/subscription/getAvailableProducts.ts
  packages/app/src/app/subscription/months.pipe.ts
  packages/app/src/app/subscription/paddle.ts
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.html
  packages/app/src/app/subscription/saving.pipe.ts
  packages/app/src/app/subscription/subscription-form/subscription-form.component.html
  packages/app/src/app/subscription/subscription-product/subscription-product.component.html
  packages/app/src/app/subscription/subscription-product/subscription-product.component.scss
  packages/app/src/app/subscription/subscription.module.ts
  packages/app/src/environments/environmentLocal.example.ts
  packages/app/src/index.html
  packages/app/src/styles/_buttons.scss
  packages/app/src/styles/_layout.scss
  packages/app/src/styles/_themes.scss
  packages/app/src/styles/_variables.scss
  packages/styles/_colors.scss
  packages/styles/_utils.scss
  platform/environments.tf
  platform/variables.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  b2/a6ab6c83cef4077aaa56afef91a9e320e66fa0
Due: none

feat(app): success icon right after successful payment
  packages/app/src/app/subscription/pages/auto-subscribe-page/auto-subscribe-page.component.html
  packages/app/src/app/subscription/pages/subscribe-page/subscribe-page.component.html
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.html
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.scss
Due: prettier --write

refactor(backend): use rapidapi for lexicala requests
  packages/backend/.env
  packages/backend/src/lexicala.ts
  platform/environments.tf
  platform/variables.tf
Due: prettier --write, terraform-fmt

ci: use lexicala_host and lexicala_key variables
  scripts/declare-variables.sh
Due: none

Notes added by 'git notes add'
  40/9d65572205bc96f645bf6968ee1ae968cf1027
Due: none

fix(extension): absolute sizing
  packages/extension-content-ui/src/components/vocably-alert/vocably-alert.scss
  packages/extension-content-ui/src/components/vocably-button/vocably-button.scss
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.scss
  packages/extension-content-ui/src/components/vocably-side-b/vocably-side-b.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/index.html
  packages/extension-content-ui/src/styles/_mixins.scss
  packages/extension-content-ui/src/styles/_variables.scss
  packages/extension-content-ui/src/styles/component.scss
Due: prettier --write

Notes added by 'git notes add'
  5d/f1bc84fc3855e53836b438a09070b48a62373a
Due: none

fix(app): hero scroll when necessary
  packages/app/src/styles/_hero.scss
Due: prettier --write

Notes added by 'git notes add'
  6d/3bab26d590f3d1eb9c926d7984c7e7d4de51f3
Due: none

feat(app): no cards subscription cta
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.ts
  packages/app/src/app/subscription/isSubscribed.ts
Due: prettier --write

Notes added by 'git notes add'
  8c/114c27af2c6fd05afff6bc391be66f8aa1cdd7
Due: none

test(e2e): reset custom user attributes on request
  package-lock.json
  packages/app-e2e/cypress/integration/2-authorized/dashboard-screen.spec.ts
  packages/app-e2e/cypress/plugins/index.ts
  packages/app-e2e/cypress/plugins/reset-user-custom-attributes.ts
  packages/app-e2e/package.json
  packages/app-e2e/snapshots/All Integration Specs/deck selector clicked.snap.png
  packages/app-e2e/snapshots/All Integration Specs/delete card - restore button.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit card - cancelled item.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit card - form.snap.png
  packages/app-e2e/snapshots/All Integration Specs/edit dutch.snap.png
  packages/app-e2e/snapshots/All Integration Specs/login screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/multiple decks screen - dutch.snap.png
  packages/app-e2e/snapshots/All Integration Specs/multiple decks screen - french.snap.png
  packages/app-e2e/snapshots/All Integration Specs/no decks screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/permanently deleted card item.snap.png
  packages/app-e2e/snapshots/All Integration Specs/single deck screen.snap.png
  packages/app-e2e/snapshots/All Integration Specs/updated card item.snap.png
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
Due: prettier --write

test(e2e): trial subscription flow
  packages/app-e2e/cypress.json
  packages/app-e2e/cypress/integration/2-authorized/dashboard-screen.spec.ts
  packages/app-e2e/cypress/integration/2-authorized/subscription-flow.spec.ts
  packages/app-e2e/snapshots/All Integration Specs/empty subscribed dashboard.snap.png
  packages/app-e2e/snapshots/All Integration Specs/empty unsubscribed dashboard.snap.png
  packages/app-e2e/snapshots/All Integration Specs/manage subscription.snap.png
  packages/app-e2e/snapshots/All Integration Specs/select subscription error prompt.snap.png
  packages/app-e2e/snapshots/All Integration Specs/successful trial payment.snap.png
  packages/app-e2e/snapshots/All Integration Specs/trial subscription cancel success.snap.png
  packages/app-e2e/snapshots/All Integration Specs/trial subscription initial select plan.snap.png
  packages/app-e2e/snapshots/All Integration Specs/trial subscription selected.snap.png
  packages/app/src/app/decks/pages/no-decks-page/no-decks-page.component.html
  packages/app/src/app/header/header.component.html
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.html
  packages/app/src/app/subscription/pages/manage-page/manage-page.component.ts
  packages/app/src/app/subscription/subscription-flow/subscription-flow.component.html
  packages/app/src/app/subscription/subscription-product/subscription-product.component.html
Due: prettier --write

feat(app): track buttons
  packages/app/src/app/app.component.ts
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.html
  packages/app/src/app/srs/success/success.component.html
  packages/app/src/index.html
  packages/app/src/piwik.ts
Due: prettier --write

test(backend): fix unit test
  packages/backend/src/translateText.spec.ts
Due: prettier --write

Notes added by 'git notes add'
  33/f4f90a8a799e93c3a391db2a1bb8286ae3e279
Due: none

feat(app): piwik environments
  packages/app/src/app/app.component.ts
  packages/app/src/environments/environmentLocal.example.ts
  packages/app/src/index.html
  packages/app/src/piwik.ts
  platform/environments.tf
  platform/prod.tfvars
  platform/variables.tf
Due: prettier --write, terraform-fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
