Repository vocably/vocably-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform-fmt

properly sign ios app
  mobile-app/VERSION
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

android v1.11
  mobile-app/android/app/build.gradle
Due: none

Delete `copy-packages` script
  mobile-app/package.json
Due: prettier --write

Fix android icons
  mobile-app/android/app/build.gradle
Due: none

Fix modal alignment
  mobile-app/src/dialogAlign.ts
Due: prettier --write

Update dependencies
  mobile-app/ios/Podfile.lock
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/package-lock.json
  mobile-app/package.json
Due: prettier --write

Add storing passwords in .env file
  mobile-app/android/.gitignore
  mobile-app/android/fastlane/.env.example
  mobile-app/android/fastlane/Fastfile
Due: none

Rename `.env` to `.passwords`
  mobile-app/android/.gitignore
  mobile-app/android/fastlane/.passwords.example
  mobile-app/android/fastlane/Fastfile
Due: none

bundle and podfile
  mobile-app/android/app/build.gradle
  mobile-app/ios/Podfile.lock
Due: none

install jest libraries
  package-lock.json
  package.json
Due: prettier --write

install missing deps
  package-lock.json
  package.json
Due: prettier --write

chore: fix tests
  package-lock.json
  package.json
Due: prettier --write

add ts-jest
  package-lock.json
  package.json
Due: prettier --write

chore: ts-jest
  package-lock.json
  package.json
Due: prettier --write

chore(dependencies): strict version numbers
  package-lock.json
  package.json
Due: prettier --write

review
  packages/api/src/index.ts
  packages/api/src/userMetadata.ts
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-rate/vocably-rate.scss
  packages/extension-content-ui/src/components/vocably-rate/vocably-rate.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-content-ui/src/styles/_mixins.scss
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/userMetadata.ts
  platform/api-user-files.tf
  platform/api.tf
Due: prettier --write, terraform-fmt

ask for rating in chrome
  packages/extension-content-script/public/index.html
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/detectExtensionPlatform.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-rate/vocably-rate.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/askForRatingCounter.ts
  packages/extension-service-worker/src/index.ts
  packages/extension-service-worker/src/userMetadata.ts
  packages/model/src/userMetadata.ts
Due: prettier --write

get rid of reduntant code
  packages/app/src/app/decks/pages/dashboard-page/dashboard-page.component.ts
Due: prettier --write

user files in an individual bucket
  platform/api-user-files.tf
Due: terraform-fmt

popup
  packages/extension-content-script/src/popup.ts
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.tsx
Due: prettier --write

feat(extension): ask for review (#17)
  packages/api/src/index.ts
  packages/api/src/userMetadata.ts
  packages/extension-content-script/public/index.html
  packages/extension-content-script/public/index.ts
  packages/extension-content-script/src/api.ts
  packages/extension-content-script/src/detectExtensionPlatform.ts
  packages/extension-content-script/src/popup.ts
  packages/extension-content-script/src/popup/contents.ts
  packages/extension-content-ui/src/components.d.ts
  packages/extension-content-ui/src/components/vocably-popup/vocably-popup.tsx
  packages/extension-content-ui/src/components/vocably-rate/vocably-rate.scss
  packages/extension-content-ui/src/components/vocably-rate/vocably-rate.tsx
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.scss
  packages/extension-content-ui/src/components/vocably-translation/vocably-translation.tsx
  packages/extension-content-ui/src/index.html
  packages/extension-content-ui/src/styles/_mixins.scss
  packages/extension-messages/src/index.ts
  packages/extension-service-worker/src/askForRatingCounter.ts
  packages/extension-service-worker/src/index.ts
  packages/extension-service-worker/src/userMetadata.ts
  packages/model/src/errors.ts
  packages/model/src/index.ts
  packages/model/src/userMetadata.ts
  platform/api-user-files.tf
  platform/api.tf
Due: prettier --write, terraform-fmt

Notes added by 'git notes add'
  9e/5a11d9153b95545597bb2bea571c4544895faf
Due: none

fix(app): mac safari pwa
  package-lock.json
  package.json
  packages/app/angular.json
  packages/app/ngsw-config.json
  packages/app/package.json
  packages/app/src/app/app.component.ts
  packages/app/src/app/app.module.ts
  packages/app/src/app/update.service.ts
Due: prettier --write

fix(app): mac safari pwa
  platform/app.tf
Due: terraform-fmt

Notes added by 'git notes add'
  85/077f4e5449a1b0a3fdecf3d2671ff6bbcc80b6
Due: none

bump(safari): 1.237.1
  safari-web-extension/Vocably/Vocably Extension/Resources/content-script.js
  safari-web-extension/Vocably/Vocably Extension/Resources/manifest.json
  safari-web-extension/Vocably/Vocably Extension/Resources/popup/3rdpartylicenses.txt
  safari-web-extension/Vocably/Vocably Extension/Resources/popup/781.js
  safari-web-extension/Vocably/Vocably Extension/Resources/popup/assets/qrcode.svg
  safari-web-extension/Vocably/Vocably Extension/Resources/popup/main.js
  safari-web-extension/Vocably/Vocably Extension/Resources/popup/polyfills.js
  safari-web-extension/Vocably/Vocably Extension/Resources/popup/styles.css
  safari-web-extension/Vocably/Vocably Extension/Resources/service-worker.js
  safari-web-extension/Vocably/Vocably Extension/Resources/service-worker.js.LICENSE.txt
  safari-web-extension/Vocably/Vocably.xcodeproj/project.pbxproj
  safari-web-extension/Vocably/Vocably.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate
Due: prettier --write

fix(platform): card backup lambda
  platform/cards-backup.tf
  safari-web-extension/Vocably/Vocably.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate
Due: terraform-fmt

Notes added by 'git notes add'
  55/deb8284855f26a76b0ff9448e7a46512bee430
Due: none

ask for review
  mobile-app/src/AskForReview.tsx
  mobile-app/src/AskForReview/Form.tsx
  mobile-app/src/AskForReview/isOkayToAsk.ts
  mobile-app/src/AskForReview/useNumberOfRepetitions.ts
  mobile-app/src/study/Card.tsx
  mobile-app/src/study/Completed.tsx
  mobile-app/src/study/Study.tsx
  safari-web-extension/Vocably/Vocably.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate
Due: prettier --write

rate on mobile
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/src/App.tsx
  mobile-app/src/AskForReview.tsx
  mobile-app/src/AskForReview/Form.tsx
  mobile-app/src/AskForReview/isOkayToAsk.ts
  mobile-app/src/AskForReview/useNumberOfRepetitions.ts
  mobile-app/src/UserMetadataContainer.tsx
  mobile-app/src/mobilePlatform.ts
  mobile-app/tsconfig.json
  packages/api/src/userMetadata.ts
  packages/model/src/userMetadata.ts
Due: prettier --write

form text color
  mobile-app/src/AskForReview/Form.tsx
Due: prettier --write

android version
  mobile-app/android/app/build.gradle
Due: none

feat(moa): ask for review (#18)
  mobile-app/android/app/build.gradle
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/src/App.tsx
  mobile-app/src/AskForReview.tsx
  mobile-app/src/AskForReview/Form.tsx
  mobile-app/src/AskForReview/isOkayToAsk.ts
  mobile-app/src/AskForReview/useNumberOfRepetitions.ts
  mobile-app/src/UserMetadataContainer.tsx
  mobile-app/src/mobilePlatform.ts
  mobile-app/src/study/Card.tsx
  mobile-app/src/study/Completed.tsx
  mobile-app/src/study/Study.tsx
  mobile-app/tsconfig.json
  packages/api/src/userMetadata.ts
  packages/model/src/userMetadata.ts
  safari-web-extension/Vocably/Vocably.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate
Due: prettier --write

Notes added by 'git notes add'
  f7/6d38261c389ea19861e03b95de669801d1f297
Due: none

Install `react-native-share-menu`
  mobile-app/package-lock.json
  mobile-app/package.json
Due: prettier --write

Create new share extension target
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyProShare/Base.lproj/MainInterface.storyboard
  mobile-app/ios/VocablyProShare/Info.plist
  mobile-app/ios/VocablyProShare/ShareViewController.swift
Due: none

Use `ShareVieController.swift` from the packages
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyProShare/ShareViewController.swift
Due: none

Make changes to Podfile
  mobile-app/ios/Podfile
Due: none

chore(moa): bump 1.12
  mobile-app/VERSION
  mobile-app/ios/VocablyPro.xcodeproj/project.pbxproj
  mobile-app/ios/VocablyPro/Info.plist
  mobile-app/ios/VocablyProTests/Info.plist
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json,yml,mjs}
  terraform-fmt: any of: *.tf
